body {
	unicode-bidi: embed;
	direction: rtl;
}

blockquote {
	border-right: 3px solid #dd5533;
	border-left: none;
}

ul,
ol {
	padding: 0 1.25em 0 0;
}

li > ul,
li > ol {
	margin-right: 1.5em;
	margin-left: 0;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	right: 5px;
	left: auto;
}

.alignleft {
	float: right;
	margin-right: 0;
	margin-left: 1.5em;
}

.alignright {
	float: left;
	margin-right: 1.5em;
	margin-left: 0;
}

.aligncenter {
	margin-right: 0;
	margin-right: auto;
	margin-left: 0;
	margin-left: auto;
}

.site-branding {
	float: right;
}

.site-branding .custom-logo {
	margin: 0.5em 0 0 1em;
}

.header-widget {
	float: left;
	margin: 0.5em 1.5em 0 0;
}

.main-navigation-menu {
	float: right;
}

.main-navigation-menu li {
	float: right;
}

.main-navigation-menu > .menu-item-has-children > a:after {
	margin: 0.4em 0.3em 0 0;
}

.main-navigation-menu ul .menu-item-has-children > a:after {
	margin: 0.4em 0.3em 0 0;
	transform: rotate(-270deg);
}

.main-navigation-menu li ul ul {
	right: 100%;
	left: auto;
	border-right: 1px dotted rgba(255,255,255,0.2);
	border-left: none;
}

.social-icons-menu li {
	float: right;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 1em 0.5em 0;
}

.search-form .search-field {
	padding: 0.5em 0.7em 0.5em 1.5em;
}

.search-form .search-submit {
	right: auto;
	left: 0;
	padding: 0.65em 0.2em 0 0.75em;
}

.search-form .search-submit .genericon-search {
	padding: 0.05em 0.45em 0.55em 0;
}

.widget_calendar table tfoot tr #prev {
	text-align: right;
}

.widget_calendar table tfoot tr #next {
	text-align: left;
}

.widget-magazine-posts .medium-post {
	float: right;
	padding-right: 0;
	padding-left: 1.5em;
}

.widget-magazine-posts .small-post {
	float: right;
}

.widget-magazine-posts .small-post .wp-post-image {
	float: right;
	margin: 0 0 0 1em;
}

.widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .wp-post-image {
	float: right;
	padding-right: 0;
	padding-left: 0.75em;
}

.widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .post-content {
	float: left;
	padding-right: 0.75em;
	padding-left: 0;
}

.widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .medium-posts {
	margin-right: 0;
	margin-left: -1.5em;
}

.widget-magazine-posts-boxed .magazine-posts-boxed-vertical .large-post {
	float: right;
	padding-right: 0;
	padding-left: 0.75em;
}

.widget-magazine-posts-boxed .magazine-posts-boxed-vertical .small-posts {
	margin-right: 50%;
	margin-left: 0;
	padding-right: 0.75em;
	padding-left: 0;
}

.widget-magazine-posts-grid .magazine-posts-grid-row {
	margin-right: 0;
	margin-left: -1.5em;
}

.widget-magazine-posts-grid .magazine-posts-grid-row .large-post {
	float: right;
	padding-right: 0;
	padding-left: 1.5em;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content .magazine-posts-columns-post-list {
	float: right;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content {
	float: right;
}

.widget-magazine-posts-columns .magazine-posts-column-left {
	float: right;
	padding-right: 0;
	padding-left: 1em;
}

.widget-magazine-posts-columns .magazine-posts-column-right {
	margin-right: 50%;
	margin-left: 0;
	padding-right: 1em;
	padding-left: 0;
}

.widget-magazine-posts-columns .medium-post {
	padding-right: 0;
	padding-left: 0;
}

.entry-meta .meta-date,
.entry-meta .meta-author,
.entry-meta .meta-category,
.entry-meta .meta-comments {
	float: right;
	margin-right: 0;
	margin-left: 1.5em;
}

.entry-meta span:before {
	margin-right: 0;
	margin-left: 0.2em;
}

.widget_tag_cloud .tagcloud a,
.entry-tags .meta-tags a {
	float: right;
	margin: 0 0 2px 2px;
}

.post-navigation .nav-links .nav-previous {
	float: right;
}

.post-navigation .nav-links .nav-next {
	float: left;
}

.post-navigation .nav-links .nav-previous a:before {
	margin-right: 0;
	margin-left: 3px;
}

.post-navigation .nav-links .nav-next a:after {
	margin-right: 4px;
	margin-left: 0;
}

.post-pagination a,
.post-pagination .current {
	margin: 0 0 3px 3px;
}

.infinite-scroll .infinite-loader .spinner {
	right: auto;
	left: auto;
}

.breadcrumbs .trail-browse {
	margin-right: 0;
	margin-left: 0.5em;
}

.post-layout-columns .post-wrapper {
	margin-right: 0;
	margin-left: -2em;
}

.post-layout-columns .post-wrapper .post-column {
	padding-right: 0;
	padding-left: 2em;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
	@media {
		.post-layout-columns .post-wrapper .post-column {
			margin-right: 0;
			margin-left: -1px;
		}
	}
}

.comment-meta {
	float: right;
}

.comment-meta .comment-author img {
	float: right;
	margin-right: 0;
	margin-left: 1em;
}

.comment-meta .comment-metadata a {
	margin-right: 0;
	margin-left: 1em;
}

.comment-content {
	clear: right;
}

.comment-navigation .nav-previous {
	float: right;
}

.comment-navigation .nav-next {
	float: left;
}

.comment-navigation .nav-previous a:before {
	margin-right: 0;
	margin-left: 3px;
}

.comment-navigation .nav-next a:after {
	margin-right: 4px;
	margin-left: 0;
}

.comment-reply-title small a {
	margin-right: 1em;
	margin-left: 0;
}

.site-footer .site-info {
	float: right;
}

.gallery-item {
	padding: 0.75em 0 0 1em;
}

@media only screen and (max-width: 80em) {
	.content-area {
		padding-right: 0;
		padding-left: 1.5em;
	}

	.post-layout-columns .post-wrapper {
		margin-right: 0;
		margin-left: -1.5em;
	}

	.post-layout-columns .post-wrapper .post-column {
		padding-right: 0;
		padding-left: 1.5em;
	}

}

@media only screen and (max-width: 60em) {
	.sidebar {
		margin-right: 0;
		margin-left: -1.5em;
	}

	.sidebar .widget-wrap {
		float: left;
		padding-right: 0;
		padding-left: 1.5em;
	}

	.sidebar .widget-wrap:nth-child(2n + 1) {
		clear: right;
	}

	.main-navigation-menu ul,
	.mega-menu-item .mega-menu-content,
	.mega-menu-item .mega-menu-content .mega-menu-widget {
		right: auto;
		left: auto;
	}

	.main-navigation-menu li ul ul {
		right: auto;
		left: auto;
	}

	.main-navigation-toggle {
		float: right;
		margin: 0 1.5em 0 0;
	}

	.main-navigation-toggle:after {
		float: right;
	}

	.main-navigation-menu {
		float: right;
	}

	.main-navigation-menu li {
		width: 100%;
	}

	.main-navigation-menu a {
		clear: right;
	}

	.main-navigation-menu ul a {
		padding-right: 3em;
		padding-left: 0;
	}

	.main-navigation-menu ul li ul a {
		padding-right: 4em;
		padding-left: 0;
	}

	.main-navigation-menu ul li ul li ul a {
		padding-right: 5em;
		padding-left: 0;
	}

	.main-navigation-menu ul li ul li ul li ul a {
		padding-right: 6em;
		padding-left: 0;
	}

	.main-navigation-menu ul ul {
		border-right: none;
		border-left: none;
	}

	.main-navigation-menu .submenu-dropdown-toggle {
		float: left;
	}

}

@media only screen and (max-width: 40em) {
	.post-layout-columns .post-wrapper {
		margin-right: 0;
		margin-left: 0;
	}

	.post-layout-columns .post-wrapper .post-column {
		padding-right: 0;
		padding-left: 0;
	}

	.sidebar {
		margin-right: 0;
		margin-left: 0;
	}

	.sidebar .widget-wrap {
		padding-right: 0;
		padding-left: 0;
	}

	.widget-magazine-posts-grid .large-post-row {
		margin-right: 0;
		margin-left: 0;
	}

	.widget-magazine-posts-boxed .magazine-posts-boxed-vertical .small-posts,
	.widget-magazine-posts-columns .magazine-posts-column-right {
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
	}

	.widget-magazine-posts .large-post .wp-post-image {
		float: right;
		margin: 0 0 0 1.5em;
	}

	.widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .post-content {
		float: left;
		padding-right: 1.5em;
		padding-left: 0;
	}

	.widget-magazine-posts-grid .magazine-posts-grid-row .large-post {
		clear: right;
	}

}

@media only screen and (max-width: 35em) {
	.widget-magazine-posts-grid .medium-post-row {
		margin-right: 0;
		margin-left: 0;
	}

	.widget-magazine-posts .medium-post {
		padding-right: 0;
		padding-left: 0;
	}

	.widget-magazine-posts .medium-post .wp-post-image {
		float: right;
		margin: 0 0 0 1em;
	}

}

.sidebar-left .content-area {
	float: left;
	padding-right: 0;
	padding-right: 2em;
	padding-left: 0;
}

.sidebar-left .sidebar {
	float: right;
}

@media only screen and (max-width: 80em) {
	.sidebar-left .content-area {
		padding-right: 0;
		padding-right: 1.5em;
		padding-left: 0;
	}

}

.related-posts-list li .wp-post-image {
	float: right;
	margin: 0 0 0 1em;
}

.related-posts-columns {
	margin-right: 0;
	margin-left: -1em;
}

.related-posts-columns .related-post-column {
	float: right;
	padding-right: 0;
	padding-left: 2em;
}

.related-posts-two-columns .related-post-column:nth-child(2n + 1) {
	clear: right;
}

.related-posts-three-columns .related-post-column:nth-child(3n + 1) {
	clear: right;
}

.related-posts-four-columns .related-post-column:nth-child(4n + 1) {
	clear: right;
}

@media only screen and (max-width: 50em) {
	.related-posts-four-columns .related-post-column:nth-child(2n + 1) {
		clear: right;
	}
}

@media only screen and (max-width: 35em) {
	.related-posts-three-columns .related-post-column {
		padding-right: 0;
		padding-left: 0;
	}

}

@media only screen and (max-width: 25em) {
	.related-posts-two-columns .related-post-column,
	.related-posts-four-columns .related-post-column {
		padding-right: 0;
		padding-left: 0;
	}

}

.tzwb-posts-list li {
	clear: right;
}

.tzwb-posts-list .wp-post-image {
	float: right;
	margin: 0.3em 0 1em 0.8em;
}

.tzwb-comments-list li {
	clear: right;
}

.tzwb-comments-list .avatar {
	float: right;
	margin: 0.3em 0 0.8em 0.8em;
}

.tzwb-tabbed-content .tzwb-tabnavi {
	float: right;
}

.tzwb-tabbed-content .tzwb-tabnavi li {
	float: right;
	margin: 0 0 3px 3px;
}

.tzwb-social-icons .social-icons-menu li {
	margin: 0 0 2px 2px;
}

.post-slider .zeeslide {
	text-align: right;
	direction: rtl;
}

.zeeflex-viewport {
	direction: ltr;
}

.post-slider .zeeslide .slide-image {
	float: right;
	padding-right: 1px;
	padding-left: 0;
}

.post-slider .zeeslide .slide-content {
	float: left;
}

.post-slider .zeeslide .slide-content .read-more {
	right: 65%;
	left: auto;
}

.post-slider .zeeslide .slide-content .read-more .more-link {
	margin-right: 1.5em;
	margin-left: 0;
}

.post-slider-controls {
	clear: right;
}

.post-slider-controls .zeeflex-direction-nav {
	right: auto;
	left: 0;
}

.post-slider-controls .zeeflex-direction-nav a {
	margin: -40px -80px 0 0;
	text-align: right;
}

.post-slider-controls .zeeflex-direction-nav .zeeflex-prev {
	right: 42px;
	left: auto;
}

.post-slider-controls .zeeflex-direction-nav .zeeflex-next {
	right: 0;
	left: auto;
}

@media only screen and (max-width: 55em) {
	.post-slider .zeeslide .slide-content .read-more {
		right: auto;
		left: auto;
	}

	.post-slider .zeeslide .slide-content .read-more .more-link {
		margin-right: 0;
		margin-left: 0;
	}

}

@media only screen and (max-width: 25em) {
	.post-slider-controls .zeeflex-direction-nav {
		right: auto;
		right: 0;
		left: auto;
	}

	.post-slider-controls .zeeflex-direction-nav a {
		margin-right: 0;
		margin-left: 0;
	}

}
