/*
Theme Name: Unimart
Theme URI: https://www.shopes.cn/
Author: shopes.cn
Author URI: https://www.shopes.cn
Description: Unimart is a highly flexible and adventurous WordPress theme for your pirate magazine or any news related website. It supports three different post layouts, two sidebar schemes and a Magazine Homepage template based on widgets. Other highlights of Tortuga are the beautiful post slider and header widgets area. Arrr!
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tortuga
Tags: two-columns, custom-background, custom-header, custom-menu, editor-style, rtl-language-support, grid-layout, blog, entertainment, news, featured-image-header, featured-images, flexible-header, custom-colors, full-width-template, sticky-post, threaded-comments, translation-ready, theme-options, one-column, left-sidebar, right-sidebar, three-columns

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Tortuga is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Normalize
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Accessibility
6.0 - Alignments
7.0 - Clearings
8.0 - Layout Structure
9.0 - Header
10.0 - Navigation
	10.1 - Main Navigation
	10.2 - Social Icon Menu
11.0 - Widgets
	11.1 - Default Widgets
	11.2 - Magazine Posts Widgets
12.0 - Posts and pages
11.0 - Comments
12.0 - Footer
13.0 - Media
	13.1 - Captions
	13.2 - Galleries
14.0 - Media Queries
	14.1 - Desktop Large ( < 1120px )
	14.2 - Desktop Medium ( < 1040px )
	14.3 - Desktop Small ( < 960px )
	14.4 - Tablet Large ( < 880px )
	14.5 - Tablet Medium ( < 800px )
	14.6 - Tablet Small ( < 720px )
	14.7 - Mobile Extra Large ( < 640px )
	14.8 - Mobile Large ( < 560px )
	14.9 - Mobile Medium ( < 480px )
	14.10 - Mobile Small ( < 320px )
15.0 - Theme Option Styles
	15.1 - Sidebar Left Layout
	15.2 - Sticky Header
16.0 - Media Query Fixes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 1.0 - Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-size: 1em;
    font-family: monospace, monospace;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    font: inherit;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
# 2.0 - Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #303030;
    font-size: 17px;
    font-size: 1.0625rem;
    font-family: 'Open Sans', Tahoma, Arial;
    line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    overflow: auto;
    margin-bottom: 1.6em;
    padding: 1.6em;
    max-width: 100%;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 15px;
    font-size: 0.9375rem;
    font-family: "Courier 10 Pitch", Courier, monospace;
    line-height: 1.6;
}

code,
kbd,
tt,
var {
    font-size: 15px;
    font-size: 0.9375rem;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# 3.0 - Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    /*background: #fdfdf5;*/ /* Fallback for when there is no custom background color defined. */
}

blockquote {
    margin: 0 0 1.5em;
    padding: 0.05em 1.25em 1em;
    border: 1px solid #ddd;
    border-left: 3px solid #dd5533;
    color: #777;
    font-style: italic;
    font-size: 18px;
    font-size: 1.125rem;
}

blockquote cite,
blockquote small {
    display: block;
    margin-top: 1em;
    color: #404040;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
    content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}

blockquote > :last-child {
    margin-bottom: 0.5em;
}

hr {
    margin-bottom: 1.5em;
    height: 1px;
    border: 0;
    background-color: #ccc;
}

ul,
ol {
    margin: 0 0 1.5em;
    padding: 0 0 0 1.25em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 1.5em;
}

img {
    max-width: 100%; /* Adhere to container width. */
    height: auto; /* Make sure images are scaled correctly. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
    border: none;
    table-layout: fixed;
}

th,
td {
    padding: 0.3em 0.6em;
    border: 1px solid #ddd;
}

a {
    color: #dd5533;
    text-decoration: none;
}

a:link,
a:visited {
    color: #dd5533;
}

a:hover,
a:focus,
a:active {
    color: #303030;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
# 4.0 - Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    margin: 0;
    padding: 0.6em 1em;
    border: none;
    background: #dd5533;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-size: 1.0625rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    background: #303030;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    padding: 0.3em 0.6em;
    max-width: 100%;
    border: 1px solid #ddd;
    color: #666;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    border: 1px solid #ccc;
    color: #111;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# 5.0 - Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    top: 5px;
    left: 5px;
    z-index: 100000; /* Above WP toolbar. */
    display: block;
    clip: auto !important;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    color: #21759b;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: normal;
}

/*--------------------------------------------------------------
# 6.0 - Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    display: block;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}

/*--------------------------------------------------------------
# 7.0 - Clearings
--------------------------------------------------------------*/
.clearfix:before,
.clearfix:after,
.post-navigation .nav-links:before,
.post-navigation .nav-links:after,
.comment-navigation:before,
.comment-navigation:after {
    display: table;
    content: "";
}

.clearfix:after,
.post-navigation .nav-links:after,
.comment-navigation:after {
    clear: both;
}

/*--------------------------------------------------------------
# 8.0 - Layout Structure
--------------------------------------------------------------*/
.site {
    margin: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1320px;
    width: 100%;
}

.site-content {
    padding-top: 2em;
}

.content-area {
    float: left;
    box-sizing: border-box;
    padding-right: 2em;
    width: 73%;
}

#secondary.sidebar {
    float: right;
    width: 27%;
}

/* No Sidebar Layout */
.no-sidebar .content-area {
    float: none;
    padding: 0;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.post-layout-three-columns .content-archive {
    max-width: 100%;
}

/* Fullwidth Template */
.site-content .content-fullwidth {
    float: none;
    padding: 0;
    width: 100%;
}

/*--------------------------------------------------------------
# 9.0 - Header
--------------------------------------------------------------*/
.site-header {
    background: #303030;
    color: #fff;
}

.header-main {
    padding-top: 1em;
    padding-bottom: 1em;
}

.site-branding {
    float: left;
    margin: 1em 0;
    padding: 0;
    max-width: 100%;
}

.site-branding a:link,
.site-branding a:visited,
.site-branding a:hover {
    padding: 0;
    border: none;
    text-decoration: none;
}

.site-title {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 36px;
    font-size: 2.25rem;
    font-family: 'Titillium Web', sans-serif;
}

.site-title a:link,
.site-title a:visited {
    color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.site-title a:hover,
.site-title a:active {
    color: #ccc;
}

.site-branding .custom-logo {
    margin: 0.5em 1em 0 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: top;
}

.site-description {
    margin: 0 0 0.75em;
    font-size: 15px;
    font-size: 0.9375rem;
}

/* Header Widgets */
.header-widgets {
    display: inline;
}

.header-widget {
    float: right;
    margin: 0.5em 0 0 1.5em;
}

.header-widget ul {
    margin: 0;
    padding: 0;
}

.header-widget-title {
    margin: 0 0 0.5em;
}

/* Custom Header Image */
.header-image {
    text-align: center;
}

.header-image img {
    max-width: 1920px;
    width: 100%;
    height: auto;
    vertical-align: top;
}

/*--------------------------------------------------------------
# 10.0 - Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 10.1 - Main Navigation
--------------------------------------------------------------*/
.primary-navigation-wrap {
    border-bottom: 5px solid #dd5533;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
}

.main-navigation-toggle {
    display: none;
}

.main-navigation-menu {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-position: outside;
    list-style-type: none;
    z-index: 9999;
}

.main-navigation-menu li {
    float: left;
}

.main-navigation-menu a {
    display: block;
    padding: 0.8em 1.2em 0.7em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem !important;
    font-size: 16px !important;
    font-family: 'Titillium Web', Tahoma, Arial;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.main-navigation-menu > .menu-item-has-children > a:after {
    display: inline-block;
    margin: 0.4em 0 0 0.3em;
    color: #fff;
    content: '\f431';
    vertical-align: top;
    text-decoration: inherit;
    font-size: 16px;
    font-family: 'Genericons';
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-navigation-menu a:link,
.main-navigation-menu a:visited {
    color: #fff;
    text-decoration: none;
}

.main-navigation-menu a:hover,
.main-navigation-menu a:active {
    background: #dd5533;
}

.main-navigation-menu ul {
    position: absolute;
    z-index: 99;
    display: none;
    margin: 0;
    padding: 0;
    border-top: 5px solid #dd5533;
    background: #303030;
    list-style-position: outside;
    list-style-type: none;
}

.main-navigation-menu ul li {
    position: relative;
    float: none;
}

.main-navigation-menu ul a {
    padding: 1em;
    min-width: 250px;
    min-width: 16rem;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    font-size: 13px;
    font-size: 0.8125rem;
    -webkit-transition: none;
    transition: none;
}

.main-navigation-menu ul li:last-child a {
    border-bottom: none;
}

.main-navigation-menu ul .menu-item-has-children > a:after {
    display: inline-block;
    margin: 0.4em 0 0 0.3em;
    color: #fff;
    content: '\f431';
    vertical-align: top;
    text-decoration: inherit;
    font-size: 14px;
    font-family: 'Genericons';
    line-height: 1;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-navigation-menu li ul ul {
    top: 0;
    left: 100%;
    margin-top: -5px;
    border-left: 1px dotted rgba(255, 255, 255, 0.2);
}

.main-navigation-menu li.menu-item-has-children:hover > ul,
.main-navigation-menu li.page_item_has_children:hover > ul,
.main-navigation-menu li.menu-item-has-children[aria-expanded="true"] > ul {
    display: block;
}

.main-navigation-menu li.current-menu-item > a {
    background: #dd5533;
}

/* Mega Menu Styling */
.mega-menu-content .mega-menu-widget a:link,
.mega-menu-content .mega-menu-widget a:visited {
    color: #fff;
}

.mega-menu-content .mega-menu-widget a:hover,
.mega-menu-content .mega-menu-widget a:active {
    color: rgba(255, 255, 255, 0.6);
}

.mega-menu-content .widget_meta ul li,
.mega-menu-content .widget_pages ul li,
.mega-menu-content .widget_categories ul li,
.mega-menu-content .widget_archive ul li {
    display: block;
    border-top: 1px dotted rgba(255, 255, 255, 0.2);
}

.mega-menu-content .widget_meta ul li a,
.mega-menu-content .widget_pages ul li a,
.mega-menu-content .widget_categories ul li a,
.mega-menu-content .widget_archive ul li a {
    display: block;
    padding: 0.75em;
    font-size: 14px;
    font-size: 0.875rem;
}

.mega-menu-content .widget_meta ul li a:hover,
.mega-menu-content .widget_pages ul li a:hover,
.mega-menu-content .widget_categories ul li a:hover,
.mega-menu-content .widget_archive ul li a:hover {
    background: #dd5533;
    color: #fff;
}

.mega-menu-content .mega-menu-widget .entry-meta,
.mega-menu-content .mega-menu-widget .entry-meta span:before {
    color: #ddd;
}

/*--------------------------------------------------------------
## 10.2 - Social Icons Menu
--------------------------------------------------------------*/
.social-icons-menu {
    margin: 0;
    padding: 0;
    list-style-position: outside;
    list-style-type: none;
    line-height: 1;
}

.social-icons-menu li {
    float: left;
    margin: 0;
    padding: 0;
}

.social-icons-menu li a {
    position: relative;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
}

.social-icons-menu li a .screen-reader-text {
    display: none;
}

/* Add Genericons */
.social-icons-menu li a:before {
    display: inline-block;
    color: #fff;
    vertical-align: top;
    text-decoration: inherit;
    font-size: 16px;
    font-family: 'Genericons';
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social-icons-menu li a:before {
    content: '\f408';
}

/* Default Icon */
.social-icons-menu li a[href*="codepen.io"]:before {
    content: '\f216';
}

.social-icons-menu li a[href*="digg.com"]:before {
    content: '\f221';
}

.social-icons-menu li a[href*="dribbble.com"]:before {
    content: '\f201';
}

.social-icons-menu li a[href*="facebook.com"]:before {
    content: '\f204';
}

.social-icons-menu li a[href*="flickr.com"]:before {
    content: '\f211';
}

.social-icons-menu li a[href*="plus.google.com"]:before {
    content: '\f218';
}

.social-icons-menu li a[href*="github.com"]:before {
    content: '\f200';
}

.social-icons-menu li a[href*="instagram.com"]:before {
    content: '\f215';
}

.social-icons-menu li a[href*="linkedin.com"]:before {
    content: '\f207';
}

.social-icons-menu li a[href*="pinterest.com"]:before {
    content: '\f209';
}

.social-icons-menu li a[href*="polldaddy.com"]:before {
    content: '\f217';
}

.social-icons-menu li a[href*="getpocket.com"]:before {
    content: '\f224';
}

.social-icons-menu li a[href*="reddit.com"]:before {
    content: '\f222';
}

.social-icons-menu li a[href*="spotify.com"]:before {
    content: '\f515';
}

.social-icons-menu li a[href*="skype.com"]:before,
.social-icons-menu li a[href*="skype:"]:before {
    content: '\f220';
}

.social-icons-menu li a[href*="stumbleupon.com"]:before {
    content: '\f223';
}

.social-icons-menu li a[href*="tumblr.com"]:before {
    content: '\f214';
}

.social-icons-menu li a[href*="twitch.tv"]:before {
    content: '\f516';
}

.social-icons-menu li a[href*="twitter.com"]:before {
    content: '\f202';
}

.social-icons-menu li a[href*="vimeo.com"]:before {
    content: '\f212';
}

.social-icons-menu li a[href*="wordpress.org"]:before {
    content: '\f205';
}

.social-icons-menu li a[href*="wordpress.com"]:before {
    content: '\f205';
}

.social-icons-menu li a[href*="youtube.com"]:before {
    content: '\f213';
}

.social-icons-menu li a[href*="newsletter"]:before,
.social-icons-menu li a[href*="mailto"]:before {
    content: '\f410';
}

.social-icons-menu li a[href*="/feed"]:before,
.social-icons-menu li a[href*="/feed/"]:before,
.social-icons-menu li a[href*="?feed=rss2"]:before,
.social-icons-menu li a[href*="feedburner.google.com"]:before,
.social-icons-menu li a[href*="feedburner.com"]:before {
    content: '\f413';
}

/*--------------------------------------------------------------
# 11.0 - Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 2em 0;
    padding: 1em 1.5em 1.5em;
    max-width: 100%;
    border-top: 3px solid #dd5533;
    background: #fff;
    box-shadow: 0 2px 2px #aaa;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.widget-header {
    margin: 0 0 1em 0;
}

.widget-title {
    display: block;
    margin: 0;
    padding: 0;
    color: #dd5533;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: 'Titillium Web', Tahoma, Arial;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: circle inside;
}

.widget ul .children,
.widget ul .sub-menu {
    margin: 0.5em 0 0.5em 1em;
    padding: 0;
}

/* Make sure select elements fit in widgets. */
.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
## 11.1 - Default Widgets
--------------------------------------------------------------*/

/* Theme Search Widget */
.search-form {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

.search-form .screen-reader-text {
    display: none;
}

.search-form .search-field {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em 1.5em 0.5em 0.7em;
    width: 100%;
    -webkit-appearance: none;
}

.search-form .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.65em 0.75em 0 0.2em;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.search-form .search-submit .genericon-search {
    display: inline-block;
    padding: 0.05em 0 0.55em 0.45em;
    color: #fff;
    content: '\f400';
    vertical-align: middle;
    text-decoration: inherit;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    font-family: 'Genericons';
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Theme Calendar Widget */
.widget_calendar {
    font-size: 14px;
    font-size: 0.875rem;
}

.widget_calendar table {
    margin: 0;
}

.widget_calendar table caption {
    padding: 0 0 1em;
}

.widget_calendar table thead tr {
    background: #f5f5f5;
}

.widget_calendar table tr td {
    text-align: center;
}

.widget_calendar table tbody tr td a {
    font-weight: bold;
}

.widget_calendar table tfoot tr td {
    padding-top: 1em;
    border: none;
}

.widget_calendar table tfoot tr #prev {
    text-align: left;
}

.widget_calendar table tfoot tr #next {
    text-align: right;
}

/*--------------------------------------------------------------
## 11.2 - Magazine Posts Widgets
--------------------------------------------------------------*/

.widget-magazine-posts {
    margin-bottom: -1em;
}

.widget-magazine-posts .type-post {
    margin: 0 0 1.5em 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
}

.widget-magazine-posts .type-post .wp-post-image {
    margin: 0;
    max-width: 100%;
}

.widget-magazine-posts .type-post .entry-title {
    display: inline;
}

.widget-magazine-posts .type-post .entry-content {
    font-size: 16px;
    font-size: 1rem;
}

.widget-magazine-posts .type-post .entry-content p {
    margin: 1em 0 0;
}

.widget-magazine-posts .type-post .more-link {
    margin: 1em 0 0;
}

.widget-magazine-posts .large-post .entry-title {
    font-size: 22px;
    font-size: 1.375rem;
}

.widget-magazine-posts .medium-post {
    display: block;
    float: left;
    box-sizing: border-box;
    padding-right: 1.5em;
    width: 33.33333333%;
}

.widget-magazine-posts .medium-post .entry-title {
    font-size: 17px;
    font-size: 1.0625rem;
}

.widget-magazine-posts .small-post {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
}

.widget-magazine-posts .small-post .wp-post-image {
    float: left;
    margin: 0 1em 0 0;
    max-width: 40%;
}

.widget-magazine-posts .small-post .entry-title {
    font-size: 16px;
    font-size: 1rem;
}

.widget-magazine-posts .medium-post .entry-meta,
.widget-magazine-posts .small-post .entry-meta {
    font-size: 12px;
    font-size: 0.75rem;
}

/* Magazine Posts Boxed Widget Horizontal Style */
.widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .wp-post-image {
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding-right: 0.75em;
    width: 50%;
}

.widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .post-content {
    float: right;
    box-sizing: border-box;
    padding-left: 0.75em;
    width: 50%;
}

.widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .medium-posts {
    margin-right: -1.5em;
}

/* Magazine Posts Boxed Widget Vertical Style */
.widget-magazine-posts-boxed .magazine-posts-boxed-vertical .large-post {
    float: left;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding-right: 0.75em;
    width: 50%;
}

.widget-magazine-posts-boxed .magazine-posts-boxed-vertical .small-posts {
    box-sizing: border-box;
    margin-left: 50%;
    padding-left: 0.75em;
    width: 50%;
}

/* Magazine Posts Grid Widget */
.widget-magazine-posts-grid .magazine-posts-grid-row {
    margin-right: -1.5em;
}

.widget-magazine-posts-grid .magazine-posts-grid-row .large-post {
    float: left;
    box-sizing: border-box;
    padding-right: 1.5em;
    width: 50%;
}

/* Magazine Posts Columns Widget */
.tortuga-magazine-posts-columns {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
}

.tortuga-magazine-posts-columns .widget-magazine-posts {
    margin-bottom: 0;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content {
    margin: 0;
    padding: 1em 1.5em 1.5em;
    max-width: 100%;
    border-top: 3px solid #dd5533;
    background: #fff;
    box-shadow: 0 2px 2px #aaa;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content .magazine-posts-columns-post-list {
    float: left;
    box-sizing: border-box;
    margin-bottom: -1.5em;
    width: 100%;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content {
    float: left;
    width: 100%;
}

.widget-magazine-posts-columns .magazine-posts-column-left {
    float: left;
    box-sizing: border-box;
    padding-right: 1em;
    width: 50%;
}

.widget-magazine-posts-columns .magazine-posts-column-right {
    box-sizing: border-box;
    margin-left: 50%;
    padding-left: 1em;
    width: 50%;
}

.widget-magazine-posts-columns .medium-post {
    padding-right: 0;
    width: 100%;
}

/*--------------------------------------------------------------
# 12.0 - Posts and pages
--------------------------------------------------------------*/
.type-post,
.type-page,
.type-attachment,
.comments-area,
.highlight,
pre {
    margin: 0 0 2em 0;
    /*padding: 1.5em;*/
    padding: 1em;
    max-width: 100%;
    border-top: 3px solid #dd5533;
    background: #fff;
    box-shadow: 0 2px 2px #aaa;
}

.archive-title,
.page-title,
.entry-title {
    margin: 0;
    padding: 0;
    color: #dd5533;
    text-transform: uppercase;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-weight: normal;
    font-size: 28px;
    font-size: 1.75rem;
    font-family: 'Titillium Web', Tahoma, Arial;
}

.entry-title a:link,
.entry-title a:visited {
    color: #dd5533;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
    color: #303030;
}

.type-post .wp-post-image,
.type-page .wp-post-image {
    margin: 0 0 0.5em;
}

.entry-content p:last-child {
    margin-bottom: 0;
}

.sticky {
}

/* Read more Link */
.more-link {
    display: inline-block;
    margin: 1.5em 0 0;
    padding: 0.6em 1em;
    background: #dd5533;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-size: 0.9375rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.more-link:link,
.more-link:visited {
    color: #fff;
}

.more-link:hover,
.more-link:active {
    background: #303030;
    text-decoration: none;
}

/* Page Links | wp_link_pages() */
.page-links {
    margin: 0;
    word-spacing: 1em;
    font-weight: bold;
}

/* Entry Meta */
.entry-meta {
    margin: 0;
    padding: 0;
    color: #303030;
    font-size: 14px;
    font-size: 0.875rem;
}

.entry-meta .meta-date,
.entry-meta .meta-author,
.entry-meta .meta-category,
.entry-meta .meta-comments {
    margin-right: 1.5em;
}

.entry-meta a:link,
.entry-meta a:visited {
    color: #303030;
}

.entry-meta a:hover,
.entry-meta a:active {
    color: #777;
}

.entry-meta span:before {
    display: inline-block;
    margin-right: 0.2em;
    color: #333;
    vertical-align: middle;
    font: normal 16px 'Genericons';
    -webkit-font-smoothing: antialiased;
}

.entry-meta .meta-date:before {
    content: '\f307';
}

.entry-meta .meta-author:before {
    content: '\f304';
}

.entry-meta .meta-category:before {
    content: '\f301';
}

.entry-meta .meta-comments:before {
    content: '\f300';
}

/* Entry Tags & Tagcloud Widget */
.entry-tags {
    margin: 0 0 1.5em;
}

.widget_tag_cloud .tagcloud,
.entry-tags .meta-tags {
    font-size: 14px;
    font-size: 0.875rem;
}

.widget_tag_cloud .tagcloud:before,
.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:before,
.entry-tags .meta-tags:after {
    display: table;
    content: "";
}

.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:after {
    clear: both;
}

.widget_tag_cloud .tagcloud a,
.entry-tags .meta-tags a {
    display: inline-block;
    float: left;
    margin: 0 2px 2px 0;
    padding: 0.2em 0.5em;
    background: #303030;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px !important;
    font-size: 0.75rem !important;
}

.widget_tag_cloud .tagcloud a:link,
.widget_tag_cloud .tagcloud a:visited,
.entry-tags .meta-tags a:link,
.entry-tags .meta-tags a:visited {
    color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:active,
.entry-tags .meta-tags a:hover,
.entry-tags .meta-tags a:active {
    background: #dd5533;
    color: #fff;
}

/* Post Navigation */
.post-navigation {
    margin: 0;
}

.post-navigation .nav-links .nav-previous {
    float: left;
}

.post-navigation .nav-links .nav-next {
    float: right;
}

.post-navigation .nav-links .nav-previous a:before {
    margin-right: 3px;
    content: "\00AB";
}

.post-navigation .nav-links .nav-next a:after {
    margin-left: 4px;
    content: "\00BB";
}

.post-navigation .nav-links a {
    display: inline-block;
    margin: 0 0 3px;
    padding: 0.3em 0.8em;
    background: #dd5533;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.post-navigation .nav-links a:link,
.post-navigation .nav-links a:visited {
    color: #fff;
}

.post-navigation .nav-links a:hover,
.post-navigation .nav-links a:active {
    background: #303030;
}

/* Theme Pagination */
.post-pagination {
    margin: 0 0 2em;
}

.post-pagination a,
.post-pagination .current {
    display: inline-block;
    margin: 0 3px 3px 0;
    padding: 0.4em 1em;
    background: #303030;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.post-pagination a:link,
.post-pagination a:visited {
    color: #fff;
}

.post-pagination a:hover,
.post-pagination a:active,
.post-pagination .current {
    background: #dd5533;
}

/* Infinite Scroll Pagination */
.infinite-scroll .post-pagination {
    display: none;
}

.infinite-scroll #infinite-handle,
.infinite-scroll .infinite-loader {
    width: 100%;
    text-align: center;
}

.infinite-scroll .infinite-loader .spinner {
    bottom: -1em;
    left: auto;
    margin: 0 auto;
}

.infinite-scroll #infinite-handle span {
    display: inline-block;
    margin: 0 0 2em;
    padding: 0.4em 1em;
    background: #303030;
    text-decoration: none;
    font-size: 17px;
    font-size: 1.0625rem;
}

.infinite-scroll #infinite-handle span:hover {
    background: #dd5533;
}

/* Archives and Search Heading */
.page-header {
    margin: 0 0 2em 0;
    padding: 1.5em;
    border-top: 3px solid #dd5533;
    background: #fff;
    box-shadow: 0 2px 2px #aaa;
}

.homepage-description,
.archive-description p {
    margin-bottom: 0;
}

/* Breadcrumbs */
.breadcrumbs {
    margin: 0;
    padding: 0.5em 0;
    background: #fff;
    box-shadow: 0 2px 2px #aaa;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.breadcrumbs-container {
    color: #222;
    font-size: 14px;
    font-size: 0.875rem;
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
    display: inline;
    margin: 0;
    padding: 0;
}

.breadcrumbs .trail-browse {
    margin-right: 0.5em;
    font-weight: normal;
    font-size: 14px;
    font-size: 0.875rem;
}

.breadcrumbs .trail-items {
    list-style: none;
}

.breadcrumbs .trail-items li::after {
    padding: 0 0.5em;
    content: "\00bb"; /* Raquo */
}

.trail-separator-slash .trail-items li::after {
    content: "\002F";
}

.trail-separator-dash .trail-items li::after {
    content: "\2013";
}

.trail-separator-bull .trail-items li::after {
    content: "\2022";
}

.trail-separator-arrow-bracket .trail-items li::after {
    content: "\003e";
}

.trail-separator-raquo .trail-items li::after {
    content: "\00bb";
}

.trail-separator-single-arrow .trail-items li::after {
    content: "\2192";
}

.trail-separator-double-arrow .trail-items li::after {
    content: "\21D2";
}

.breadcrumbs .trail-items li:last-of-type::after {
    display: none;
}

/* Post Columns */
.post-layout-columns .post-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -2em;
}

.post-layout-columns .post-wrapper .post-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    padding-right: 2em;
}

.post-layout-columns .post-wrapper .post-column article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.post-layout-columns .post-wrapper .post-column article .entry-title {
    font-size: 22px;
    font-size: 1.375rem;
}

.post-layout-columns .post-wrapper .post-column article .entry-content {
    flex-grow: 1;
    font-size: 16px;
    font-size: 1rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
}

.post-layout-columns .post-wrapper .post-column article .more-link {
    font-size: 15px;
    font-size: 0.9375rem;
}

/* 2 Columns */
.post-layout-two-columns .post-wrapper .post-column {
    width: 50%;
}

/* 3 Columns */
.post-layout-three-columns .content-archive {
    float: none;
    padding: 0;
    width: 100%;
}

.post-layout-three-columns .post-wrapper .post-column {
    width: 33.3333333333333%;
}

/* Post Columns Fixes for IE 10 and IE 11*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .post-layout-columns .post-wrapper .post-column,
    .post-layout-columns .post-wrapper .post-column article {
        display: block;
    }

}

/* Fix Render Bug for Safari */
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
    @media {
        .post-layout-columns .post-wrapper .post-column {
            margin-right: -1px;
        }
    }
}

/*--------------------------------------------------------------
# 11.0 - Comments
--------------------------------------------------------------*/
.comments-area {
    padding: 1em 1.5em;
}

/* Comment Header */
.comments-header,
.comment-reply-title {
    margin: 0 0 1em 0;
}

.comments-header .comments-title,
.comment-reply-title span {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #dd5533;
    text-transform: uppercase;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-weight: normal;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: 'Titillium Web', Tahoma, Arial;
}

/* Comment List */
.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment {
    margin: 0 0 1.5em;
    padding: 1.5em 0 0;
    border-top: 1px dotted #aaa;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.comment-meta {
    float: left;
    padding: 0;
    width: 100%;
}

.comment-meta .comment-author img {
    float: left;
    margin-right: 1em;
}

.bypostauthor {
    display: block;
}

.comment-meta .comment-metadata {
    margin-top: 0.3em;
    font-size: 14px;
    font-size: 0.875rem;
}

.comment-meta .comment-metadata a {
    margin-right: 1em;
}

.comment-content {
    clear: left;
    padding: 0.2em 0 0;
}

.comment-content a {
    word-wrap: break-word;
}

.comment ol.children {
    margin: 1.5em 0 0;
    list-style: none;
}

.comment .comment-respond {
    margin-top: 1.5em;
}

/* Comment Pagination */
.comment-navigation {
    margin: 0 0 1.5em;
    padding: 0;
    font-size: 14px;
    font-size: 0.875rem;
}

.comment-navigation .nav-previous {
    float: left;
}

.comment-navigation .nav-next {
    float: right;
}

.comment-navigation .nav-previous a:before {
    margin-right: 3px;
    content: "\00AB";
}

.comment-navigation .nav-next a:after {
    margin-left: 4px;
    content: "\00BB";
}

/* Comment Form */
.comment-form {
    padding: 0;
}

.comment-form label {
    display: inline-block;
    min-width: 150px;
    font-weight: bold;
}

.comment-form textarea {
    margin-top: 0.4em;
}

.comment-form .form-submit {
    margin-bottom: 1em;
}

.comment-reply-title small a {
    margin-left: 1em;
    text-decoration: underline;
    font-weight: normal;
    font-size: 14px;
    font-size: 0.875rem;
}

/*--------------------------------------------------------------
# 12.0 - Footer
--------------------------------------------------------------*/
.footer-wrap {
    background: #303030;
}

.site-footer {
    color: #ddd;
    font-size: 15px;
    font-size: 0.9375rem;
}

.site-footer .site-info {
    float: left;
    padding: 2.5em 0;
}

.site-footer a:link,
.site-footer a:visited {
    border-bottom: 1px dotted #aaa;
    color: #fff;
}

.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active {
    color: #ddd;
}

/*--------------------------------------------------------------
# 13.0 - Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: none;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## 13.1 - Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
}

.wp-caption-text {
    text-align: center;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

/*--------------------------------------------------------------
## 13.2 - Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.25em;
}

.gallery-item {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0.75em 1em 0 0;
    width: 100%;
    vertical-align: top;
    text-align: center;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
}

/*--------------------------------------------------------------
# 14.0 - Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 14.1 - Desktop X-Large ( < 1200px )
--------------------------------------------------------------*/
@media only screen and (max-width: 80em) {
    .container {
        padding: 0 1.5em;
    }

    .site-content {
        padding-top: 1.5em;
    }

    .content-area {
        padding-right: 1.5em;
    }

    .header-main {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .widget,
    .page-header,
    .type-post,
    .type-page,
    .type-attachment,
    .post-pagination,
    .comments-area {
        margin-bottom: 1.5em;
    }

    .post-layout-columns .post-wrapper {
        margin-right: -1.5em;
    }

    .post-layout-columns .post-wrapper .post-column {
        padding-right: 1.5em;
    }

}

/*--------------------------------------------------------------
## 14.2 - Desktop Large ( < 1120px )
--------------------------------------------------------------*/
@media only screen and (max-width: 70em) {
    .content-area {
        width: 70%;
    }

    /*.sidebar {*/
        /*width: 30%;*/
    /*}*/

    .post-layout-columns .post-wrapper .post-column article .entry-title {
        font-size: 20px;
        font-size: 1.25rem;
    }

    /* Magazine Post Widgets */
    .widget-magazine-posts .large-post .entry-title {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .widget-magazine-posts .medium-post .entry-title {
        font-size: 16px;
        font-size: 1rem;
    }

    .widget-magazine-posts .small-post .entry-title {
        font-size: 15px;
        font-size: 0.9375rem;
    }

    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .more-link {
        display: none;
    }

}

/*--------------------------------------------------------------
## 14.2 - Desktop Medium ( < 1040px )
--------------------------------------------------------------*/
@media only screen and (max-width: 65em) {
    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .entry-content {
        display: none;
    }

}

/*--------------------------------------------------------------
## 14.3 - Desktop Small ( < 960px )
--------------------------------------------------------------*/
@media only screen and (max-width: 60em) {
    .content-area,
    .site-content .content-fullwidth {
        float: none;
        padding: 0;
        width: 100%;
    }

    .sidebar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        float: none;
        margin-right: -1.5em;
        padding: 0;
        width: auto;
    }

    .sidebar .widget-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: right;
        box-sizing: border-box;
        padding-right: 1.5em;
        width: 50%;
    }

    .sidebar .widget-wrap .widget {
        width: 100%;
    }

    .sidebar .widget-wrap:nth-child(2n + 1) {
        clear: left;
    }

    .site-branding {
        float: none;
        margin: 0;
        text-align: center;
    }

    .header-widgets {
        display: block;
        text-align: center;
    }

    .header-widget {
        display: inline-block;
        float: none;
        margin: 1em 0 0;
        max-width: 100%;
        vertical-align: top;

    }

    .header-widget .search-form {
        max-width: 300px;
    }

    .post-layout-three-columns .post-wrapper .post-column {
        width: 50%;
    }

    .archive-title,
    .page-title,
    .entry-title {
        font-size: 26px;
        font-size: 1.625rem;
    }

    .post-layout-columns .post-wrapper .post-column article .entry-title {
        font-size: 22px;
        font-size: 1.375rem;
    }

    /*** Mobile Main Navigation ***/
    /* Reset */
    .main-navigation-menu li {
        position: static;
        float: none;
    }

    .main-navigation-menu ul,
    .mega-menu-item .mega-menu-content,
    .mega-menu-item .mega-menu-content .mega-menu-widget {
        position: static;
        top: auto;
        left: auto;
        display: block;
    }

    .main-navigation-menu ul a {
        float: none;
        width: auto;
    }

    .main-navigation-menu li ul ul {
        top: auto;
        left: auto;
        margin: 0;
    }

    .main-navigation-menu > .menu-item-has-children > a:after,
    .main-navigation-menu ul .menu-item-has-children > a:after {
        display: none;
    }

    /* Main Navigation Toggle */
    .main-navigation-toggle {
        display: inline-block;
        float: left;
        margin: 0 0 0 1.5em;
        padding: 0.8em 1.2em;
        background: #dd5533;
    }

    .main-navigation-toggle:hover,
    .main-navigation-toggle:focus,
    .main-navigation-toggle:active {
        background: none;
        cursor: pointer;
    }

    .main-navigation-toggle:after {
        display: inline-block;
        float: left;
        color: #fff;
        content: '\f419';
        vertical-align: middle;
        text-decoration: inherit;
        font-size: 24px;
        font-family: 'Genericons';
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .main-navigation-toggle:active,
    .main-navigation-toggle:focus,
    .main-navigation-toggle:hover {
        background: #dd5533;
    }

    /* Main Navigation Menu */
    .main-navigation-menu {
        display: none;
        float: left;
        padding: 3px 0;
        width: 100%;
        border-top: 5px solid #dd5533;
    }

    .main-navigation-menu a {
        display: block;
        clear: left;
        padding: 1em 1.5em;
        border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    }

    .main-navigation-menu li:last-child a {
        border-bottom: none;
    }

    .main-navigation-menu ul {
        float: none;
        width: 100%;
        border: none;
    }

    .main-navigation-menu ul a {
        display: block;
        padding-left: 3em;
        width: 100%;
    }

    .main-navigation-menu ul li ul a {
        padding-left: 4em;
    }

    .main-navigation-menu ul li ul li ul a {
        padding-left: 5em;
    }

    .main-navigation-menu ul li ul li ul li ul a {
        padding-left: 6em;
    }

    .main-navigation-menu ul li:last-child a {
        border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    }

    .main-navigation-menu ul ul {
        border-top: 1px dotted rgba(255, 255, 255, 0.2);
        border-left: none;
    }

    /* Mobile Submenu Dropdowns */
    .main-navigation-menu .submenu-dropdown-toggle {
        display: block;
        float: right;
        margin: 0;
        padding: 0.8em 1.2em;
    }

    .main-navigation-menu .submenu-dropdown-toggle:hover {
        cursor: pointer;
    }

    .main-navigation-menu .submenu-dropdown-toggle:before {
        color: #fff;
        content: '\f431';
        vertical-align: middle;
        text-decoration: inherit;
        font-size: 32px;
        font-family: 'Genericons';
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .main-navigation-menu .submenu-dropdown-toggle:hover,
    .main-navigation-menu .submenu-dropdown-toggle:active {
        background: #dd5533;
    }

    .main-navigation-menu .submenu-dropdown-toggle.active:before {
        content: '\f432';
    }

    .main-navigation-menu ul .submenu-dropdown-toggle {
        padding: 0.55em 1em;
    }

    .main-navigation-menu ul .submenu-dropdown-toggle:before {
        font-size: 24px;
    }

    /* Mega Menu Styling */
    .mega-menu-item .mega-menu-content {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mega-menu-item .mega-menu-two-columns > li,
    .mega-menu-item .mega-menu-three-columns > li,
    .mega-menu-item .mega-menu-five-columns > li {
        width: 100%;
    }

    .mega-menu-item .mega-menu-four-columns > li,
    .mega-menu-item .mega-menu-six-columns > li {
        width: 50%;
    }

    /* Magazine Post Widgets */
    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .entry-content,
    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .more-link {
        display: inline-block;
    }

    .widget-magazine-posts .large-post .entry-title {
        font-size: 22px;
        font-size: 1.375rem;
    }

    .widget-magazine-posts .medium-post .entry-title {
        font-size: 17px;
        font-size: 1.0625rem;
    }

    .widget-magazine-posts .small-post .entry-title {
        font-size: 16px;
        font-size: 1rem;
    }

}

/*--------------------------------------------------------------
## 14.4 - Tablet Large ( < 880px )
--------------------------------------------------------------*/
@media only screen and (max-width: 55em) {

}

/*--------------------------------------------------------------
## 14.5 - Tablet Medium ( < 800px )
--------------------------------------------------------------*/
@media only screen and (max-width: 50em) {
    .archive-title,
    .page-title,
    .entry-title {
        font-size: 24px;
        font-size: 1.5rem;
    }

    .post-layout-columns .post-wrapper .post-column article .entry-title {
        font-size: 20px;
        font-size: 1.25rem;
    }

    /* Magazine Post Widgets */
    .widget-magazine-posts .large-post .entry-title {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .widget-magazine-posts .medium-post .entry-title {
        font-size: 16px;
        font-size: 1rem;
    }

    .widget-magazine-posts .small-post .entry-title {
        font-size: 15px;
        font-size: 0.9375rem;
    }

    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .more-link {
        display: none;
    }

}

/*--------------------------------------------------------------
## 14.6 - Tablet Small ( < 720px )
--------------------------------------------------------------*/
@media only screen and (max-width: 45em) {
    .widget-magazine-posts .medium-post .entry-title {
        font-size: 15px;
        font-size: 0.9375rem;
    }

    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .entry-content {
        display: none;
    }

}

/*--------------------------------------------------------------
## 14.7 - Mobile Extra Large ( < 640px )
--------------------------------------------------------------*/
@media only screen and (max-width: 40em) {
    .post-layout-columns .post-wrapper {
        display: block;
        margin-right: 0;
    }

    .post-layout-columns .post-wrapper .post-column {
        display: block;
        float: none;
        padding-right: 0;
    }

    .post-layout-two-columns .post-wrapper .post-column,
    .post-layout-three-columns .post-wrapper .post-column {
        width: 100%;
    }

    .archive-title,
    .page-title,
    .entry-title,
    .post-layout-columns .post-wrapper .post-column article .entry-title {
        font-size: 22px;
        font-size: 1.375rem;
    }

    .entry-content {
        font-size: 16px;
        font-size: 1rem;
    }

    /* Sidebar */
    .sidebar {
        margin-right: 0;
    }

    .sidebar .widget-wrap {
        float: none;
        padding-right: 0;
        width: 100%;
    }

    /* Magazine Post Widgets */
    .widget-magazine-posts-grid .large-post-row {
        margin-right: 0;
    }

    .widget-magazine-posts-grid .magazine-posts-grid-row .large-post,
    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .wp-post-image,
    .widget-magazine-posts-boxed .magazine-posts-boxed-vertical .large-post,
    .widget-magazine-posts-columns .magazine-posts-column-left {
        float: none;
        padding: 0;
        width: 100%;
    }

    .widget-magazine-posts-boxed .magazine-posts-boxed-vertical .small-posts,
    .widget-magazine-posts-columns .magazine-posts-column-right {
        margin-left: 0;
        padding-top: 1em;
        padding-left: 0;
        width: 100%;
    }

    .widget-magazine-posts .large-post .wp-post-image {
        float: left;
        margin: 0 1.5em 0 0;
        max-width: 50%;
    }

    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .post-content {
        float: right;
        padding-left: 1.5em;
        width: 50%;
    }

    .widget-magazine-posts-grid .magazine-posts-grid-row .large-post {
        clear: left;
    }

    .widget-magazine-posts-grid .magazine-posts-grid-row .large-post .wp-post-image {
        margin-bottom: 1em;
    }

    .widget-magazine-posts .large-post .entry-content {
        display: none;
    }

    .widget-magazine-posts .large-post .entry-title {
        font-size: 18px;
        font-size: 1.125rem;
    }

    /* Mega Menu Styling */
    .mega-menu-item .mega-menu-four-columns > li,
    .mega-menu-item .mega-menu-six-columns > li {
        width: 100%;
    }

}

/*--------------------------------------------------------------
## 14.8 - Mobile Large ( < 560px )
--------------------------------------------------------------*/
@media only screen and (max-width: 35em) {
    .widget-magazine-posts-grid .medium-post-row {
        margin-right: 0;
    }

    .widget-magazine-posts .medium-post {
        float: none;
        padding-right: 0;
        width: 100%;
    }

    .widget-magazine-posts .medium-post .wp-post-image {
        float: left;
        margin: 0 1em 0 0;
        max-width: 120px;
    }

}

/*--------------------------------------------------------------
## 14.9 - Mobile Medium ( < 480px )
--------------------------------------------------------------*/
@media only screen and (max-width: 30em) {
    .site-branding .site-title {
        font-size: 32px;
        font-size: 2rem;
    }

    .archive-title,
    .page-title,
    .entry-title,
    .post-layout-columns .post-wrapper .post-column article .entry-title {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .alignright, .alignleft {
        float: none;
        margin: 1em 0;
    }

    /* Magazine Homepage: Category Post Widgets */
    .widget-magazine-posts .medium-post .wp-post-image,
    .widget-magazine-posts .small-post .wp-post-image {
        max-width: 30%;
    }

    .widget-magazine-posts .large-post .wp-post-image,
    .widget-magazine-posts-grid .magazine-posts-grid-row .large-post .wp-post-image {
        float: none;
        margin: 0 0 0.5em 0;
        max-width: 100%;
    }

    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .post-content {
        float: none;
        padding: 0;
        width: 100%;
    }

    .widget-magazine-posts .large-post .entry-title {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .widget-magazine-posts .large-post .entry-content,
    .widget-magazine-posts .large-post .entry-content .more-link,
    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .entry-content,
    .widget-magazine-posts-boxed .magazine-posts-boxed-horizontal .large-post .entry-content .more-link {
        display: inline-block;
    }

}

/*--------------------------------------------------------------
## 14.10 - Mobile Small ( < 320px )
--------------------------------------------------------------*/
@media only screen and (max-width: 20em) {
    .site-branding .site-title {
        font-size: 28px;
        font-size: 1.75rem;
    }

    .archive-title,
    .page-title,
    .entry-title,
    .post-layout-columns .post-wrapper .post-column article .entry-title {
        margin: 0 0 0.5em;
        font-size: 18px;
        font-size: 1.125rem;
    }

    .entry-meta .meta-date,
    .entry-meta .meta-author,
    .entry-meta .meta-category,
    .entry-meta .meta-comments {
        display: block;
    }

    .widget-magazine-posts .medium-post .entry-title,
    .widget-magazine-posts .small-post .entry-title {
        vertical-align: top;
        font-size: 13px;
        font-size: 0.8125rem;
    }

    .widget-magazine-posts .medium-post .entry-meta,
    .widget-magazine-posts .small-post .entry-meta {
        display: none;
    }

}

/*--------------------------------------------------------------
# 15.0 - Theme Option Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 15.1 - Sidebar Left Layout
--------------------------------------------------------------*/
.sidebar-left .content-area {
    float: right;
    padding-right: 0;
    padding-left: 2em;
}

.sidebar-left .sidebar {
    float: left;
}

@media only screen and (max-width: 80em) {
    .sidebar-left .content-area {
        padding-right: 0;
        padding-left: 1.5em;
    }

}

@media only screen and (max-width: 60em) {
    .sidebar-left .content-area {
        padding: 0;
    }

}

.sidebar-left.post-layout-three-columns .content-archive {
    float: none;
    padding: 0;
    width: 100%;
}

/*--------------------------------------------------------------
# 16.0 - Media Query Fixes
--------------------------------------------------------------*/

/* Ensure navigation is visible on desktop view */
@media only screen and (min-width: 60.001em) {
    .main-navigation-menu {
        display: block !important;
    }

}

.single .type-post, .type-page {
    /*	background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;*/
}

.highlight {
    padding: 0;
    box-shadow: 1px 1px 3px #e4e4e4;
}

.nav-links {
    margin-top: 2em;
}

#main-navigation-wrap {
    /*border-top: 1px solid #393232;*/
    /*box-shadow: 2px 2px 5px #3b3a3a inset;*/
    background: url("/static/assets/bg_01.jpg");
    z-index: 9999;
    position: relative;
}

nav#main-navigation > ul > li:last-child {
    border-right: 1px dashed #756a6a;
}

nav#main-navigation > ul > li {
    border-left: 1px dashed #756a6a;
}

.archive-title, .page-title, .entry-title, .widget li a {
    text-transform: capitalize;
}

.single h1.entry-title,
.page h1.page-title {
    border-bottom: 2px solid;
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
}

/*.entry-content * {
    white-space: normal;
    max-width: 100%;
}*/

.entry-content h2:before, .entry-content h2:after {
    content: "————";
    color: rgb(153, 153, 153);
    font-size: 0.8em;
    font-weight: normal;
    text-shadow: none;
    letter-spacing: 0px;
    margin: 1em;
}

.entry-content h2 {
    text-align: center;
}

.highlight {
    border: none;
    box-shadow: none;
    margin: 0;
}

.comment code {
    border-left: 2px solid #ffd1d1;
    padding-left: 10px;
    background: #fbf1f1;
    display: block;
}

.comment .crayon-syntax-inline {
    display: block;
    padding: .5em;
}

.comment-author.vcard {
    float: left;
}

.comment-meta .comment-metadata {
    float: right;
}

blockquote {
    font-style: normal;
}

pre.language-markup {
    border: none;
    background: transparent;
    box-shadow: none;
}

/*header.entry-header {
    margin-bottom: 1em;
}*/

td.gutter {
    width: 2.5em;
}

.highlight table, blockquote {
    font-size: 13px !important;
    font-family: monospace;
    background: #fff3f3;
}

.widget a.node {
    padding-left: 5px;
    text-transform: capitalize;
}

.home .entry-title, .archive .entry-title {
    line-height: 1.2em;
}

.footer-wrap {
    background: #303030 url("/static/assets/bg_01.jpg");
    border-top: 3px solid #dd5533;
}

blockquote {
    padding: 1.5em 1.25em 1.5em;
}

blockquote p {
    margin: 0;
}

.MathJax_Display span, .MathJax span {
    color: #ddd;
    white-space: normal;
}

pre {
    /*white-space: pre-wrap;*/
    font-size: 13px;
}

blockquote > :last-child {
    margin-bottom: 0;
}

.entry-content {
    padding-top: .5em;
}

.entry-meta a:link, .entry-meta a:visited {
    color: #aba3a3;
    text-transform: capitalize;
}

.entry-meta {
    line-height: 1;
    margin-top: .5em;
}

.site-footer .site-info {
    float: right;
    padding: 2.5em 0;
}

blockquote {
    padding: 1.5em 1.25em 1.5em;
    margin-left: -1.5em;
    margin-right: -1.3em;
    background: #fff8f8;
    border-right: none;
}

pre {
    margin-left: -1.3em !important;
    margin-right: -1.3em !important;
    box-shadow: none;
    max-width: none !important;
    border-right: none;
    border-left: none;
    background: #fff8f8;

}

.crayon-syntax {
    margin-left: -1.5em !important;
    margin-right: -1.5em !important;
    box-shadow: none;
    max-width: none !important;
    border-right: none;
    border-left: none;
    background: #fff8f8;
}

.crayon-syntax .crayon-main, .crayon-syntax .crayon-plain {
    overflow: auto !important;
}

.crayon-syntax, .crayon-syntax .crayon-main, .crayon-syntax .crayon-toolbar, .crayon-syntax .crayon-info, .crayon-syntax .crayon-plain, .crayon-syntax .crayon-code {
    width: auto !important;
}

.crayon-syntax .crayon-table {
    width: 100% !important;
}

.crayon-table .crayon-nums {
    width: 2em;
}

figure.highlight {
    margin-left: -1.05em;
    margin-right: -1.1em;
    max-width: none;
    background: transparent;
}

.header-main {
    display: none;
}

.main-navigation-menu a:link, .main-navigation-menu a:visited {
    letter-spacing: 2px;
}

html {
    background: #424753;
}

.header-main {
    display: none;
}

.entry-content h3 {
    background: #454545;
    border-left: 9px solid #e23703;
    color: #fff;
    margin: 30px 0 10px;
    width: auto;
    height: 38px;
    line-height: 38px;
    text-indent: 20px;
    font-size: 20px;
    font-weight: bold;
}

.entry-content a {
    padding-left: 5px;
    padding-right: 5px;
}

.site {
    background: #fdfdf5 url(images/bg.jpg);
}

.hide {
    display: none !important;
}

@media only screen and (min-width: 60.001em) {
    .main-navigation-menu {
        width: auto;
    }
}

.navbar-custom-menu {
    float: right;
}

nav#main-navigation ul.navbar-nav li {
    border: none;
}

nav#main-navigation {
    width: 100%;
    /*max-width: none;*/
}

html {
    font-size: 16px;
}

.main-header .sidebar-toggle {
    padding: 12px 15px 9px;
}

.main-navigation-menu a {
    font-weight: bold;
}

pre {
    border-radius: 0;
}

/*.content-wrapper {
    padding-right: 1em;
    padding-left: .5em;
}*/

.sidebar-collapse .content, .sidebar-collapse .content-header {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

#adminbar-loginform .admin-input {
    line-height: 22px;
    border-radius: 2px;
    padding-left: .5em;
    background-color: #423a3a;
    border-color: #444;
    color: red;
}

#adminbar-loginform .admin-button {
    padding: 0 10px;
    border: 1px solid #444;
    background: #796f6f;
    line-height: 22px;
    vertical-align: baseline;
    letter-spacing: 5px;
    border-radius: 2px;

}

section.content, section.content-header {
    margin-left: 1%;
    margin-right: 1%;
}

.logo_2 {
    border: 1px solid grey;
    padding: 0 5px;
    background: grey;
    color: whitesmoke;
}

.logo_1 {
    background: red;
    padding: 0 5px;
    color: white;
    /* margin-right: 3px; */
    border: 1px solid red;
}
.nav > li.user-menu {
    display: none;
}

.user-panel {
    background: #ecf0f5;
    border-bottom: 1px solid #e4e4e4;
}

/*nav#main-navigation {*/
    /*text-align: center;*/
/*}*/

/*ul#menu-mainmenu {*/
    /*float: none;*/
    /*display: inline-flex !important;*/
/*}*/
a[data-toggle=control-sidebar] {
    margin-right: 20px;
}
/*.main-header {*/
    /*z-index: 10000;*/
/*}*/
/*.wrapper {overflow: visible;}*/
/*.skin-red-light .main-header .logo {margin-top:-55px;}*/
/*.main-sidebar, .left-side {padding-top:0;}*/
/*.skin-red-light .main-header .navbar {*/
    /*border-left: 1px solid #e4e4e4;*/
/*}*/

/*.sidebar-collapse .main-header .navbar {margin-left:0;}*/

.main-navigation-menu li.current-menu-item > a {
    background: #3b3b3b;
    color: #bfbfbf;
}

.sidebar-menu .treeview-menu > li {
    margin: 0;
    line-height: 30px;
    border-bottom: 1px solid #fff;
}

.skin-red-light .sidebar-menu > li > .treeview-menu {
    background: #f9f1f6;
}

.skin-red-light .sidebar-menu > li:hover > a, .skin-red-light .sidebar-menu > li.active > a {
    background: #505050;
}

.skin-red-light .sidebar-menu > li {
    background: #f6faff;
    border-bottom: 1px solid #eee;

}

.skin-red-light .sidebar-menu > li.active {
    border-bottom: none;
    border-left-width: 2px;
    border-left-style: solid;
}

.sidebar-menu > li.active .treeview-menu > li:first-child {
    border-top:1px solid #e8e6e6;
}

.sidebar-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
}

.skin-red-light .treeview-menu > li.active > a {
    font-weight: normal;
}

/*.skin-red-light .treeview-menu > li.active > a,*/
.skin-red-light .treeview-menu > li > a:hover {
    color: #338eba;
}

.skin-red-light .sidebar-menu > li > a {
    font-size: 14px;
}

.skin-red-light .sidebar-menu > li:hover > a, .skin-red-light .sidebar-menu > li.active > a {
    color: #ffffff;
}

.skin-red-light .treeview-menu > li.active > a {
    color:#777777;
}

.menu-main-home i {font-size:30px;    color: #dd4b39;}
.main-navigation-menu .menu-main-home a:hover i {color: #fff;}
.menu-main-home a {
    padding: 12px 15px 7px;
}