/*
 * Customizer CSS
 *
 * Adjusts styling for theme option controls in the Customizer
 *
 * @package Tortuga
 */

.customize-control-checkbox {
	margin-bottom: 4px;
}

#customize-control-tortuga_theme_options-blog_title,
#customize-control-tortuga_theme_options-blog_description,
#customize-control-tortuga_theme_options-excerpt_length,
#customize-control-tortuga_theme_options-postmeta_headline,
#customize-control-tortuga_theme_options-single_post_headline,
#customize-control-tortuga_theme_options-slider_category,
#customize-control-tortuga_theme_options-slider_limit,
#customize-control-tortuga_theme_options-slider_animation {
	margin-top: 16px;
}

#customize-control-tortuga_theme_options-postmeta_headline,
#customize-control-tortuga_theme_options-single_post_headline,
#customize-control-tortuga_theme_options-slider_activate {
	margin-bottom: 0;
}

#customize-control-tortuga_theme_options-upgrade div {
	margin: 4px 0 32px;
}
#customize-control-tortuga_theme_options-upgrade div .customize-control-title {
	margin-bottom: 4px;
}

#accordion-panel-tortuga_options_panel .customize-info .customize-help-toggle {
	top: 24px;
	right: 4px;
}

#accordion-panel-tortuga_options_panel .customize-info .customize-help-toggle::before {
	content: "\f333";
	color: #a0a5aa;
	font-size: 28px;
	padding: 0;
	left: 0;
	top: 0;
}

#accordion-panel-tortuga_options_panel .customize-info .customize-help-toggle[aria-expanded="true"]::before {
	content: "\f335";
}

#accordion-panel-tortuga_options_panel .customize-info .customize-help-toggle:hover::before {
	color: #72777c;
}

#accordion-panel-tortuga_options_panel .customize-info .customize-help-toggle:focus::before {
	box-shadow: none;
}
