/*
 * Theme Info CSS
 *
 * CSS Stylesheet for Theme Info page on Appearance -> Theme Info
 *
 * @package Tortuga
 */

.theme-info-wrap {
	position: relative;
	margin: 25px 40px 0 20px;
	max-width: 1050px;
}
.theme-info-wrap img {
	max-width: 100%;
}

/* Clearing Floats */
.theme-info-wrap .clearfix:before, .theme-info-wrap .clearfix:after {
	display: table;
	content: " ";
}
.theme-info-wrap .clearfix:after {
	clear: both;
}
.theme-info-wrap .clearfix {
	*zoom: 1; /* For IE 6/7 only */
}

/* Columns */
.theme-info-wrap .columns-wrapper {
	margin-right: -4em;
}
.theme-info-wrap .columns-wrapper .column {
	float: left;
	box-sizing: border-box;
	padding-right: 4em;
}
.theme-info-wrap .columns-wrapper .column-half {
	width: 50%;
}
.theme-info-wrap .columns-wrapper .column-third {
	width: 33.3333333333333%;
}
.theme-info-wrap .columns-wrapper .column-quarter {
	width: 25%;
}

/* Font Styles */
.theme-info-wrap h3 {
	margin: 1em 0 0.6em;
	font-size: 1.8em;
	line-height: 1.5em;
}
.theme-info-wrap h4 {
	margin: 0.2em 0;
	font-size: 1.4em;
}

/* Theme Info Header */
.theme-info-wrap h1 {
	margin: 0.2em 0 0 0;
	color: #333333;
	font-weight: 400;
	font-size: 3.0em;
	line-height: 1.2em;
}
.theme-info-wrap .theme-description {
	margin: 1em 0;
	min-height: 60px;
	color: #777777;
	font-weight: 400;
	font-size: 1.4em;
	line-height: 1.6em;
}

/* Important Links */
.theme-info-wrap .important-links p strong {
	margin-right: 1em;
}
.theme-info-wrap .important-links p a {
	padding: 0 1em;
}
.theme-info-wrap .important-links p .social-icons {
	float: right;
}
.theme-info-wrap .important-links p a span {
	display: inline-block;
	width: 24px;
	height: 24px;
	color: #333;
	vertical-align: text-bottom;
	text-decoration: inherit;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.theme-info-wrap .important-links p a .genericon-mail:hover {
	color: #aaa;
}
.theme-info-wrap .important-links p a .genericon-facebook:hover {
	color: #3b5998;
}
.theme-info-wrap .important-links p a .genericon-twitter:hover {
	color: #00aced;
}

/* Getting Started */
#getting-started {
	margin: 2em 0;
}
#getting-started .section {
	margin: 2em 0 4em;
}
#getting-started .section .about {
	color: #777777;
	font-size: 1.2em;
	line-height: 1.6em;
}

/* More Features */
#more-features .section {
	margin: 1em 0 3em;
}
#more-features .section .about {
	color: #777777;
	font-size: 1.2em;
	line-height: 1.6em;
}

/* Theme Author */
#theme-author {
	margin: 1em 0;
}
#theme-author p {
	color: #777777;
	font-size: 1.2em;
	line-height: 1.6em;
}
