#content ul.krumo-node li, ul.krumo-node {
    margin: 0;
    padding: 0
}

ul.krumo-node ul {
    padding-left: 18px
}

div.krumo-root {
    border: solid 1px #E8E8E8;
    border-radius: 3px;
    padding: 4px;
    margin: .5em 0;
    background-color: #F8F8F8;
    z-index: 100000;
    position: relative;
    width: 97%;
    margin: .5em auto;
    overflow: visible;
    clear: both;
    /* height: 100%; */
    height: auto;
    /* width: auto; */
    min-width: 400px;
}

div.krumo-root * {
    font: 13px/16px "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #666
}

li.krumo-child {
    display: block;
    list-style: none;
    overflow: hidden
}

ul.krumo-node ul li.krumo-child {
    background: rgba(0, 0, 0, .03)
}

div.krumo-element {
    cursor: default;
    line-height: 22px;
    display: block;
    clear: both;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: 6px 8px;
    padding-left: 18px
}

a.krumo-name {
    color: #284F76;
    font-weight: 700;
    text-decoration: none
}

a.krumo-name big {
    font: 700 20pt Georgia;
    line-height: 14px;
    position: relative;
    top: 2px;
    left: -2px
}

ul.krumo-node div.krumo-expand {
    background-image: url(data:image/gif;base64,R0lGODlhCQAJALMAAP///wAAAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAJAAkAAAQTEIAna33USpwt79vncRpZgpcGRAA7);
    cursor: pointer
}

ul.krumo-node div.krumo-opened {
    background-image: url(data:image/gif;base64,R0lGODlhCQAJALMAAP///wAAAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAJAAkAAAQQEMhJ63w4Z6C37JUXWmQJRAA7)
}

ul.krumo-node ul div.krumo-expand, ul.krumo-node ul div.krumo-opened, ul.krumo-node ul div.krumo-opened ~ div {
    border-left: 2px solid #CCC
}

div.krumo-preview {
    font: 12px/16px Menlo, Consolas, Inconsolata, "Andale Mono", "Courier New", monospace;
    font-weight: 400;
    color: #333;
    padding: 5px;
    background: #F8F8F8;
    overflow: auto;
    word-break: break-all
}

ul.krumo-node ul div.krumo-expand.krumo-hover, ul.krumo-node ul div.krumo-hover ~ div {
    border-left: 2px solid #888;
    background-color: rgba(88, 139, 255, .05) !important
}

li.krumo-footnote {
    background: #fff;
    padding: 2px 5px;
    list-style: none;
    border-top: solid 1px #bebebe;
    margin-top: 2px;
    cursor: default
}

* html li.krumo-footnote {
    line-height: 13px
}

.krumo-version {
    float: right
}

strong.krumo-version-number {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 11px;
    margin: 0;
    padding: 0;
    color: #366D6D;
    display: inline;
    margin-right: 3px
}

li.krumo-footnote a {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #434343;
    text-decoration: none
}

li.krumo-footnote a:hover {
    color: #000
}

li.krumo-footnote span.krumo-call {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    position: relative;
    top: 1px
}

li.krumo-footnote span.krumo-call code {
    font-weight: 700
}

div.krumo-title {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    cursor: default
}

em.krumo-type, strong.krumo-array-length, strong.krumo-string-length {
    font-style: italic
}

strong.krumo-integer, strong.krumo-string {
    color: #000
}

strong.krumo-boolean, strong.krumo-null {
    font: 13px/16px Menlo, Consolas, Inconsolata, "Andale Mono", "Courier New", monospace;
    font-weight: 700;
    color: #700
}

strong.krumo-datetime, strong.krumo-sorted {
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-weight: 700;
    color: #700
}

strong.krumo-class {
    color: #000;
    font-weight: 700
}