/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls {}
.owl-theme .owl-controls .owl-pagination {
text-align: center;
margin-top: 40px;
}
.owl-theme .owl-controls .owl-buttons div, .owl-theme .owl-controls .owl-pagination span {
cursor: pointer;
} 
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
	font-family: 'FontAwesome';
	font-size: 32px;
	text-align: center;
	line-height: 58px;
	height: 58px;
	width: 54px;
	margin: -29px 0 0 0;
	position: absolute;
	top: 50%;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
left: 0;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:before {
content: "\f100";
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
right: 0;
}
.owl-theme .owl-controls .owl-buttons div.owl-next:before {
content: "\f101";
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	margin: 0px 10px;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	-moz-border-radius: 5px;							/* Mozila Firefox border radius */
	-webkit-border-radius: 5px;	   						/* Safari, Chrome border radius */
	-khtml-border-radius: 5px;	   						/* KHTML border radius */
	-icab-border-radius: 5px;	   						/* icab border radius */
	border-radius: 5px;		   							/* CSS3 Opera border radius */
	-opera-border-radius: 5px;
	-o-border-radius: 5px;
	-border-radius: 5px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url('../images/AjaxLoader.gif') no-repeat center center
}