
#wpadminbar {
  background: #1778d9;
  height: 42px;
}

#wpadminbar, #wpadminbar * {
  line-height: 42px;
}

#wpadminbar .quicklinks .ab-empty-item, #wpadminbar .quicklinks a, #wpadminbar .shortlink-input {
  height: 42px;
}

#wpadminbar .ab-icon, #wpadminbar .ab-item:before, #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
  padding: 9px 0;
}

#wpbody {
  margin-top: 10px;
}

#wpadminbar .quicklinks>ul>li>a {
  border-left: 1px solid #1c97c3;
  padding: 0 15px 0 15px;
}

#wpadminbar .quicklinks > ul > li:last-child {
  border-right: 1px solid #1c97c3;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
  background: #0c65bc;
  color: #fff;
}

#wpadminbar .ab-top-menu>li.current>.ab-item {
  background: #0c65bc;
}

#wp-admin-bar-wp-logo {display:none;}

li#wp-admin-bar-site-name a.ab-item:before {
  margin: 0px;
}

#adminmenu li.menu-top {
  border-bottom: 1px solid;
}

.wp-header-end {
  visibility: visible;
  margin-top: 5px;
  clear:both;
}

.subsubsub {margin-top:10px;}
.wrap h1.wp-heading-inline {float:left;margin-right:1em;}
p.search-box {margin-top:-8px;
  margin-bottom:5px;
}
a.page-title-action {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover {
  background: #ecf0f5;
}
h2.nav-tab-wrapper a {
  border-radius: 4px 4px 0 0;
  padding-left: 1em;
  padding-right: 1em;
  /*letter-spacing: 2px;*/
  /* box-shadow: 1px -3px 3px #ffffff; */
}

h2.nav-tab-wrapper {
  background: #fff1ef;
}
#wpcontent {
  padding-left: 0px;
}

.wrap {
  padding-left:20px;
}
#screen-meta {margin-right:0;}
.hide {display:none;}
.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
  /*top:10px;*/
}
.wrap .wp-heading-inline+.page-title-action {
  float: left;
}
#wp-content-editor-tools {
  background-color: #f1f1f1;
  padding-top: 21px !important;
}

span.displaying-num, .paging-input {
  border: 1px solid #c3c3c3;
  padding: 5px 10px 6px;
  vertical-align: middle;
  margin-right: 0;
  margin-right: 0 !important;
  border-radius: 2px;
  color: #afafaf;
  background: #fbfbfb;
}
.tablenav .tablenav-pages a, .tablenav-pages-navspan {height:16px;}
.tablenav-pages .current-page {
  margin: 0 2px 0 4px !important;
  padding-bottom: 4px !important;
  border-radius: 10%;
  width: 3em;
}
.tablenav .tablenav-pages.one-page {
  margin-top:-5px;
}
body,#wp-content-editor-tools {    background: #ecf0f5 !important;}
#wpadminbar {
  background: linear-gradient(to bottom,#6d5454 0%,#424753 100%);
}

#wpadminbar .quicklinks>ul>li>a {
  border-left: 1px solid #7b604c;
  padding: 0 15px 0 15px;
  border-right: 1px solid #161616;
  /*letter-spacing: 3px;*/
}


#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap,
#wpadminbar .ab-top-menu>li.current>.ab-item
{
  /*background-color: #43353c;*/
  background-color: #404E4F;
}

#adminmenu {
  color: #36444b;
  margin-bottom: 0;
  margin-top: -4px;
  padding-top: 10px;
}

div#adminmenuback, #adminmenu {
  box-shadow: -2px 3px 4px #424040 inset;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
  background: #5e2f2f;
  color: #fff;
}

#wpadminbar .quicklinks > ul > li:last-child {
  border-right: 1px solid #7b604c;
}

#wpadminbar .ab-top-secondary  {
  border-left: 1px solid #161616;
}

h1.wp-heading-inline + .page-title-action {
  top: 10px;
}

@import "admin";