/*
 * Dashicons mixin
 * use: @include dashicons( '\f140' );
 */
html {
  background: #f3f3f3;
  /* Links */ }

a {
  color: #0074a2; }
  a:hover, a:active, a:focus {
    color: #0099d5; }

#rightnow a:hover, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .ui-tabs-nav a:hover {
  color: #0099d5;
  /* Forms */ }

input[type=checkbox]:checked:before {
  color: #ffc107; }

input[type=radio]:checked:before {
  background: #ffc107; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active {
  color: #0099d5;
  /* Core UI */ }

.wp-core-ui {
  /* List tables */ }
  .wp-core-ui .button-primary {
    background: #00796b;
    border-color: #00463e;
    color: white;
    -webkit-box-shadow: inset 0 1px 0 #00c6af, 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 0 #00c6af, 0 1px 0 rgba(0, 0, 0, .15); }
    .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
      background: #005047;
      border-color: #002d27;
      color: white;
      -webkit-box-shadow: inset 0 1px 0 #00ac98, 0 1px 0 rgba(0, 0, 0, .15);
      box-shadow: inset 0 1px 0 #00ac98, 0 1px 0 rgba(0, 0, 0, .15); }
    .wp-core-ui .button-primary:active {
      background: #005047;
      border-color: #002d27;
      color: white;
      -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
    .wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled {
      color: #c7d1d0 !important;
      background: #005047 !important;
      border-color: #002d27 !important;
      text-shadow: none !important; }
  .wp-core-ui .wp-ui-primary {
    color: #fff;
    background-color: #009688; }
  .wp-core-ui .wp-ui-text-primary {
    color: #009688; }
  .wp-core-ui .wp-ui-highlight {
    color: #fff;
    background-color: #ffc107; }
  .wp-core-ui .wp-ui-text-highlight {
    color: #ffc107; }
  .wp-core-ui .wp-ui-notification {
    color: #fff;
    background-color: #212121; }
  .wp-core-ui .wp-ui-text-notification {
    color: #212121; }
  .wp-core-ui .wp-ui-text-icon {
    color: #f1f3f3; }

.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus {
  color: #fff;
  background-color: #009688; }

.view-switch a.current:before {
  color: #009688; }

.view-switch a:hover:before {
  color: #212121; }

.post-com-count:hover:after {
  border-top-color: #009688; }

.post-com-count:hover span {
  color: #fff;
  background-color: #009688; }

strong .post-com-count:after {
  border-top-color: #212121; }

strong .post-com-count span {
  background-color: #212121;
  /* Admin Menu */ }

#adminmenuback, #adminmenuwrap, #adminmenu {
  background: #009688; }

#adminmenu a {
  color: #fff; }

#adminmenu div.wp-menu-image:before {
  color: #f1f3f3; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #ffc107; }

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #fff;
  /* Active tabs use a bottom border color that matches the page background color. */ }

.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover {
  border-bottom-color: #f3f3f3;
  /* Admin Menu: submenu */ }

#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #007268; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #007268; }

#adminmenu .wp-submenu .wp-submenu-head {
  color: #b3e0db; }

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #b3e0db;
  /* Admin Menu: current */ }
  #adminmenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #ffc107; }

#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #fff; }
  #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #ffc107; }

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
  border-right-color: #f3f3f3; }

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #ffc107; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
  color: #fff;
  /* Admin Menu: bubble */ }

#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  color: #fff;
  background: #212121; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins {
  color: #fff;
  background: #007268;
  /* Admin Menu: collapse button */ }

#collapse-menu {
  color: #f1f3f3; }

#collapse-menu:hover {
  color: #fff; }

#collapse-button div:after {
  color: #f1f3f3; }

#collapse-menu:hover #collapse-button div:after {
  color: #fff;
  /* Admin Bar */ }

#wpadminbar {
  color: #fff;
  background: #009688; }

#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon {
  color: #fff; }

#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after {
  color: #f1f3f3; }

#wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #ffc107;
  background: #007268; }

#wpadminbar > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label, #wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #ffc107; }

#wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before {
  color: #fff;
  /* Admin Bar: submenu */ }

#wpadminbar .menupop .ab-sub-wrapper {
  background: #007268; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #06b3a3; }

#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #b3e0db; }

#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before {
  color: #f1f3f3; }

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li.hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before {
  color: #ffc107; }

#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #ffc107;
  /* Admin Bar: search */ }

#wpadminbar #adminbarsearch:before {
  color: #f1f3f3; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #fff;
  background: #00baa8; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #fff;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #fff;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
  /* Admin Bar: my account */ }

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #00baa8;
  background-color: #00baa8; }

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #fff; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #ffc107; }

#wpadminbar #wp-admin-bar-user-info .username {
  color: #b3e0db;
  /* Pointers */ }

.wp-pointer .wp-pointer-content h3 {
  background-color: #ffc107; }

.wp-pointer .wp-pointer-content h3:before {
  color: #ffc107; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow {
  border-bottom-color: #ffc107;
  /* Media Uploader */ }

.media-item .bar, .media-progress-bar div {
  background-color: #ffc107; }

.details.attachment {
  box-shadow: 0 0 0 1px #fff, 0 0 0 5px #ffc107; }

.attachment.details .check {
  background-color: #ffc107;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #ffc107;
  /* Themes */ }

.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme:hover:after {
  background: #ffc107; }

.theme-browser .theme.add-new-theme:hover span:after {
  color: #ffc107; }

.theme-overlay .theme-header .close:hover, .theme-overlay .theme-header .right:hover, .theme-overlay .theme-header .left:hover {
  background: #ffc107;
  /* jQuery UI Slider */ }

.wp-slider .ui-slider-handle, .wp-slider .ui-slider-handle.ui-state-hover, .wp-slider .ui-slider-handle.focus {
  background: #00796b;
  border-color: #00463e;
  -webkit-box-shadow: inset 0 1px 0 #00c6af, 0 1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 1px 0 #00c6af, 0 1px 0 rgba(0, 0, 0, .15);
  /* Responsive Component */ }

div#wp-responsive-toggle a:before {
  color: #f1f3f3; }

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #ffc107; }

.star-rating .star {
  color: #ffc107; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #007268; }

/*** my ***/

#adminmenuback, #adminmenuwrap, #adminmenu {
    background: #fff;
}
#adminmenu a {
    color: #929292;
}
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    width: 190px;
}

#wpcontent, #wpfooter {
    margin-left: 190px;
}
#adminmenu .wp-submenu {left:190px;}

#adminmenuback {
    box-shadow: 2px 2px 3px #ddd;
}

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
    border-right-color: #ddd;
}
#wpadminbar {height:45px;background: #cc324b;}
#wpadminbar, #wpadminbar * {line-height: 45px;}
html.wp-toolbar {padding-top:45px;}
#wpadminbar .quicklinks .ab-empty-item, #wpadminbar .quicklinks a, #wpadminbar .shortlink-input {
    height:45px;
}
#wpadminbar .ab-icon, #wpadminbar .ab-item:before, #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
    padding: 10px 0;
}

 #adminmenu .wp-has-current-submenu .wp-submenu
{
    background-color: #fbfbfb;
    -webkit-box-shadow: inset 0 4px 4px -2px rgba(0,0,0,.15), inset 0 -4px 4px -2px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 4px 4px -2px rgba(0,0,0,.15),inset 0 -4px 4px -2px rgba(0,0,0,.15);
     box-shadow: inset 0 4px 4px -2px rgba(97, 97, 97, 0.15), inset 0 -4px 4px -2px rgba(230, 212, 212, 0.15);}

#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
    color: #737373;
}
#adminmenu li.menu-top {
    border-bottom: 1px solid #f3f3f3;
}

#adminmenu li.wp-menu-separator {height:0;margin:0;}
#adminmenu {margin-top:0;}
#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top {
    color: #737373;
    /* background: #ffc107; */
    border-color: #f3f3f3;
    background-color: #f5f5f5;
}
#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus
{
    border-color: #f3f3f3;
    background-color: #fbfbfb;
    color: #737373;

}

#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before {
    color: #00b9eb !important;
}
#adminmenu div.wp-menu-image:before {
    /*color: #00b9eb;*/
}
#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
    color: #737373;
}