ul.krumo-node {
    margin: 0;
    padding: 0;
    background-color: #fff
}

ul.krumo-node ul {
    margin-left: 20px
}

* html ul.krumo-node ul {
    margin-left: 24px
}

div.krumo-root {
    border: solid 1px #000;
    margin: 1em 0
}

ul.krumo-first {
    font: 400 11px tahoma, verdana;
    border: solid 1px #fff
}

li.krumo-child {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden
}

div.krumo-element {
    cursor: default;
    display: block;
    clear: both;
    white-space: nowrap;
    background-color: #fff;
    background-image: url(%url%empty.gif);
    background-repeat: no-repeat;
    background-position: 6px 5px;
    padding: 2px 0 3px 20px
}

* html div.krumo-element {
    padding-bottom: 3px;
    line-height: 13px
}

div.krumo-expand {
    background-image: url(%url%collapsed.gif);
    cursor: pointer
}

div.krumo-hover {
    background-color: #BFDFFF
}

div.krumo-opened {
    background-image: url(%url%expanded.gif)
}

a.krumo-name {
    color: navy;
    font: 700 13px courier new;
    line-height: 12px
}

a.krumo-name big {
    font: 700 16pt Georgia;
    line-height: 10px;
    position: relative;
    top: 2px;
    left: -2px
}

* html a.krumo-name big {
    font: 700 15pt Georgia;
    float: left;
    top: -5px;
    left: 0;
    padding: 0;
    margin: 0
}

em.krumo-type {
    font-style: normal;
    margin: 0 2px
}

div.krumo-preview {
    font: 400 13px courier new;
    padding: 5px;
    background: #ffffe0;
    border: solid 1px olive;
    overflow: auto;
    margin: 5px 1em 1em 0
}

* html div.krumo-preview {
    padding-top: 2px
}

li.krumo-footnote {
    background: #fff url(%url%dotted.gif) repeat-x;
    padding: 4px 5px 3px;
    list-style: none;
    cursor: default
}

* html li.krumo-footnote {
    line-height: 13px
}

div.krumo-version {
    float: right
}

li.krumo-footnote h6 {
    font: 700 11px verdana;
    margin: 0;
    padding: 0;
    color: navy;
    display: inline
}

* html li.krumo-footnote h6 {
    margin-right: 3px
}

li.krumo-footnote a {
    font: 700 10px arial;
    color: #434343;
    text-decoration: none
}

li.krumo-footnote a:hover {
    color: #000
}

li.krumo-footnote span.krumo-call {
    font: 400 11px tahoma, verdana;
    position: relative;
    top: 1px
}

li.krumo-footnote span.krumo-call code {
    font-weight: 700
}

div.krumo-title {
    font: 400 11px tahoma, verdana;
    position: relative;
    top: 9px;
    cursor: default;
    line-height: 2px
}

strong.krumo-array-length, strong.krumo-string-length {
    font-weight: 400;
    color: #009
}