/**
 * 定义买家中心样式
*/
body { background: #DBEAE3 url(skin02/body_bg.jpg) no-repeat scroll center 70px;}
a { color: #1C85A4;}
a:hover { color: #23A7CD;}
.user-info .user-data dd, .user-info .user-stat, .sns-nav { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#BF034F69', endColorstr='#BF034F69');background:rgba(3,79,105,0.75); border-radius: 5px;}

.user-info .user-stat dl { border-color: #3E7B8A;}

.sns-nav { border-radius: 0; box-shadow: inset 0 1px 0 rgba(62,123,138,0.75);}

.sns-nav ul li a { color: #DEF0FA; border-color: #064B5E; box-shadow: inset 1px 0 0 rgba(62,123,138,0.75);}
.sns-nav ul li a:hover, .group-info:hover { background-color: #1C85A4 !important;}
.sns-nav ul li a.current, .sns-nav ul li a:hover.current { background-color: #FFFFFF !important; color: #23A7CD;}
.sns-nav ul li a.current i { background: url(skin02/nav.png) no-repeat scroll;}

.sns-main { background-image: url(skin02/layout_bg.png);}

.tabmenu ul li.active, .group-info:hover { border-color: #23A7CD;}
.tabmenu ul li.active i { border-color: #23A7CD transparent transparent;}

.message-list dl { border-color: #DBEAE3 !important;}
.message-list dl dt { border-color: #FAFCFB;}
