@charset "utf-8";

/* ================================ */
/* 触屏版消息聊天样式类型				*/


.nctouch-message-list { background-color: #FFF;}
.nctouch-message-list li { position: relative; z-index: 1; height: 3rem; border-bottom: solid 0.05rem #EEE; margin: 0 1.5rem 0 3.2rem;}
.nctouch-message-list li .avatar { position: absolute; z-index: 1; top: 0.4rem; bottom: 0.4rem; left: -2.7rem; display: block; width: 2.2rem; height: 2.2rem; background-color: #EEE; border-radius: 100%;}
.nctouch-message-list li .avatar img { width: 100%; height: 100%; border-radius: 100%;}
.nctouch-message-list li .avatar sup { position: absolute; z-index: 1; top: 0; right: 0; width: 0.4rem; height: 0.4rem; background-color: #ED5564; border-radius: 100%;}
.nctouch-message-list li dl { display: block; padding: 0.4rem 0;}
.nctouch-message-list li dt { display: block; height: 1.2rem; font-size: 0.7rem; line-height: 1.2rem; color: #111;}
.nctouch-message-list li dd { display: block; height: 1rem; font-size: 0.6rem; line-height: 1rem; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.nctouch-message-list li time { position: absolute; z-index: 1; top: 0.4rem; right: 0.4rem; font-size: 0.55rem; line-height: 0.9rem; color: #BBB;}
.nctouch-message-list li .msg-list-del { position: absolute; z-index: 1; top: 1rem; right: -1rem; width: 1rem; height: 1rem; background-image: url(../images/del_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 60%; opacity: 0.5;}
.nctouch-chat-layout { position: absolute; z-index: auto; top: 0; left: 0; right: 0; bottom: 0; background-color: #EFEFEF;}

.margin-heigh { display: block; width: 100%; height: 4.8rem;}
.more { background-color: #DDD; width: 95%; height: 0.05rem; line-height: 0.05rem; margin: 0 auto 1rem auto; position: relative;}
.more a { position: absolute; z-index: 1; left: 50%; width: 5rem; margin-left: -2.5rem; background-color:#EFEFEF; color: #888; text-align: center; font-size: 0.55rem; line-height: 0.9rem; top: -0.4rem;}

.nctouch-chat-product { width: 93%; margin: 0.5rem auto; padding: 0.5rem 0; border: solid 0.05rem #DDD; background-color: #FFF; position: relative; z-index: 1;}
.nctouch-chat-product .goods-pic { width: 2.5rem; height: 2.5rem; position: absolute; z-index: 1; top: 0.5rem; left: 0.5rem;}
.nctouch-chat-product .goods-pic img { width: 100%;}
.nctouch-chat-product .goods-info { margin: 0 0.5rem 0 3.5rem;}
.nctouch-chat-product .goods-name { font-size: 0.7rem; line-height: 0.7rem; height: 1.4rem; overflow: hidden; margin-bottom: 0.3rem; color: #000;}
.nctouch-chat-product .goods-price { font-size: 0.6rem; line-height: 0.9rem; height: 0.9rem; color: #ED5564; font-weight: 600;}

.nctouch-chat-con { position: absolute; z-index: auto; max-height: 100%; left: 0; right: 0; bottom: 2rem; overflow-x: hidden;  overflow-y: auto;}
.nctouch-chat-con dl { position: relative; min-height: 2.2rem; padding: 0.2rem 0; margin-bottom: 0.2rem; overflow: hidden;}
.nctouch-chat-con dl.msg-other { animation: optionMsgLeft 0.5s ease-in-out; -webkit-animation:optionMsgLeft 0.5s ease-in-out;}
@keyframes optionMsgLeft
{
from { opacity: 0.5; left: -100%; right:100%;}
to { opacity: 1; left: 0; right:0;}
}
@-webkit-keyframes optionMsgLeft
{
from { opacity: 0.5; left: -100%; right:100%;}
to { opacity: 1; left: 0; right:0;}
}
.nctouch-chat-con dl.msg-me {animation: optionMsgRight 0.5s ease-in-out; -webkit-animation:optionMsgRight 0.5s ease-in-out;}
@keyframes optionMsgRight
{
from { opacity: 0.5; left: 100%; right:-100%;}
to { opacity: 1; left: 0; right:0;}
}
@-webkit-keyframes optionMsgRight
{
from { opacity: 0.5; left: 100%; right:-100%;}
to { opacity: 1; left: 0; right:0;}
}
.nctouch-chat-con dl dt { width: 2rem; height: 2rem; position: absolute; z-index: 1; top: 0.3rem;}
.nctouch-chat-con dl dt i { width: 0.5rem; height: 0.5rem; position: absolute; z-index: 1; top: 0.5rem; background-repeat: no-repeat; background-position: 50% 50%; background-size: 100%;}
.nctouch-chat-con dl dt img { max-width: 2rem; max-height: 2rem; border-radius: 100%;}
.nctouch-chat-con dl.msg-other dt { left: 0.4rem;}
.nctouch-chat-con dl.msg-other dt i { left: 2.3rem; background-image: url(../images/msg_other.png);}
.nctouch-chat-con dl.msg-me dt { right: 0.4rem;}
.nctouch-chat-con dl.msg-me dt i { right: 2.3rem; background-image: url(../images/msg_me.png);}
.nctouch-chat-con dl dd { display: block; max-width: 10rem; padding: 0.4rem 0.6rem; border-radius: 0.4rem; min-height: 0.9rem; font-size: 0.7rem; line-height: 0.9rem; color: #000; word-wrap: break-word;}
.nctouch-chat-con dl dd img { background: #FFF; max-width: 8rem; max-height: 8rem; padding: 0.2rem; border-radius: 0.3rem; vertical-align: text-bottom; margin: 0 0.2rem;}
.nctouch-chat-con dl.msg-other dd { margin-left: 3rem; float: left; background-color: #FFF;}
.nctouch-chat-con dl.msg-me dd { margin-right: 3rem; float: right; background-color: #FFD779;}

.nctouch-chat-bottom { position: absolute; z-index: auto; left: 0; right: 0; bottom: 0;}
.chat-input-layout { position: relative; z-index: 1; display: block; height: 2rem; background-color: rgba(255,255,255,0.90)}
.chat-input-layout .open-smile { display: block; width: 1.5rem; height: 1.5rem; padding: 0.25rem;}
.chat-input-layout .open-smile a { display: block; width: 1.5rem; height: 1.5rem; background-image: url(../images/smile_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 65%; opacity: 0.75;}
.chat-input-layout .input-box { position: absolute; z-index: 1; top: 0.24rem; right: 0.4rem; bottom: 0.24rem; left: 2rem; background: #F5F5F5; border: solid 0.05rem #EEE; border-radius: 0.2rem;}
.chat-input-layout .input-box input[type="text"] { background-color: transparent; border: none; width: 82%; height: 1.2rem; padding: 0.15rem 17% 0 1%; font-size: 0.6rem; line-height: 1.2rem;}
.chat-input-layout .input-box .submit { position: absolute; z-index: 1; top: 0; right:0; display: block; width: 1.8rem; height: 1.4rem; background-color: #4B89DC; background-image: url(../images/enter_w.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 55%; border: none; border-radius: 0.15rem;}
.chat-smile-layout { display: block; width: 100%; height: 4.2rem; background-color: #FAFAFA; border-top: solid 0.05rem #DDD;}
.chat-smile-layout ul { font-size: 0;}
.chat-smile-layout ul li { display: inline-block; width: 12.5%; height: 1rem; padding: 0.3rem 0 0 0; text-align: center;  vertical-align: middle;}
.chat-smile-layout ul li img { display: inline-block; height: 100%; vertical-align: middle;}
.send_goods_url{ color: #fff; background: red; font-size:16px; padding: 6px 1em; border-radius: 12px;}