@charset "utf-8";

/* ===============
 * 重新定义Html元素
 * =============== */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal;}
strong { font-weight: bold;}
ul, ol { list-style: none outside none;}
fieldset, img { border: medium none;}
caption, th {  text-align: left;}
table { border-collapse: collapse; border-spacing: 0;}

body { font: 12px/150% "Hiragino Sans GB","Microsoft Yahei",arial,宋体,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; color: #666666;  background: #FFF none repeat scroll 0 0; margin: 0; padding: 0;}
a { color: #555; outline: medium none;}
a:link, a:visited, a:active { text-decoration: none;}
a:hover { color: #E4393C; text-decoration: underline;}
i, cite, em { font-style: normal;}
/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }

/* ==========================
 * 常用宽度、高度、边距、边框属性
 * ========================== */
.w { width: 100%}
.wrapper { width: 1200px; margin: auto;}

.fl { float: left;}
.fr { float: right;}

.block { display: block;}
.none { display: none;}

.goods-price { font-family: Verdana;}
.goods-price em { font-weight: 600; color: #C00;}
.nc-appbar-tabs a.compare { display: none !important;}/*抢购页面去除侧边栏对比

/* ==========================
 * 广告区域布局样式
 * ========================== */
.ads-topbanner-layout { text-align: center; display: block; width: 100%; overflow: hidden;}

/* 公用导航区域
-------------------------------------- */
.public-nav-layout { border-bottom-width: 0;}

.channel-title { display: none; clear: both; overflow: hidden;}
.channel-title h2 { font-size: 18px; font-weight: 600; line-height: 20px; padding: 8px 0;}

/* 频道焦点区域
-------------------------------------- */
.channel-focus-layout { width: 100%; height: 426px; position: relative; z-index: 2;}
/* 频道分类导航菜单*/
.channel-category { display:block; width: 212px; position: absolute; z-index: 2; top: 0; left: 50%; margin-left: -600px;}
.channel-category .menu { background-color: #FFF;}
.channel-category .menu li { background-color: #F5F5F5; display: block; width: 212px; height: 70px; border-bottom: solid 1px #D7D7D7; position: relative; z-index: 1; zoom:1;}
.channel-category .menu li.hover { background-color: #D7D7D7; z-index: 2;}
.channel-category li .pic { width: 36px; height: 36px; float: left; margin: 17px 0 17px 10px;}
.channel-category li .pic img { max-width: 36px; max-height: 36px;}
.channel-category li h4 { font-weight: normal; font-size: 16px; line-height: 24px; width: 140px; height: 24px; float: left; margin: 11px 0 0 10px; overflow: hidden;}
.channel-category li h4 a { color: #333;}
.channel-category li .recommend-class { line-height: 24px; white-space: nowrap; width: 140px; height: 24px; float: left; margin: 0 0 11px 10px; overflow: hidden;}
.channel-category li .recommend-class a { font-size: 14px; color: #777; margin-right: 6px; opacity: 0.65; filter:alpha(opacity=65);}
.channel-category li .arrow { background: url(../images/top_bg.png) no-repeat -194px 0; width: 6px; height: 11px; position: absolute; z-index: 1; top: 18px; right: 20px; opacity: 0.5; filter:alpha(opacity=50);}
.channel-category li.hover .arrow { opacity: 1; filter:alpha(opacity=100);}
.channel-category li .sub-class { filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#F2FFFFFF', endColorstr='#F2FFFFFF'); background:rgba(255,255,255,0.95); display: none; width: 362px; padding: 0 7px; border-style: solid; border-color: 2px; border-color: #D7D7D7; position: absolute; z-index: 1;top: 0; left: 212px;}
.channel-category li.hover .sub-class { display: block;}
.channel-category .sub-class dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin: 5px 10px;}
.channel-category .sub-class dl dt { font-size: 12px; font-weight: 600; color: #333; line-height: 20px; height: 20px; margin-bottom: 8px; }
.channel-category .sub-class dl dd { display: inline-block; *display:inline/*IE6、7*/; letter-spacing: normal; word-spacing: normal; vertical-align: top; *zoom:1/*IE6、7*/;}
.channel-category .sub-class dl dd a { font-size: 12px; line-height: 20px; color: #555; height: 20px; padding: 5px 20px 0 0; }



/* 满屏背静切换焦点图 */
.full-screen-slides { width: 100%; height: 300px; position: relative; z-index: 1;}
.full-screen-slides li { width: 100%; height: 100%; position: absolute; z-index: 1; top: 0; left: 0;}
.full-screen-slides li a { display: block; width:988px; height:270px; text-indent:-9999px; margin-left: -388px; position: absolute; z-index: 2; left: 50%;}
.full-screen-slides-pagination{ font-size: 0; *word-spacing:-1px/*IE6、7*/; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3F000000', endColorstr='#3F000000');background:rgba(0,0,0,0.25); text-align: center; display:block; list-style:none; width: 100px; height: 8px; padding: 8px 0;margin-left: -50px; border-radius: 12px; position:absolute; left:50%; top: 270px; z-index: 1;}
.full-screen-slides-pagination li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; list-style:none; width:8px; height:8px; border: solid 1px #FFF; border-radius: 50%; margin-left:6px; overflow: hidden; cursor: pointer; *zoom:1; opacity: 0.5;}
.full-screen-slides-pagination a { display: block; width:100%; height:100%; padding:0; margin:0; text-indent:-9999px;}
.full-screen-slides-pagination .current { background: #FFF; opacity: 1;}
/* 三联切换焦点图 */
.jfocus-trigeminy { width: 987px; height: 125px; border-style: solid; border-color: #D7D7D7; border-width: 0 1px 1px 0; margin-left: -388px; clear: both; position: absolute; top: 300px; left: 50%; overflow: hidden;}
.jfocus-trigeminy ul { background-color: #FFF; width: auto; height: 180px; position: absolute; z-index: 1; overflow: hidden;}
.jfocus-trigeminy ul li { width: 988px; height: 125px; float: left; margin-right: -1px;}
.jfocus-trigeminy ul li a { display: block; width: 326px; height: 125px; float: left;}
.jfocus-trigeminy ul li a img { max-width: 326px; max-height: 125px;}
.jfocus-trigeminy .arrow { background: url(../images/channel_bg.png) no-repeat; width: 25px; height: 50px; position: absolute; z-index: 1; top: 37px; cursor: pointer; }
.jfocus-trigeminy .pre { background-position: 0 0; left: 0;}
.jfocus-trigeminy .next { background-position: -25px 0; right: 0;}
.jfocus-trigeminy .pagination{ display: none;}
/*焦点区域右侧*/
.channel-focus-layout .right-sidebar { filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19000000', endColorstr='#19000000');background:rgba(0,0,0,0.1); width: 210px; height: 270px; padding: 0; margin-left: 378px; position: absolute; z-index:1; top: 15px; left: 50%; display: none; }
.right-sidebar .title { color: #777; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19000000', endColorstr='#19000000');background:rgba(0,0,0,0.1); height: 30px; padding: 0 10px;}
.right-sidebar .title h3 { font-size: 16px; font-weight: 600; line-height: 30px; color: #FFF; display: inline-block; vertical-align: middle;}
.right-sidebar .title h4 { font-size: 12px; font-weight: 600; color: #FCE300; line-height: 20px; background-color: #F32613; display: inline-block; vertical-align: middle; height: 20px; margin-left: 10px; border-radius: 10px; padding: 1px 9px;}
.right-sidebar .sale { width: 210px; height: 240px; position: relative; z-index: 1; overflow: hidden;}
.right-sidebar .sale ul { width: auto; position: absolute; z-index:1;}
.right-sidebar .sale ul li { font-size: 12px; width: 210px; height: 240px; float: left; position: relative; z-index: 1;}
.right-sidebar .sale .pagination { display: none;}
.right-sidebar .sale .arrow { background: url(../images/home_bg.png) no-repeat; width: 19px; height: 29px; position: absolute; z-index: 2; top: 80px; cursor: pointer;}
.right-sidebar .sale:hover .arrow { opacity: 0.5!important;}
.right-sidebar .sale .arrow:hover { opacity: 0.8!important;}
.right-sidebar .sale .pre { background-position: -160px -40px; left: 0;}
.right-sidebar .sale .next { background-position: -180px -40px; right:0;}
.right-sidebar .sale .goods-thumb { background-repeat: no-repeat; background-size: contain; background-position:center; width: 210px; height: 210px; position: absolute; z-index: 1; top: 0; left: 0;}
.right-sidebar .sale .goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 210px; height: 210px; overflow: hidden;}
.right-sidebar .sale .goods-thumb img { max-width: 210px; max-height: 210px; margin-top:expression(210-this.height/2); *margin-top:expression(105-this.height/2);}
.right-sidebar .sale dl { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#BF000000', endColorstr='#BF000000'); background:rgba(0,0,0,0.75); height: 50px; position: absolute; z-index: 2; top: 160px; left: 0; overflow: hidden;}
.right-sidebar .sale dt.goods-name { color: #FFF; line-height: 22px; white-space: nowrap; padding: 0 10px; width: 190px; height: 22px; overflow: hidden; text-overflow: ellipsis;}
.right-sidebar .sale dd.goods-price { padding: 0 10px;}
.right-sidebar .sale dd strong { font-family: Arial; font-size: 20px; line-height: 28px; color: #FFE500; vertical-align: middle;}
.right-sidebar .sale dd .original { font-size: 12px; color: #AAA; font-weight: normal; text-decoration: line-through; margin-left: 6px;}
.right-sidebar .sale dd .sell { font-size: 12px; color: #FFF; margin-left: 6px; vertical-align: middle;}
.right-sidebar .sale dd .sell em { vertical-align: middle; font-weight: 600; color: #E72551; margin-left: 2px;}
.right-sidebar .time-remain { font-size: 14px; color: #555; line-height: 30px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7FFFFFFF', endColorstr='#7FFFFFFF');background:rgba(255,255,255,0.5); text-align: center; width: 210px; height: 30px; position: absolute; z-index: 3; bottom: 0; left: 0;}
.right-sidebar .time-remain em { font-weight: 600; color: #000; margin: 0 2px;}


/* 首页标准内容模块
-------------------------------------- */
.channel-standard-layout { height: 451px; border-top: solid 2px #D93600; overflow: hidden; margin-top: 15px;}
/*区块左侧*/
.channel-standard-layout .left-sidebar { background-color: #D7D7D7; width: 230px; float: left;}
.channel-standard-layout .left-sidebar .title { width: 90%; height: 40px; margin: 0 5%;}
.channel-standard-layout .left-sidebar .title .txt-type { height: 40px;}
.channel-standard-layout .left-sidebar .title .txt-type h3 { font: 16px/40px "microsoft yahei"; color: #333; vertical-align: middle; display: inline-block; *display: inline/*IE6,7*/; zoom:1;}
/*区块左侧广告*/.channel-standard-layout .left-ads { background-color: #FFF; width: 220px; height: 390px; padding: 10px 0 10px 9px; border: solid #E6E6E6; border-width: 0 0 1px 1px; overflow: hidden;}
.channel-standard-layout .left-ads img { max-width: 220px; max-height: 390px;}
/*区块中部*/
.channel-standard-layout .middle-layout { width: 718px; height: 100%; float: left; overflow: hidden;}
.channel-standard-layout .tabs-nav { background-color: #F5F5F5; width: 720px; height: 39px; border-style: solid; border-width: 0 0 1px 0; border-color: transparent transparent #DDD transparent; position: relative; z-index: 1;}
.channel-standard-layout .tabs-nav li { width: 179px; height: 39px; float: left; padding: 0; border-right: solid 1px #D7D7D7; position: relative; z-index: 1; cursor: pointer;}
.channel-standard-layout .tabs-nav li h3 { color: #555; font-size: 16px; font-weight: normal; line-height: 38px; text-align: center;}
.channel-standard-layout .tabs-nav li.tabs-selected { background-color: #FFF; height: 40px;}
.channel-standard-layout .tabs-nav li.tabs-selected h3 { color: #333;}
.channel-standard-layout .tabs-panel { width: 718px; height: 410px; padding: 0; margin: 0; border-bottom: solid 1px #E6E6E6; position: relative; z-index: 1; overflow: hidden;}
.tabs-hide { display: none;}

/*中部推荐商品列表*/
.channel-standard-layout .middle-goods-list {overflow: hidden;}
.channel-standard-layout .middle-goods-list ul { width: 716px; height: 400px; padding: 0 1px;}
.channel-standard-layout .middle-goods-list ul li { width: 179px; height: 200px; float: left; overflow: hidden;}
.channel-standard-layout .middle-goods-list dl { width: 160px; margin: 10px auto auto; position: relative; z-index: 1;}
.channel-standard-layout .middle-goods-list dl dt.goods-name { font-family: Tahoma; line-height: 16px; white-space: nowrap; text-overflow:ellipsis; width: 160px; height: 16px; position: absolute; z-index: auto; top: 148px; left: 0; overflow: hidden;}
.channel-standard-layout .middle-goods-list dl dd.goods-thumb { width: 140px; height: 140px; position: absolute; z-index: auto; top: 0; left: 10px;}
.channel-standard-layout .middle-goods-list dl dd.goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 140px; height: 140px; overflow: hidden; }
.channel-standard-layout .middle-goods-list dl dd.goods-thumb img { max-width: 140px; max-height: 140px; margin-top:expression(140-this.height/2); *margin-top:expression(80-this.height/2);}
.channel-standard-layout .middle-goods-list dl dd.goods-price { font-size: 12px; line-height: 20px; position: absolute; z-index: auto; top: 168px; left: 0;}

/*右侧推荐品牌*/
.channel-standard-layout .right-sidebar { width: 250px; height: 450px; border: solid #E6E6E6; border-width: 0 1px 1px; float: right; left: 0;}
.channel-standard-layout .right-sidebar .picture { height: 150px; overflow: hidden;}


/*红色*/
.channel-red .all-category { background-color: #F32613;}
.style-red .menu li { background-color:#E84C3D; border-color: #ED7669;}
.style-red .menu li.hover { background-color: #C1392B;}
.style-red .menu li h4 a,
.style-red .menu li .recommend-class a,
.style-red .left-sidebar .title .txt-type h3  { color: #FFF;}
.style-red .sub-class { border-color: #C1392B !important;}
.style-red .channel-standard-layout { border-top-color: #F3A59E;}
.style-red .channel-standard-layout .left-sidebar { background-color: #F3A59E;}
.style-red .channel-standard-layout .tabs-nav li.tabs-selected h3 { color: #F3A59E;}
/*橙色*/
.channel-orange .all-category { background-color: #FB7D00;}
.style-orange .menu li { background-color: #FF9326; border-color: #FFAC59;}
.style-orange .menu li.hover { background-color: #FB7D00;}
.style-orange .menu li h4 a,
.style-orange .menu li .recommend-class a,
.style-orange .left-sidebar .title .txt-type h3 { color: #FFF;}
.style-orange .sub-class { border-color: #FB7D00 !important;}
.style-orange .channel-standard-layout { border-top-color: #FFA64D;}
.style-orange .channel-standard-layout .left-sidebar { background-color: #FFA64D;}
.style-orange .channel-standard-layout .tabs-nav li.tabs-selected h3 { color: #FFA64D;}
/*棕色*/
.channel-brown .all-category { background-color: #8C4600;}
.style-brown .menu li { background-color: #B25900; border-color: #BA6A1A;}
.style-brown .menu li.hover { background-color: #8C4600;}
.style-brown .menu li h4 a,
.style-brown .menu li .recommend-class a,
.style-brown .left-sidebar .title .txt-type h3 { color: #FFF;}
.style-brown .sub-class { border-color: #8C4600 !important;}
.style-brown .channel-standard-layout { border-top-color: #CC7A53;}
.style-brown .channel-standard-layout .left-sidebar { background-color: #CC7A53;}
.style-orange .channel-standard-layout .tabs-nav li.tabs-selected h3 { color: #CC7A53;}
/*绿色*/
.channel-green .all-category { background-color: #1D7E46;}
.style-green .menu li { background-color: #27AE61; border-color: #5DC289;}
.style-green .menu li.hover { background-color: #1D7E46;}
.style-green .menu li h4 a,
.style-green .menu li .recommend-class a,
.style-green .left-sidebar .title .txt-type h3 { color: #FFF;}
.style-green .sub-class { border-color: #1D7E46 !important;}
.style-green .channel-standard-layout { border-top-color: #2FCC71;}
.style-green .channel-standard-layout .left-sidebar { background-color: #2FCC71;}
.style-green .channel-standard-layout .tabs-nav li.tabs-selected h3 { color: #2FCC71;}
/*蓝色*/
.channel-blue .all-category { background-color: #2A80B9;}
.style-blue .menu li { background-color: #3598DC; border-color: #53A7E1;}
.style-blue .menu li.hover { background-color: #2A80B9;}
.style-blue .menu li h4 a,
.style-blue .menu li .recommend-class a,
.style-blue .left-sidebar .title .txt-type h3 { color: #FFF;}
.style-blue .sub-class { border-color: #2A80B9 !important;}
.style-blue .channel-standard-layout { border-top-color: #6BBEEF;}
.style-blue .channel-standard-layout .left-sidebar { background-color: #6BBEEF;}
.style-blue .channel-standard-layout .tabs-nav li.tabs-selected h3 { color: #6BBEEF;}
/*粉色*/
.channel-pink .all-category { background-color: #FF4D4D;}
.style-pink .menu li { background-color: #FF6766; border-color: #FF8585;}
.style-pink .menu li.hover { background-color: #FF4D4D;}
.style-pink .menu li h4 a,
.style-pink .menu li .recommend-class a,
.style-pink .left-sidebar .title .txt-type h3 { color: #FFF;}
.style-pink .sub-class { border-color: #FF4D4D !important;}
.style-pink .channel-standard-layout { border-top-color: #FF9999;}
.style-pink .channel-standard-layout .left-sidebar { background-color: #FF9999;}
.style-pink .channel-standard-layout .tabs-nav li.tabs-selected h3 { color: #FF9999;}
/*紫色*/
.channel-purple .all-category { background-color: #482257;}
.style-purple .menu li { background-color:#66307A; border-color: #7A3993;}
.style-purple .menu li.hover { background-color: #482257;}
.style-purple .menu li h4 a,
.style-purple .menu li .recommend-class a,
.style-purple .left-sidebar .title .txt-type h3 { color: #FFF;}
.style-purple .sub-class { border-color: #482257 !important;}
.style-purple .channel-standard-layout { border-top-color: #9C59B8;}
.style-purple .channel-standard-layout .left-sidebar { background-color: #9C59B8;}
.style-purple .channel-standard-layout .tabs-nav li.tabs-selected h3 { color: #9C59B8;}