@charset "utf-8";
/*页面整体宽度控制*/
.wrapper { width: 1200px; margin: auto; }
/* 公用头部区域 */
.header-wrap { background-color: #FFF; width: 100%; }
.public-head-layout { height: 100px; }
/* 站点logo */
.public-head-layout .site-logo { width:212px; height:60px; float:left; margin:15px 10px auto 0 }
.public-head-layout .site-logo img { max-width:212px; max-height:120px }
.public-head-layout .logo-banner { float: left; height: 70px; margin: 10px 10px auto 0; width: 120px; }
.public-head-layout .logo-banner img { max-height: 70px; max-width: 120px; }
/* 头部搜索 */
.head-search-layout { width:500px; float:left; margin:20px 0 0 20px }
.head-search-bar { width: 100%; height: 40px; display: block; position: relative; z-index: 100; }
.head-search-bar .search-form { background-color: #E4393C; height: 36px; padding: 2px; }
.head-search-bar .input-text { line-height: 24px; color: #555; width: 68%; height: 24px; float: left; padding:6px 1% 6px 68px; border: none 0; }
.head-search-bar .input-submit, .head-search-bar .input-submit:hover { font-size: 14px; color: #FFF; font-weight: 600; background-color: transparent; width: 17%; height: 36px; float: right; border: none; cursor: pointer; }
.head-search-bar .search-tip { font-size: 0; word-spacing:-1em; background-color: #FFF; display: none; min-height: 100px; padding-bottom: 10px; border: solid 1px #D7D7D7; position: absolute; z-index: 1; top: 40px; left: 0; right: 72px; }
.head-search-bar .search-history, .head-search-bar .search-hot { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
}
.head-search-bar .search-history { min-height: 100px; width: 55%; border-right: solid 1px #E6E6E6; }
.head-search-bar .search-hot { width: 44%; }
.head-search-bar .search-tip .title { color: #999; line-height: 20px; padding: 5px 19px; }
.head-search-bar .search-tip .title a { float: right; }
.head-search-bar .search-history ul { display: block; }
.head-search-bar .search-history ul li { color: #333; line-height: 30px; display: block; height: 30px; padding: 0 19px; cursor: pointer; }
.head-search-bar .search-history ul li:hover { background-color: #FAFAFA; }
.head-search-bar .search-hot ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;
}
.head-search-bar .search-hot ul li { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
height: 20px; padding: 2px 9px; border: solid 1px #E6E6E6; margin: 0 0 10px 10px; cursor: pointer; }
.head-search-bar .search-hot ul li:hover { color:  #F32613; border-color: #F32613; }
.head-search-layout .keyword { line-height: 20px; white-space: nowrap; width: 100%; height: 20px; margin-top: 6px; overflow: hidden; }
.head-search-layout .keyword ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;
vertical-align: top; display: inline-block; *display:inline/*IE6、7*/;
}
.head-search-layout .keyword ul li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
margin-right: 12px; }
.head-search-layout .keyword ul li a { color: #999; }
#head-search-bar { position:relative }
#search ul.tab li:hover { background: #f3f3f3; }
#search ul.tab { position: absolute; z-index:101; width: 60px; height: 36px; line-height: 36px; margin: 0 2px 0 0; cursor: pointer; font-size: 16px; font-family: "Microsoft YaHei"; background: #FFF; border: 2px solid #E4393C; text-indent:10px; border-right: none; }
#search ul.tab li { padding: 0 1px; height: 36px; line-height: 36px; font-size: 14px; background: #fff; color: #666; border-right: 1px solid #ddd; }
#search ul.tab li:nth-child(2) { display: none; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; }
#search .tab li i { height: 0; width: 0; line-height: 0; font-size: 0; position: absolute; right: 10px; border: 3px dashed transparent; border-top: 3px solid #999; }
#search .tab li i.arrow { top: 17px; transition: all 0.2s ease-in 0s; }
#search .tab li i.over { top: 17px; transform: rotate(180deg); transform-origin: 50% 30% 0; }
/* 头部用户型菜单*/
.head-user-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/;
float: right; margin: 20px 40px 0 0; }
.head-user-menu dl { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
margin-left: 10px; position: relative; z-index: 3; *zoom:1/*IE6、7*/;
}
.head-user-menu dl.my-mall { width: 108px; }
.head-user-menu dl.my-cart { width: 124px; }
.head-user-menu dl.hover { z-index: 101; }
.head-user-menu dl dt { line-height: 20px; color: #555; background-color: #f9f9f9; height: 20px; padding: 10px 15px; border: solid 1px #F0F0F0; position: absolute; z-index: 2; top: 0; right: 0; cursor: pointer; }
.head-user-menu dl.my-mall dt { width: 90px; }
.head-user-menu dl.my-cart dt { width: 110px; }
.head-user-menu dl.hover dt { background-color: #FFF; border-width: 1px; border-color: #F0F0F0 #F0F0F0 #FFF #F0F0F0; }
.head-user-menu dl dt span.ico { background: url(../images/top_bg.png) no-repeat; vertical-align: middle; display: inline-block; width: 20px; height: 16px; }
.head-user-menu dl.my-mall span.ico { background-position: -100px 0; margin-right: 4px; }
.head-user-menu dl.my-cart span.ico { background-position: -120px 0; margin-right: 8px; }
.head-user-menu dl dt i { font-size: 0px; line-height: 0; vertical-align: middle; display: inline-block; width: 0px; height: 0px; margin-left: 8px; border-width: 4px; border-color: #777 transparent transparent transparent; border-style:solid dashed dashed dashed; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in; }
.head-user-menu dl.hover dt i {
FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%; }
.head-user-menu dl dd { background-color: #FFF; display: none; border: solid 1px #F0F0F0; position: absolute; z-index: 1; top: 40px; right: 0; }
.head-user-menu dl.my-mall dd { width: 308px; }
.head-user-menu dl.my-cart dd { width: 348px; }
.head-user-menu dl.hover dd { display: block; }
.head-user-menu dl dd a { color: #005EA6; }
.head-user-menu a.arrow i { background:url(../images/top_bg.png) no-repeat -150px 0; vertical-align: middle; display: inline-block; width: 4px; height: 7px; margin-left: 4px; }
.head-user-menu dl dd .goods-thumb { width: 50px; height: 50px; }
.head-user-menu dl dd .goods-thumb a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block;
width: 48px; height: 48px; border: solid 1px #DDD; overflow: hidden; }
.head-user-menu dl dd .goods-thumb img { max-width: 48px; max-height: 48px; margin-top:expression(48-this.height/2);
*margin-top:expression(24-this.height/2);
}
.head-user-menu dl dd .sub-title { line-height: 28px; height: 28px; padding: 7px; border-bottom: solid 1px #DDD; }
.head-user-menu dl dd .sub-title h4 { font-weight: 600; float: left; }
.head-user-menu dl dd .sub-title a { float: right; }
.head-user-menu dl dd .user-centent-menu { width: 308px; padding: 8px 0; overflow: hidden; }
.head-user-menu dl dd .user-centent-menu ul { width: 310px; margin-left: -2px; }
.head-user-menu dl dd .user-centent-menu ul li { width: 138px; float: left; padding: 4px 0 4px 16px; border-left: solid 1px #EEE; }
.head-user-menu dl dd .browse-history { background-color: #FAFAFA; width: 308px; border-style: solid; border-width: 1px 0 0; border-color: #DDD transparent transparent; }
.head-user-menu dl dd .browse-history .part-title { height: 20px; padding: 6px 8px; }
.head-user-menu dl dd .browse-history .part-title h4 { float: left; }
.head-user-menu dl dd .browse-history .part-title a { float: right; }
.head-user-menu dl dd .browse-history ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;
padding: 0 7px 7px 7px; }
.head-user-menu dl dd .browse-history ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
margin: 0 4px; *zoom: 1;
}
.head-user-menu dl dd .browse-history .no-goods { text-align: center; display: block; width: 100%; font-size: 12px; }
.head-user-menu dl dd .incart-goods-box { display: block; width: 348px; max-height: 267px; overflow: hidden; position: relative; }
.head-user-menu dl dd .incart-goods { text-align: center; width: 100%; }
.head-user-menu dl dd .incart-goods .no-order { margin: 20px 0; }
.head-user-menu dl dd .incart-goods .loading { width: 16px; height: 16px; margin: 20px auto; }
.head-user-menu dl dd .incart-goods dl { display: block; width: 98%; height: 66px; clear: both; margin: 0 auto 0 2%; border-bottom: dotted 1px #DDD; position: relative; z-index: 1; }
.head-user-menu dl dd .incart-goods dt, .head-user-menu dl dd .incart-goods dd { background-color: transparent; border: 0; position: absolute; z-index: 1; }
.head-user-menu dl dd .incart-goods dt.goods-name { line-height: 16px; background-color: transparent; text-align: left; width: 180px; height: 32px; padding: 0; top: 8px; left: 64px; }
.head-user-menu dl dd .incart-goods dt.goods-name a { color: #333; }
.head-user-menu dl dd .incart-goods dd.goods-thumb { top: 8px; left: 8px; }
.head-user-menu dl dd .incart-goods dd.goods-price { text-align: right; width: 80px; height: 16px; top: 6px; right: 12px; }
.head-user-menu dl dd .incart-goods dd.goods-price em { font-size: 11px !important; font-weight: normal!important; line-height: 16px; color: #777 !important; word-break: break-all; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; text-align: right; width: 50px; margin-right: 4px; overflow: hidden; -webkit-text-size-adjust:none; }
.head-user-menu dl dd .incart-goods dd.goods-sales { line-height: 16px; color: #999; background-color: transparent; width: 270px; height: 16px; top: 42px; left: 64px; }
.head-user-menu dl dd .incart-goods dd.handle { width: 32px; top: 22px; right: 10px; }
.head-user-menu dl dd .checkout { background-color: #F0F0F0; text-align: right; padding: 8px; overflow: hidden; }
.head-user-menu dl dd .checkout .total-price { line-height: 20px; display: block; }
.head-user-menu dl dd .checkout .total-price i { font-weight: 600; color: #C00; margin: 0 4px; }
.head-user-menu dl dd .checkout .total-price em { font-family: Verdana, Geneva, sans-serif; font-size: 18px; font-weight: 600; color: #C00; }
.head-user-menu dl dd .checkout .btn-cart { float: right; clear: both; line-height: 20px; color: #FFF; background-color: #F32613; padding: 4px 8px; margin-top: 4px; border-radius: 4px; }
.head-user-menu dl div.addcart-goods-num { font: bold 11px/14px Verdana; color: #FFF; background: #F00; text-align: center; display: inline-block; height: 16px; min-width: 16px; max-width: auto!important; border: none 0; border-radius: 8px; position: absolute; z-index: 3; top: -4px; right: 10px; }

/* 公用导航区域 */
.public-nav-layout { width: 100%; height: 36px; border-bottom: solid 2px #D02629; margin: 0 auto; position: relative; z-index: 99; zoom: 1; }
.public-nav-layout .div { margin: 0; padding: 0; _zoom: 179; }
/*站点导航菜单*/
.public-nav-layout .site-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/;
white-space: nowrap; max-width: 988px; float: left; overflow: hidden; }
.public-nav-layout .site-menu li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
*zoom: 1;
}
.public-nav-layout .site-menu li a { font-size: 16px; font-weight: normal; line-height: 20px; color: #333; height: 20px; padding: 8px 16px; display: inline-block; *display:inline/*IE6、7*/;
zoom:1; }
.public-nav-layout .site-menu li a:hover { text-decoration: none; color: #F32613; }
.public-nav-layout .site-menu li a.current { font-weight: 600; color: #F32613; }
/*分类导航菜单*/
.public-nav-layout .all-category { background-color: #D02629; display: block; width: 212px; height: 36px; float: left; }
.public-nav-layout .all-category .title { line-height: 20px; height: 20px; padding: 8px 10px 10px 10px; }
.public-nav-layout .all-category .title h3 a { font-size: 15px; font-weight: normal; text-decoration:none; color: #FFF; float: left; margin-left: 4px; font-family:"microsoft yahei" }
.public-nav-layout .all-category .title i { font-size: 0px; line-height: 0; background: url(../images/top_bg.png) no-repeat -182px -186px; width: 18px; height: 14px; float: left; margin: 4px 4px 0 0; }
.public-nav-layout .all-category .category { display:none; width: 212px; }
.public-nav-layout .all-category:hover .category { display:block; }
.public-nav-layout .category .menu { background-color: #E4393C; }
.public-nav-layout .category .menu li { background-color: #E4393C; width: 210px; height: 99px; *float: left;
*clear: left;
position: relative; z-index: 1; zoom:1; }
.public-nav-layout .category .menu li.odd, .public-nav-layout .category .menu li.even { border-bottom:1px dashed #d02629; }
.public-nav-layout .category .menu li.hover { z-index: 2; }
.public-nav-layout .category .menu li.hover .ico { margin-left:5px; filter:alpha(opacity=100)/*IE*/; -moz-opacity:1/*Moz+FF*/; opacity: 1; }
.public-nav-layout .category .class { border-style: solid; border-width: 1px 0 1px 2px; border-color: transparent; display: block; width: 180px; height: 98px; padding: 0 15px; position: absolute; z-index: 1; top: -1px; left: -1px; padding-top:3px; }
.public-nav-layout .category .hover .class { background:#fff url(../images/class_arrow.png) no-repeat 184px 14px; border-bottom:1px dashed #d02629; z-index: 2; }
.public-nav-layout .category .class span.ico { background-position: 0 0; margin-top:10px; width: 16px; height: 16px; float: left; margin-right: 6px; float:left; }
.public-nav-layout .category .menu li.hover .ico { background-position: 0 16px }
.public-nav-layout .category .class span.ico img { max-width: 16px; max-height: 16px; -webkit-filter: grayscale(100%)/*Webkit*/; -o-filter: grayscale(100%); filter: gray; }
.public-nav-layout .category .menu li.hover .ico img { -webkit-filter: grayscale(100)/*Webkit*/; -o-filter: grayscale(100); filter: none; }
.public-nav-layout .category .class h4 { font-weight:normal; padding-bottom: 7px; padding-left: 10px; padding-top: 7px; color: #333; float: left; }
.public-nav-layout .category .class h4 a { color: #FFF; font-size:16px; font-family:"Microsoft Yahei"; }
.public-nav-layout .category .menu li.hover .class h4 a { color: #E43A3D; }
.public-nav-layout .category .class .recommend-class { height: 40px; line-height: 20px; margin-top:8px; width: 168px; float: left; clear: both; overflow: hidden; }
.public-nav-layout .category .class .recommend-class a { color: #222222; white-space: nowrap; margin-right: 5px; }
.public-nav-layout .category .class .recommend-cn-class { height: 40px; line-height: 20px; margin-top:5px; width: 168px; float: left; clear: both; overflow: hidden; }
.public-nav-layout .category .class .recommend-cn-class a { font-size:14px; color: #fff; white-space: nowrap; margin-right: 10px; }
.public-nav-layout .category .hover .class .recommend-cn-class a { color:#E43A3D; }
.public-nav-layout .category .class .arrow { margin-top:12px; background: url(../images/top_bg.png) no-repeat -150px -10px; width: 12px; height: 12px; float: right; z-index: 1; }
.public-nav-layout .category .sub-class { background-color: #FAFAFA; display: none; width: 946px; min-height: 448px; padding: 10px 20px 19px; border-style: solid; border-color: transparent #B1191A #B1191A #B1191A; border-width: 0 1px 1px 1px; position: absolute; z-index: 1; top: -1px; left: 210px; }
.public-nav-layout .category li.hover .sub-class { display: block; }
.public-nav-layout .category .sub-class-content { display: block; width: 730px; float: left; }
.public-nav-layout .category .recommend-class { font-size: 0; word-spacing:-1em; display: block; overflow: hidden; }
.public-nav-layout .category .recommend-class span { font-size: 12px; background-color: #7C7171; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/;
margin: 0 10px 10px 0; *zoom: 1/*IE7*/;
}
.public-nav-layout .category .recommend-class span a { color: #FFF; line-height: 20px; display: block; padding: 2px 10px; }
.public-nav-layout .category .sub-class dl { font-size: 0; word-spacing:-1em; padding-top: 10px; }
.public-nav-layout .category .sub-class dl dt, .public-nav-layout .category .sub-class dl dd { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/;
*zoom: 1/*IE7*/;
}
.public-nav-layout .category .sub-class dl dt { background: url(../images/top_bg.png) no-repeat right -25px; width: 70px; height: 16px; padding-right: 15px; margin-right: 15px; }
.public-nav-layout .category .sub-class dl dt h3 { line-height: 16px; font-weight: 600; color: #5C5251; text-align: right; }
.public-nav-layout .category .sub-class dl dd { font-size: 0; word-spacing:-1em; width: 630px; border-bottom: solid 1px #F0F0F0; }
.public-nav-layout .category .sub-class dl:last-child dd { border-bottom: none 0; }
.public-nav-layout .category .sub-class dl dd a { font-size: 12px; color: #7C7171; line-height: 14px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
height: 14px; padding: 0 10px; margin-bottom: 10px; border-left: solid 1px #E7E7E7; *zoom:1/*IE6、7*/;
}
.public-nav-layout .category .sub-class dl dd a:hover { color: #C81623; }
.public-nav-layout .category .sub-class dl dd h5 { font-size: 12px; line-height: 20px; color: #333; margin: 4px 0 2px 0; }
.public-nav-layout .category .sub-class-right { display: block; width: 194px; height: 440px; float: right; }
.public-nav-layout .category .brands-list { }
.public-nav-layout .category .brands-list ul { font-size: 0; word-spacing:-1em; height: 136px; overflow: hidden; }
.public-nav-layout .category .brands-list li { font-size: 12px; background-color: transparent !important; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/;
width: 94px; height: 31px; margin: 0 1px 3px 2px; *zoom: 1/*IE7*/;
}
.public-nav-layout .category .brands-list li a { display: block; position: relative; z-index: 1; }
.public-nav-layout .category .brands-list li a img { width: 94px; height: 31px; position: absolute; z-index: 2; top: 0; right: 0; bottom: 0; left: 0; }
.public-nav-layout .category .brands-list li a span { color: #333; line-height: 25px; background-color: #FFF; white-space: nowrap; text-align: center; width: 86px; height: 25px; padding: 3px 4px; position: absolute; z-index: 1; top: 0; right: 0; overflow: hidden; }
.public-nav-layout .category .brands-list li a:hover span { color: #FFF; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#F27C7171', endColorstr='#F27C7171');
background:rgba(124,113,113,0.95); z-index: 3; }
.public-nav-layout .category .adv-promotions { display: block; width: 190px; margin: 0 2px; }
.public-nav-layout .category .adv-promotions a { background: #FFF; display: block; width: 190px; height: 150px; margin-top: 10px; }
.public-nav-layout .category .adv-promotions img { background: #D3D3D3; width: 190px; height: 150px; }
/* 面包屑所在位置 */
.nch-breadcrumb-layout { text-align: center; }
.nch-breadcrumb { font-size: 0; *word-spacing:-1px/*IE6、7*/;
text-align: left; height: 20px; padding: 10px 0; margin: 0 auto; }
.nch-breadcrumb span { font-size: 12px; line-height: 20px; color: #999; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/* IE6,7*/;
height: 20px; zoom: 1; }
.nch-breadcrumb i { font-size: 14px; color: #AAA; margin-right: 4px; }
.nch-breadcrumb span.arrow { font-family: "宋体"; line-height: 20px; color: #AAA; margin: 0 6px; }
.nch-breadcrumb a { color: #777; display: block; }
.nch-breadcrumb a:hover { color: #F32613; }
/*顶部banner广告*/
#top-banner { position:relative; display:none}
#top-banner .close { position:absolute; right:8px; top:5px;background: url(../images/close.png) no-repeat; width:19px; height:19px; overflow:hidden; display:block}
#top-banner .close:hover { background: url(../images/close.png) no-repeat 0 -19px; display:block}