@charset "utf-8";
/* CSS Document */
/* ===============
 * 重新定义Html元素

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { padding: 0; margin: 0; }
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal; }
strong { font-weight: bold; }
ul, ol { list-style: none outside none; }
fieldset, img { border: medium none; }
caption, th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
body { font: 12px/150% "Hiragino Sans GB", "Microsoft Yahei", arial, 宋体, "Helvetica Neue", Helvetica, STHeiTi, sans-serif; color: #666666; background: #fff none repeat scroll 0 0; margin: 0; padding: 0; }
a { color: #555; outline: medium none; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { color: #E4393C; text-decoration: underline; }
i, cite, em { font-style: normal; }
/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }
/* ==========================
 * 常用宽度、高度、边距、边框属性
 * ========================== */
.w { width: 100% }
.wrapper { width: 1200px; margin: auto; }
.fl { float: left; }
.fr { float: right; }
.block { display: block; }
.none { display: none; }
.goods-price { font-family: Verdana; }
.goods-price em { font-weight: 600; color: #C00; }
.nc-appbar-tabs a.compare { display: none !important; }/*抢购页面去除侧边栏对比

/* ==========================
 * 广告区域布局样式
 * ========================== */
.ads-topbanner-layout { text-align: center; display: block; width: 100%; overflow: hidden; }
/* 首页焦点区域
-------------------------------------- */
.home-focus-layout { width: 100%; background:#fff; height: 585px; position: relative; z-index: 1; }
/* 满屏背静切换焦点图 */
.full-screen-slides { width: 100%; height: 400px; position: relative; z-index: 1; }
.full-screen-slides li { width: 100%; height: 100%; position: absolute; z-index: 1; top: 0; left: 0; }
.full-screen-slides li a { display: block; width:776px; height:270px; text-indent:-9999px; margin-left: -388px; position: absolute; z-index: 2; left: 50%; }
.full-screen-slides-pagination { font-size: 0; *word-spacing:-1px/*IE6、7*/;
text-align: center; display:block; list-style:none; width:600px; height: 6px; padding:7px 8px; margin-left: -325px; position:absolute; left:50%; top: 360px; z-index: 9; }
.full-screen-slides-pagination li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
list-style:none; border-radius: 50%; margin-left:4px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#3F000000', endColorstr='#3F000000');
background:rgba(0,0,0,0.25); overflow: hidden; cursor: pointer; *zoom:1;
}
.full-screen-slides-pagination a { display: block; width:18px; height:18px; line-height:18px; overflow: hidden; text-align: center; color:#fff; font-family:arial; font-size:12px; text-indent:-9999px; }
.full-screen-slides-pagination .current { background: #F30; }
.home-focus-layout .banner-arrow { width: 762px; position: absolute; top: 95px; left: 50%; margin-left: -395px; z-index:99999 }
.home-focus-layout .arrow { background: url(../images/home_bg.png) no-repeat; width: 45px; height: 100px; position: absolute; z-index: 2; top:25px; cursor: pointer; }/*40px*/
.home-focus-layout .pre { background-position: 0 -100px; left:6px; }
.home-focus-layout .next { background-position: -45px -100px; right: 0; }
.home-focus-layout .banner-arrow:hover .arrow { opacity: 0.5!important; }
.home-focus-layout .banner-arrow .arrow:hover { opacity: 0.8!important; }
/* 四联切换焦点图 */

.limited_time { position:absolute; z-index:9; width:220px; height:164px; float:left; background:#fff }
.limited_time .clock-wrap { position:relative; width:210px; height:164px; background:url(../images/clock01.png) no-repeat }
.limited_time .clock { position:absolute; left:81px; top:26px; width:40px; height:40px; border-radius:50%; border:6px solid transparent }
.limited_time .clock:before { content:""; position:absolute; left:18px; top:18px; width:7px; height:7px; border-radius:50%; background:#fa0808 }
.limited_time .clock .clock-h { position:absolute; top:5px; left:19px; height:18px; width:5px; background:url(../images/clock_h.png) no-repeat; transform:rotate(10deg); -webkit-transform-origin:2.5px 16.5px; -moz-transform-origin:2.5px 16.5px; transform-origin:2.5px 16.5px }
.limited_time .clock .clock-m { position:absolute; left:5px; top:19px; width:19px; height:5px }
.limited_time .clock .clock-m:after { content:""; position:absolute; left:14px; top:-17px; width:4px; height:21px; background-color:#1985D9; border-radius:2px; background:url(../images/clock_m.png) no-repeat; border:1px solid transparent; -webkit-transform-origin:2.5px 19.5px; -webkit-animation:tick-tock 20s steps(60, end) infinite; -moz-transform-origin:2.5px 19.5px; -moz-animation:tick-tock 20s steps(60, end) infinite; transform-origin:2.5px 19.5px; animation:tick-tock 20s steps(60, end) infinite }
.limited_time .clock .clock-s { position:absolute; left:17px; top:-6px; width:5px; height:26px; -webkit-transform-origin:bottom; -webkit-animation:tick-tock 10s linear infinite; -moz-transform-origin:bottom; -moz-animation:tick-tock 10s linear infinite; transform-origin:bottom; animation:tick-tock 10s linear infinite }
.limited_time .clock .clock-s:after { content:""; position:absolute; left:0; top:0; width:5px; height:5px; background-color:#fff; border-radius:50% }
@-keyframes tick-tock { to {
transform:rotate(360deg) translate3d(0, 0, 0)
}
}
@-moz-keyframes tick-tock { to {
-moz-transform:rotate(360deg) translate3d(0, 0, 0)
}
}
@-webkit-keyframes tick-tock { to {
-webkit-transform:rotate(360deg) translate3d(0, 0, 0)
}
}
.jfocus-trigeminybox { width:1200px; height: 164px; margin:0px auto; overflow: hidden; margin-top:10px; }/*180px*/
.jfocus-trigeminy { float:left; width:985px; height: 164px; margin-left: -388px; clear: both; position: absolute; z-index: 2; top:410px; left: 50%; overflow: hidden; }/*776px*/
.jfocus-trigeminy ul { background-color: #FFF; width: auto; height: 164px; position: absolute; z-index: 1; overflow: hidden; }
.jfocus-trigeminy ul li { width:985px; height: 164px; float: left; }/*749px*/
.jfocus-trigeminy ul li a { display: block; width: 240px; height: 164px; overflow:hidden; float: left; text-align:right; padding-left:6px; }
.jfocus-trigeminy ul li a:hover { box-shadow: 0 0 15px #999; transform: scale(1); transition: all 1s ease 0s; }
.jfocus-trigeminy .arrow { background: url(../images/home_bg.png) no-repeat; width: 45px; height: 100px; position: absolute; z-index: 2; top:25px; cursor: pointer; }/*40px*/
.jfocus-trigeminy .pre { background-position: 0 -100px; left:6px; }
.jfocus-trigeminy .next { background-position: -45px -100px; right: 0; }
.jfocus-trigeminy .pagination { display: none; }
.jfocus_add1 { float:left; background: url(../images/xiaomei_tuijian.jpg) no-repeat left center; width:211px; height:147px; }
/*焦点区域右侧*/
.home-focus-layout .right-sidebar { width: 190px; height: 400px; margin-left: 405px; position: absolute; z-index:1; top: 1px; left: 50%; }
.home-focus-layout .right-bannder { background: #fff; height: 400px; opacity: 0.5;  -moz-opacity:0.5; filter:alpha(opacity=50); position: absolute; right: 0; top: 0px; width: 190px; }
.home-focus-layout .right-bannder-content { background: #fff; height: 390px; position: absolute; right: 5px; top: 5px; width: 180px; }
.home-focus-layout .right-bannder-content a { border-bottom: 1px solid #ddd; display: block; }
.home-focus-layout .right-bannder-content a:nth-child(2) { border-bottom:0px; }
/* 商城首页-新闻及店铺Tab切换*/
.proclamation { background: #FFF; width: 215px; height: 152px; }
.proclamation .tabs-nav { background: #F7F7F7; height:30px; border: solid #E7E7E7; border-width: 1px 0; position:relative; z-index:1; }
.proclamation .tabs-nav li { background:#F7F7F7; text-align: center; display: block; width: 106px; height: 20px; float: left; padding: 5px 0; margin: 0; border: solid #F7F7F7; border-width: 0 0 0 1px; position: relative; z-index: 9; cursor: pointer; }
.proclamation .tabs-nav li h3 { font-weight: 600; line-height:20px; }
.proclamation .tabs-nav li.tabs-selected { color: #333; font-weight: 600; line-height: 20px; background: #FFF; width: 104px; height: 20px; border-style: solid; border-color: transparent #E7E7E7 #FFF #E7E7E7; border-width: 0 1px 1px 1px; position: relative; z-index:10; _margin-bottom: -1px/* IE6 */; }
.proclamation .tabs-nav li h3, #news .tabs-nav li.tabs-selected h3 { color:#333; }
.proclamation .tabs-panel { width: 95%; margin: 6px }
.proclamation .mall-news { }
.proclamation .mall-news li { line-height: 20px; text-overflow: ellipsis; white-space: nowrap; height: 20px; font-size:14px; line-height:20px; padding: 1px 0; overflow: hidden; }
.proclamation .mall-news li i { background: url(../images/home_bg.png) no-repeat -70px -40px; vertical-align: middle; display: inline-block; width: 2px; height: 2px; margin-right: 6px; }
.proclamation .mall-news li time { font-family: Tahoma, Geneva, sans-serif; color: #999; font-size: 10px; margin-left: 6px; }
.tabs-hide { display: none !important; }
.home-sale-layout { overflow:hidden; }
.home-sale-layout .left-layout { width: 970px; float: left; border: solid 1px #F0F0F0; }
.home-sale-layout .tabs-nav { background:#F7F7F7; width: 100%; height: 44px; position: relative; z-index: 1; border-bottom:1px solid #e8e8e7; }
.home-sale-layout .tabs-nav li { border-left:1px solid #e8e8e7; background-color: transparent; width: 193px; height: 45px; float: left; padding: 0; position: relative; z-index: 1; cursor: pointer; }
.home-sale-layout .tabs-nav li:first-child { border-left:0; }
.home-sale-layout .tabs-nav li h3 { font-size: 14px; line-height: 44px; text-align: center; }
.home-sale-layout .tabs-nav li i { border:1px solid #e8e8e7; font-size: 0px; line-height: 0; display: none; width: 0px; height: 0px; float: right; margin-left: -4px; border-width: 5px; border-style: dashed dashed solid dashed; position: absolute; z-index: 1; bottom: 0; left: 50%; }
.home-sale-layout .tabs-nav .tabs-selected { background:#fff url("../images/hd-1.png") no-repeat; border-bottom: 1px solid #fff; height: 45px; top:-1px; position: relative; z-index:1 }
.home-sale-layout .tabs-nav .tabs-selected i { display: block; border-color: transparent transparent #D93600; }
.home-sale-layout .tabs-nav .tabs-selected h3 { color: #D93600; }
.home-sale-layout .tabs-panel { width: 970px; }
.home-sale-layout .tabs-panel ul { width: 970px; margin-left: -1px; overflow: hidden; }
.home-sale-layout .tabs-panel ul li { width: 194px; height: 235px; padding: 15px 0 0; float: left; overflow: hidden; }
.home-sale-layout .tabs-panel dl { width: 160px; margin: 0 auto auto; position: relative; z-index: 1; }
.home-sale-layout .tabs-panel dl dt.goods-name { font-family: Tahoma, Geneva, sans-serif; line-height: 16px; width: 160px; height: 32px; position: absolute; z-index: auto; top: 164px; left: 0; overflow: hidden; }
.home-sale-layout .tabs-panel dl dd.goods-thumb { width: 160px; height: 160px; position: absolute; z-index: auto; top: 0; left: 0; }
.home-sale-layout .tabs-panel dl dd.goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block;
width: 160px; height: 160px; overflow: hidden; }
.home-sale-layout .tabs-panel dl dd.goods-thumb img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2);
*margin-top:expression(80-this.height/2);
}
.home-sale-layout .tabs-panel dl dd.goods-price { line-height: 20px; color: #999; position: absolute; z-index: auto; top: 200px; left: 0; }
.home-sale-layout .tabs-panel dl dd.goods-price em { font-size: 14px; }
.home-sale-layout .right-sidebar { width: 211px; height:296px; float: right; border:1px solid #e8e8e7; overflow:hidden; }
.home-sale-layout .right-sidebar .title { height: 40px; border-bottom:1px solid #e8e8e7 }
.home-sale-layout .right-sidebar .title h3 { font-size: 14px; line-height: 38px; color: #D93600; float: left; margin-left: 20px; }
.home-sale-layout .right-sidebar .title a { line-height: 38px; float: right; margin-right: 6px; }
.home-sale-layout .right-sidebar .news { height:105px; padding-top:8px; border-bottom:1px solid #e8e8e7; }
.home-sale-layout .right-sidebar .news li { height:24px; line-height:24px }
.home-sale-layout .right-sidebar .news a { margin-left:15px; }
.home-sale-layout .right-sidebar .ntrance { width: 231px; }
.home-sale-layout .right-sidebar .ntrance ul { height: 209px; overflow: hidden; width: 260px; }
.home-sale-layout .right-sidebar .ntrance li { position: relative; border-bottom: 1px solid #e8e8e7; border-right: 1px solid #e8e8e7; cursor: pointer; display: inline; float: left; height: 70px; overflow: hidden; width: 70px; }
.home-sale-layout .right-sidebar .ntrance a { cursor: pointer; display: block; height: 28px; line-height: 28px; padding-top: 41px; text-align: center; text-decoration: none; width: 70px; }
.home-sale-layout .right-sidebar .ntrance li i { position:absolute; left:23px; top:13px; background:url(../images/33hao_ico_ntrance.png) no-repeat; display: block; height: 25px; margin: 0 auto; width: 25px; }
.home-sale-layout .right-sidebar .ntrance li a:hover i { animation: 0.5s ease 0s normal forwards 1 running toTopFromBottom; }
.featuresList li a:hover i { -webkit-animation:toTopFromBottom .5s forwards; -moz-animation:toTopFromBottom .5s forwards; animation:toTopFromBottom .5s forwards }
@-webkit-keyframes toTopFromBottom { 49% {
-webkit-transform:translateY(-15%)
}
50% {
-webkit-transform:translateY(0)
}
51% {
opacity:1
}
}
@-moz-keyframes toTopFromBottom { 49% {
-moz-transform:translateY(-15%)
}
50% {
-moz-transform:translateY(0)
}
51% {
opacity:1
}
}
@keyframes toTopFromBottom { 49% {
transform:translateY(-15%)
}
50% {
transform:translateY(0)
}
51% {
opacity:1
}
}
.home-sale-layout .right-sidebar .ntrance li .i_ico01 { background-position:0 0 }
.home-sale-layout .right-sidebar .ntrance li .i_ico02 { background-position:0 -26px }
.home-sale-layout .right-sidebar .ntrance li .i_ico03 { background-position:0 -54px }
.home-sale-layout .right-sidebar .ntrance li .i_ico04 { background-position:0 -82px }
.home-sale-layout .right-sidebar .ntrance li .i_ico05 { background-position:0 -111px }
.home-sale-layout .right-sidebar .ntrance li .i_ico06 { background-position:0 -140px }
.home-sale-layout .sale-discount { width: 210px; height: 252px; overflow: hidden; position: relative; z-index: 1; }
.home-sale-layout .sale-discount ul { width: auto; height: 252px; position: absolute; z-index: 1; }
.home-sale-layout .sale-discount ul li { width: 210px; height: 50px; float: left; padding: 191px 0 0 0; }
.home-sale-layout .sale-discount .arrow { background: url(../images/home_bg.png) no-repeat; width: 19px; height: 29px; margin-top: -40px; position: absolute; z-index: 2; top: 50%; cursor: pointer; opacity: 0.25!important; }
.home-sale-layout .sale-discount .arrow:hover { opacity: 0.85!important; }
.home-sale-layout .sale-discount .pre { background-position: -160px -70px; left: 0; }
.home-sale-layout .sale-discount .next { background-position: -180px -70px; right: 0; }
.home-sale-layout .sale-discount dl { height: 59px; width: 210px; border-bottom: solid 1px #e8e8e7; position: relative; z-index: 1; }
.home-sale-layout .sale-discount dl dt, .home-sale-layout .sale-discount dl dd { position: absolute; z-index: auto; }
.home-sale-layout .sale-discount dt.goods-name { text-overflow: ellipsis; white-space: nowrap; width: 200px; height: 20px; top: 30px; left: 5px; overflow: hidden; }
.home-sale-layout .sale-discount dd.goods-thumb { top: -155px; left: 30px; }
.home-sale-layout .sale-discount dd.goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block;
width: 150px; height: 150px; overflow: hidden; }
.home-sale-layout .sale-discount dd.goods-thumb img { max-width: 150px; max-height: 150px; margin-top:expression(150-this.height/2);
*margin-top:expression(75-this.height/2);
}
.home-sale-layout .sale-discount dd.goods-price { font: 600 16px/30px Verdana; color: #C00; width: 200px; height: 30px; top: 0; left: 5px; }
.home-sale-layout .sale-discount dd.goods-price .original { font-size: 12px; color: #AAA; font-weight: normal; text-decoration: line-through; margin-left: 6px; }
.home-sale-layout .sale-discount dd.goods-price-discount { color: #FFF; background: url(../images/home_bg.png) no-repeat -100px -100px; text-align: center; width: 48px; height: 24px; padding: 28px 0 16px 0; top: -40px; right: 5px; }
.home-sale-layout .sale-discount dd.goods-price-discount em { font-size: 16px; font-weight: 600; margin-right: 2px; }
.home-sale-layout .sale-discount dd.time-remain { color: #999; line-height: 16px; text-align: center; width: 210px; height: 16px; top: -180px; left: 0; }
.home-sale-layout .sale-discount dd.time-remain i { background: url(../images/home_bg.png) no-repeat -40px -60px; vertical-align: middle; display: inline-block; width: 11px; height: 11px; margin-right: 4px; }
.home-sale-layout .sale-discount dd.time-remain em { font-weight: 600; color: #555; margin: 0 2px; }
.home-sale-layout .sale-discount dd.goods-buy-btn { }
.home-sale-layout .sale-discount .preNext { opacity: 0.5 !important; }
.home-sale-layout .sale-discount .preNext:hover { opacity: 1 !important; }
.sale_cx .sale-discount li .p-price span { display: block; color: #e12228; font-size: 16px; font-weight: 700; }
/* 首页标准内容模块
-------------------------------------- */
.home-standard-layout { overflow: hidden; margin-top: 15px; }
/*区块左侧*/
.home-standard-layout .left-sidebar { width: 212px; height: 462px; float: left; }
.home-standard-layout .left-sidebar .title { background-color: #FFF; width: 100%; height: 40px; }
.home-standard-layout .left-sidebar .title .pic-type { }
.home-standard-layout .left-sidebar .title .pic-type img { max-width: 210px; max-height: 40px; margin: 0 1px; }
.home-standard-layout .left-sidebar .title .txt-type { height: 32px; }
.home-standard-layout .left-sidebar .title .txt-type span { padding-right: 8px; }
.home-standard-layout .left-sidebar .title .txt-type span, .home-standard-layout .left-sidebar .title .txt-type h2 { font: bold 20px/30px 'microsoft yahei'; color: #333; vertical-align: middle; display: inline-block; *display: inline/*IE6,7*/;
zoom:1; }
/*区块左侧广告*/.home-standard-layout .left-ads { width: 100%; height: 220px; }
.home-standard-layout .left-ads img { display: block; width: 212px; height: 212px; }
/*左侧推荐分类*/
.home-standard-layout .recommend-classes { height: 190px; margin: 0 auto; overflow: hidden; width: 200px; }
.home-standard-layout .recommend-classes ul { font-size: 0; height: 150px; margin: -1px; width: 202px; }
.home-standard-layout .recommend-classes ul li { display: inline-block; margin: 3px; }
.home-standard-layout .recommend-classes ul li a { background: #fff; border-radius: 12px; color: #666; font-size: 14px; height: 30px; line-height: 30px; padding: 4px 8px; width: auto; }
.home-standard-layout .recommend-classes h3 { font-size: 16px; height: 45px; line-height: 45px; }
.home-standard-layout .recommend-classes ul li a:hover { background: #B0ADAD; color:#fff; text-decoration: none; text-shadow: none; }
/*区块中部*/
.home-standard-layout .middle-layout { width: 988px; height: 100%; float: left; }
.home-standard-layout .tabs-nav { background-color: transparent; height: 40px; border-style: solid; border-width: 0 0 2px 0; border-color: transparent transparent #ff6b80 transparent; position: relative; z-index: 1; }
.home-standard-layout .tabs-nav li { background-color: transparent; width: 15%; height: 38px; float: left; padding: 0; border-style: solid; border-width: 2px; border-color: transparent; position: relative; z-index: 1; cursor: pointer; }
.home-standard-layout .tabs-nav li h3 { font-size: 16px; font-weight: bold; line-height: 38px; text-align: center; }
.home-standard-layout .tabs-nav .tabs-selected h3 { color:#fff; }
.home-standard-layout .links { z-index: 99; height: 30px; position: relative; text-align: right; overflow: hidden; float:right; right:0; margin-top: 10px; }
.home-standard-layout .links a { display: inline-block; margin-left: 16px; color: #666; font: 12px/30px 'microsoft yahei'; white-space: nowrap; }
.home-standard-layout .tabs-panel { width: 776px; height: 498px; padding: 0; margin: 0; position: relative; z-index: 1; }
/*中部推荐位广告图形式1*/

.home-standard-layout .middle-banner-style01 .col2 { position: relative; z-index: 2; float: left; width: 405px; height: 439px; margin-right: -20px; border-bottom: 1px solid #eee; border-left: 1px solid #eee; overflow: hidden; }
.home-standard-layout .middle-banner-style01 .col2 li { float: left; width: 199px; height: 209px; border-right: 1px solid #eee; border-bottom: 1px solid #eee; overflow: hidden; }
.home-standard-layout .middle-banner-style01 .col2 li img { display: block; width: 209px; height: 209px; }
.home-standard-layout .middle-banner-style01 .col3 { float: right; width: 199px; height: 439px; margin-left: -10px; border-bottom: 1px solid #eee; border-left: 1px solid #eee; background: #f5f5f5; overflow: hidden; }
.home-standard-layout .middle-banner-style01 .col3 li { height: 146px; border-bottom: 1px solid #eee; font-size: 0; overflow: hidden; }
.home-standard-layout .middle-banner-style01 .col3 li img { display: block; width: 200px; height: 147px; }
.home-standard-layout .middle-banner-style01 { background-color:#fff; width: 988px; height: 420px; position: relative; z-index: 1; }
/*中部推荐广告列表*/
.home-standard-layout .middle-banner-list { float:right; width:629px; !important;
height: 420px !important; border-style: solid; border-width: 0 1px 0 0; border-color: transparent #DDD transparent transparent; overflow: hidden; }
.home-standard-layout .middle-banner-list ul { width: 630px; height: 420px; margin: 0 -1px -1px 0; border-left:1px solid #DDD }
.home-standard-layout .middle-banner-list ul li { width: 209px; height: 209px; float: left; border-style: solid; border-width: 0 1px 1px 0; border-color: transparent #DDD #DDD transparent; overflow: hidden; }
.home-standard-layout .middle-banner-list dl { width: 180px; margin: 14px auto auto; position: relative; z-index: 1; }
.home-standard-layout .middle-banner-list dl dt.banner-name { font-size:14px; font-family: Tahoma; text-overflow: ellipsis; white-space: nowrap; line-height: 22px; width: 180px; height: 22px; position: absolute; z-index: 11; top: 198px; left: 0; overflow: hidden; background:#fff; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; }
.style-pink .banner-name a { position:relative; padding:0 4px; color:#000 }
.home-standard-layout .middle-banner-list dl dd.banner-thumb { width: 180px; height: 180px; overflow:hidden; position: absolute; z-index: auto; top: 0; left: 0; }
.home-standard-layout .middle-banner-list dl dd.banner-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block;
width: 180px; height: 180px; overflow: hidden; }
/*中部推荐商品列表*/
.home-standard-layout .middle-goods-list { width: 987px !important; height: 419px !important; border-style: solid; border-width: 0 1px 1px 0; border-color: transparent #DDD #DDD transparent; overflow: hidden; }
.home-standard-layout .middle-goods-list ul { width: 1010px; height: 420px; margin: 0 -1px -1px 0; }
.home-standard-layout .middle-goods-list ul li { width: 187px; height: 209px; float: left; border-style: solid; border-width: 0 1px 1px 0; border-color: transparent #DDD #DDD transparent; padding: 0 5px; overflow: hidden; }
.home-standard-layout .middle-goods-list dl { width: 160px; margin: 0 auto; position: relative; z-index: 1; }
.home-standard-layout .middle-goods-list dl dt.goods-name { line-height: 16px; width: 160px; height: 17px; position: absolute; z-index: auto; top: 148px; left: 0; overflow: hidden; }
.home-standard-layout .middle-goods-list dl dd.goods-thumb { width: 120px; height: 120px; position: absolute; z-index: auto; padding: 22px 20px 0 20px; top: 0; left: 0; }
.home-standard-layout .middle-goods-list dl dd.goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block;
width: 120px; height: 120px; overflow: hidden; }
.home-standard-layout .middle-goods-list dl dd.goods-thumb img { max-width: 120px; max-height: 120px; margin-top:expression(120-this.height/2);
*margin-top:expression(60-this.height/2);
}
.home-standard-layout .middle-goods-list dl dd.goods-price { font-size: 14px; line-height: 20px; position: absolute; z-index: auto; top: 174px; left: 0; }
.home-standard-layout .middle-goods-list dl dd.goods-price .original { font-size: 12px; font-weight: normal; text-decoration: line-through; color: #999; vertical-align: middle; margin-left: 6px; }
/*右侧广告切换*/
.home-standard-layout .right-side-focus { width: 358px; height: 420px; position: relative; z-index: 1; overflow: hidden; float:left; border-bottom: 1px solid #eee; }
.home-standard-layout .right-side-focus ul { height: 420px; position: absolute; z-index: 1; }
.home-standard-layout .right-side-focus ul li { width: 358px; height: 420px; overflow: hidden; float: left; }
.home-standard-layout .right-side-focus img { min-width: 358px; min-height: 420px; }
.home-standard-layout .right-side-focus ul li a { display:block }
.home-standard-layout .right-side-focus ul li a.fore1 { border-bottom: 1px dotted #ccc; }
.home-standard-layout .right-side-focus .pagination { font-size: 0; *word-spacing:-1px/*IE6、7*/;
text-align: center; width: 338px; height: 6px; padding: 7px 10px; position: absolute; z-index: 3; right: 0; bottom: 15px; }
.home-standard-layout .right-side-focus .pagination span { border-radius:50%; width:14px; height:14px; line-height:14px; overflow: hidden; background: #fff; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
list-style:none; margin-left:4px; cursor: pointer; }
.home-standard-layout .right-side-focus .pagination span.on { background: #fff; }
.home-standard-layout .right-side-focus .arrow { background: transparent url("../images/home_bg.png") no-repeat scroll 0% 0%; width: 40px; height: 50px; position: absolute; z-index: 2; top: 183px; cursor: pointer; }
.home-standard-layout .right-side-focus:hover .arrow { opacity: 0.5!important; }
.home-standard-layout .right-side-focus .arrow:hover { opacity: 0.8!important; }
.home-standard-layout .right-side-focus .pre { background-position: -68px -40px; left: 0; }
.home-standard-layout .right-side-focus .next { background-position: -108px -40px; right: 0; }
/*标准区块色彩风格*/
/*红色*/
 .style-red .right-side-focus .pagination span { background: #c1392b; }
.style-red .left-sidebar { background-color: #F5F5F5; }
.style-red .left-sidebar .side .entrances a .bg { background: #c1392b; }
.style-red .middle-layout .tabs-nav .tabs-selected { background: #c1392b; }
.style-red .tabs-nav { border-color: transparent transparent #c1392b transparent; }
/*橙色*/
.style-orange .right-side-focus .pagination span { background: #e77e23; }
.style-orange .left-sidebar { background: #F5F5F5; }
.style-orange .left-sidebar .side .entrances a .bg { background: #e77e23; }
.style-orange .middle-layout .tabs-nav .tabs-selected { background: #e77e23; }
.style-orange .tabs-nav { border-color: transparent transparent #e77e23 transparent; }
/*绿色*/
.style-green .right-side-focus .pagination span { background: #27ae61; }
.style-green .left-sidebar { background-color: #F5F5F5; }
.style-green .left-sidebar .side .entrances a .bg { background: #27ae61; }
.style-green .middle-layout .tabs-nav .tabs-selected { background: #27ae61; }
.style-green .tabs-nav { border-color: transparent transparent #27ae61 transparent; }
/*蓝色*/
.style-blue .right-side-focus .pagination span { background: #3598dc; }
.style-blue .left-sidebar { background: #F5F5F5; }
.style-blue .left-sidebar .side .entrances a .bg { background: #3598dc; }
.style-blue .middle-layout .tabs-nav .tabs-selected { background: #3598dc; }
.style-blue .tabs-nav { border-color: transparent transparent #3598dc transparent; }
/*粉色*/
.style-pink .right-side-focus .pagination span { background: #ff7373; }
.style-pink .left-sidebar { background: #F5F5F5; }
.style-pink .left-sidebar .side .entrances a .bg { background: #ff7373; }
.style-pink .middle-layout .tabs-nav .tabs-selected { background:#ff7373 }
/*紫色*/
.style-purple .right-side-focus .pagination span { background: #9c59b8; }
.style-purple .left-sidebar { background: #F5F5F5; }
.style-purple .left-sidebar .side .entrances a .bg { background: #9c59b8; }
.style-purple .middle-layout .tabs-nav .tabs-selected { background: #9c59b8; }
.style-purple .tabs-nav { border-color: transparent transparent #9c59b8 transparent; }
/*褐色*/
.style-brown .right-side-focus .pagination span { background: #8c4600; }
.style-brown .left-sidebar { background: #F5F5F5; }
.style-brown .left-sidebar .side .entrances a .bg { background: #8c4600; }
.style-brown .middle-layout .tabs-nav .tabs-selected { background: #8c4600; }
.style-brown .tabs-nav { border-color: transparent transparent #8c4600 transparent; }
/*浅色*/
.style-default .right-side-focus .pagination span { background: #79796a; }
.style-default .left-sidebar { background: #F5F5F5; }
.style-default .left-sidebar .side .entrances a .bg { background: #79796a; }
.style-default .middle-layout .tabs-nav .tabs-selected { background: #79796a; }
.style-default .tabs-nav { border-color: transparent transparent #79796a transparent; }
.home-channel-layout { margin-top: 15px; }
.home-channel-layout .ll { width: 380px; margin-right: 30px; float: left; }
.home-channel-layout .ml { width: 380px; float: left; }
.home-channel-layout .rl { width: 380px; margin-left: 30px; float: right; }
.home-channel-layout .title { height: 38px; border-bottom: solid 2px #DDD; }
.home-channel-layout .title h2 { font-family: "microsoft yahei"; font-size: 22px; font-weight: 100; line-height: 30px; paddding: 4px; }
.home-channel-layout .content { margin: 10px 0; }
.cms-picture { width: 380px; height: 260px; position: relative; z-index: 1; overflow: hidden; }
.cms-picture ul { position: absolute; z-index: 1; }
.cms-picture ul li { width: 380px; height: 260px; float: left; }
.cms-article { width: 380px; margin-top: 15px; }
.cms-article dl { width: 120px; height: 110px; float: left; clear: left; position: relative; z-index: 1; }
.cms-article dl dt { line-height: 24px; width: 120px; height: 24px; overflow: hidden; position: absolute; z-index: 1; bottom: 0; left: 0; }
.cms-article dl dd { width: 120px; height: 90px; position: absolute; z-index: 1; top: 0; left: 0; }
.cms-article dl dd img { max-width: 120px; }
.cms-article ul { width: 240px; float: right; }
.cms-article ul li { line-height: 24px; }
.microshop-summary .content { width: 380px; overflow: hidden; }
.microshop-summary .content ul { width: 400px; margin-left: -20px; }
.microshop-summary .content ul li { float: left; width: 180px; height: 240px; padding-left: 20px; margin-bottom: 10px; position:relative; z-index: 1; overflow:hidden; }
.microshop-share { width: 180px; height: 90px; padding: 195px 0 10px 0; position:absolute; left: 20px; top:0; background:url(trans.gif); }
.microshop-share b {
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#A5000000', endColorstr='#A5000000'); background:rgba(0,0,0,0.65); display: block; width: 180px; height: 240px; position:absolute; z-index: 1; left: 0; top: 195px; }
.microshop-summary .content ul li dl { position: relative; z-index:2; }
.microshop-summary .content ul li dl dt { padding: 5px; }
.share-member-avatar { border: solid 1px #FFF; width: 32px; height: 32px; float: left; }
.share-member-avatar img { max-width: 32px; max-height: 32px; }
.share-member-info { float: left; margin-left: 8px; }
.share-member-name { font-size: 12px; font-weight: 600; color: #FC0; }
.share-date { font-family: Tahoma, Geneva, sans-serif; color: #999; }
.share-content { font-size:12px; line-height:16px; clear: both; height: 32px; padding: 5px; overflow: hidden; }
.share-content a { color: #EEE; }
.share-content a:hover { text-decoration: none; color: #FC0; }
.share-like { line-height: 16px; color: #CCC; padding: 0 5px; }
.share-like i { background: url(../images/home_bg.png) no-repeat -40px -40px; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 5px; }
.share-like em { font-weight: 600; color: #FC0; margin: 0 2px; }
.microshop-thumb { background: #fff; overflow: hidden; }
.microshop-thumb a { overflow: hidden; text-align: center; position: relative; }
.microshop-thumb a img { position: relative; vertical-align: text-top; }
.microshop-thumb { width: 180px; height: 240px; }
.microshop-thumb a { width: 180px; height: 240px; }
.circle-summary .contnet { width: 380px; overflow: hidden; }
.circle-theme { width: 400px; margin-left: -20px; overflow: hidden; }
.circle-theme li { width: 180px; margin-left: 20px; float: left; }
.circle-theme li a { width: 180px; }
.circle-theme-thumb { background: #fff; overflow: hidden; }
.circle-theme-thumb a { overflow: hidden; text-align: center; position: relative; }
.circle-theme-thumb a img { position: relative; vertical-align: text-top; }
.circle-theme-name { line-height: 16px; background-color: #EBF5EC; height: 32px; padding: 5px; overflow: hidden; }
.circle-theme-from { line-height: 24px; color: #999; padding: 0 5px; }
.circle-theme-from a { color: #3AA55A; }
.circle-reply-theme { border: dashed #DDD; border-width: 1px 0; margin: 10px 0 15px 0; padding: 8px 5px; overflow: hidden; }
.circle-reply-theme li { line-height: 24px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.circle-reply-theme li a:hover { color: #3AA55A; text-decoration: none; }
.circle-reply-theme li span { color: #999; margin-right: 4px; }
.circle-member { width: 400px; margin-left: -20px; }
.circle-member li { width: 80px; height: 80px; float: left; margin-left: 20px; }
.circle-member li div.circle-member-avatar { width: 80px; height: 80px; }
.circle-member li div.circle-member-avatar a { text-align: center; vertical-align: middle; display: table-cell; *display: block/*IE7*/;
width: 72px; height: 72px; float: left; padding: 3px; border: solid 1px #EBF5EC; overflow: hidden; }
.circle-member li div.circle-member-avatar a:hover { background-color: #EBF5EC; }
.circle-member li div.circle-member-avatar img { max-width: 72px; max-height: 72px; margin-top:expression(72-this.height/2);
*margin-top:expression(36-this.height/2)/*IE7*/;
}
.circle-member li h4.circle-member-name { font-weight: 600; line-height: 24px; height: 24px; }
.circle-member li h4.circle-member-name a { color: #3AA55A; }
.circle-member li p.circle-member-theme { line-height: 16px; height: 32px; overflow: hidden; }
.circle-member li p.circle-member-theme a { color: #999; }
.clip-thumb { background: #fff; overflow: hidden; }
.clip-thumb a { overflow: hidden; text-align: center; position: relative; }
.clip-thumb a img { position: relative; vertical-align: text-top; }
/*抢购活动*/
.sale_lum { margin-top:15px; }
.sale_lum #sale_cx { float:left; width:899px; }
.sale_lum #sale_cx .mt, .sale_lum #share .mt { height:36px; }
.sale_lum #sale_cx .mt h2 { padding-right: 232px; background: url(../images/title.png) no-repeat right 10px; float: left; display: inline; line-height: 30px; font-size: 20px; }
.sale_lum #share { width:300px; float:left }
.sale_lum #share .mt h2 { float: left; display: inline; line-height: 30px; font-size: 20px; }
.sale_lum .share { width: 258px; height: 226px; padding: 35px 20px 20px; border: 1px solid #EDEDED; overflow: hidden; }
.sale_lum .share .show_share li { height: 100px; margin-bottom: 20px; overflow: hidden; }
.sale_lum .share .show_share .p-img { float: left; display: inline; padding: 10px 0; width: 80px; height: 80px; }
.sale_lum .share .show_share .p-info { float: left; display: inline; width: 146px; padding-left: 20px; margin-top: 3px; }
.sale_lum .share .show_share .author-info { height: 28px; margin-bottom: 5px; overflow: hidden; }
.sale_lum .share .show_share .author-info img { width: 28px; height: 28px; margin-right: 5px; border-radius: 50%; vertical-align: middle; }
.sale_lum .share .show_share .author-info span { line-height: 28px; }
.sale_lum .share .show_share .p-detail { position: relative; width: 110px; height: 34px; padding: 10px 15px 10px 20px; background: #f8f8f8; color: #999; overflow: visible; }
.sale_lum .share .show_share .p-detail a, .sale_lum .share .show_share .p-detail p { display: block; height: 38px; overflow: hidden; word-break: break-all; }
.sale_lum .share .show_share .detail-arrow { position: absolute; left: -9px; top: 19px; color: #f8f8f8; font-size: 20px; }
.sale_lum .share .show_share .icon-l { position: absolute; left: 4px; top: 7px; font-size: 38px; line-height: 38px; color: #aaa; font-family: Arial; }
.sale_lum .share .show_share .icon-r { font-size: 38px; line-height: 38px; color: #aaa; vertical-align: -24px; font-family: Arial; }
.sale_cx { width: 899px; height: 281px; border: solid #e8e8e7; border-width: 1px 0 1px 1px; }
.sale_cx .groupbuy { width: 239px; height: 281px; position: relative; overflow: hidden; float:left; border-right: 1px solid #EDEDED; }
.sale_cx .groupbuy ul { height: 280px; padding: 0px; margin: 0px; float: left; clear: both; position: absolute; }
.sale_cx .groupbuy ul li { float: left; width: 239px; height: 278px; padding: 0px; }
.sale_cx .groupbuy .pagination { display: none; }
.sale_cx .groupbuy .arrow { background: url(../images/home_bg.png) no-repeat; width: 19px; height: 29px; position: absolute; z-index: 2; top: 80px; cursor: pointer; }
.sale_cx .groupbuy:hover .arrow { opacity: 0.5!important; }
.sale_cx .groupbuy .arrow:hover { opacity: 0.8!important; }
.sale_cx .groupbuy .pre { background-position: -160px -40px; left: 0; }
.sale_cx .groupbuy .next { background-position: -180px -40px; right:0; }
.sale_cx .groupbuy dl { background-color: #FFF; background-repeat: no-repeat; background-position: top center; width: 240px; height: 230px; padding-bottom: 28px; position: relative; z-index: 1; margin-top:10px; }
.sale_cx .groupbuy dl dt { color: #333; width: 230px; height: 20px; padding: 2px 5px 38px 5px; position: absolute; z-index: 1; top: 210px; text-align:center; overflow: hidden; }
.sale_cx .groupbuy dl dd.price { font-family: Verdana, Geneva, sans-serif; background: url(../images/home_bg.png) no-repeat 0 0; width: 200px; height: 30px; position: absolute; z-index: 1; top: 175px; left: 20px; }
.sale_cx .groupbuy dl dd.price .groupbuy-price { font-size: 16px; font-weight: 600; color: #FFF; line-height: 24px; display: block; height: 24px; float: left; margin: 3px 0 auto 12px; }
.sale_cx .groupbuy dl dd.price .original-price { font-size: 12px; color: #FFF; text-decoration: line-through; line-height: 24px; color: #F99; display: block; float: left; height: 24px; margin: 3px 0 auto 4px; }
.sale_cx .groupbuy dl dd.price .buy-button a { font-weight: 600; color: #FFF; background-color: #FF6800; line-height: 20px; text-align: center; width: 54px; height: 22px; float: right; margin: 5px 5px auto auto; }
.sale_cx .groupbuy dl dd.time { font-family: Verdana; background-color: #FFF; width: 210px; height: 20px; padding: 4px 10px; position: absolute; z-index: 1; bottom: 0; }
.sale_cx .groupbuy dl dd.time .sell { float: left; }
.sale_cx .groupbuy dl dd.time .sell em { font-weight: 600; color: #E72551; margin-left: 2px; }
.sale_cx .groupbuy dl dd.time .time-remain { color: #777; float: right; }
.sale_cx .groupbuy dl dd.time .time-remain em { font-weight: 600; color: #E72551; }
.sale_cx .right-sidebar { width: 659px; float: left; }
.sale_cx .right-sidebar .title { height: 40px; border-bottom: solid 2px #F00; }
.sale_cx .right-sidebar .title h3 { font-size: 12px; font-weight: 600; line-height: 38px; color: #D93600; float: left; margin-left: 20px; }
.sale_cx .right-sidebar .title a { line-height: 38px; float: right; margin-right: 6px; }
.sale_cx .sale-discount { }
.sale_cx .sale-discount ul { width:660px; }
.sale_cx .sale-discount ul li { float: left; width: 199px; height: 104px; padding: 18px 10px; border-right: 1px solid #EDEDED; border-bottom: 1px solid #EDEDED; overflow: hidden; }
.sale_cx .sale-discount ul li .p-img { float: left; width: 100px; height: 100px; }
.sale_cx .sale-discount ul li .p-img img { -webkit-transition: all .4s ease-out; -moz-transition: all .4s ease-out; -ms-transition: all .4s ease-out; -o-transition: all .4s ease-out; transition: all .4s ease-out; }
.sale_cx .sale-discount ul li .p-info { float: right; width: 94px; }
.sale_cx .sale-discount ul li .p-name { height: 36px; margin-bottom: 6px; color: #666; word-break: break-all; overflow: hidden; }
.sale_cx .sale-discount ul li .p-price { margin-bottom: 5px; }
.sale_cx .sale-discount li .p-price span { display: block; color: #e12228; font-size: 16px; font-weight: 700; }
/* 友情链接 */
.index-link { width: 1200px; margin:15px auto; font-size:14px; }
.website { height: 50px; line-height: 50px; border: 1px solid #eee; }
.website dt, .website dd { float: left; }
.website dt { position: relative; width: 140px; text-align: center; background: #eee; }
.website dt b { position: absolute; top: 50%; right: -7px; margin-top: -7px; border-style: solid; border-width: 7px 0 7px 7px; border-color: transparent transparent transparent #eee; overflow: hidden; }
.website dd { width:1020px; height:50px; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; margin-left:10px; }
.website dd a { margin: 0 5px; }
/*控制左侧导航菜单*/
#nav_box { position:fixed; left:20px; top:160px; display:none; left:50%; margin-left:-660px; background:#f3f2f2; }
#nav_box ul li { width:32px; height:32px; line-height:32px; border-bottom:1px dotted #b5b5b5; text-align:center }
#nav_box ul li.last { border-bottom:1px dotted #696969 }
#nav_box ul li .num { color:#696969; display:block }
#nav_box ul li .word { display:none; color:#CB1C39 }
#nav_box ul li.hover .num { display:none!important }
#nav_box ul li.hover .word { display:block!important }
#nav_box ul li a { display:block; font-size:14px; font-family:Arial; }
#nav_box ul li a:hover { background:#c81623; text-decoration:none; color:#fff }
#nav_box ul li:hover .num { display:none!important }
#nav_box ul li:hover .word { display:block!important }
#nav_box ul li:last-child { border:0px }
/*楼层*/
.right-brand { float: right; height: 30px; margin-top: 10px; overflow: hidden; position: relative; right: 0; text-align: right; z-index: 99; }
.right-brand li { display: inline-block; font: 12px/30px "microsoft yahei"; margin-left: 8px; white-space: nowrap; }
.right-brand li a { color: #666; }
.right-brand li a:hover { color:#E4393C; text-decoration:underline }
.sticky { position:fixed; _position: relative; height:50px; width:100%; min-width:990px; background:#fff; left:0; top:0; opacity:.95; filter:alpha(opacity=95); z-index:999; border-bottom:1px solid #ddd; }
.sticky .public-head-layout { height:50px!important; }
.sticky .public-head-layout .site-logo { height:40px!important; margin:5px 10px auto 0!important }
.sticky .public-head-layout .site-logo img { max-height:40px!important }
.sticky .public-head-layout .site-ad, .sticky .keyword { display:none; }
.sticky .head-user-menu { margin:5px 0 0 0!important }
.sticky .head-search-bar { padding-top:4px; margin:0 0 0 80px; }
/*右边*/
.right-panel { filter:alpha(opacity=90); -moz-opacity:.9; opacity:.9; width:230px; height:400px; background:#fdfdfd; float:right; border-top:0 }
.right-panel .welcomePanel { background:url(../images/login-bg.jpg); height:100px; text-align:center }
.right-panel .welcomePanel img { margin:5px 0; width:65px; border-radius:50% }
.right-panel .loginPanel { border-top:1px #c1c1c1 solid; border-bottom:1px #c1c1c1 solid; border-color:#e3e3e3 }
.right-panel .loginPanel .loginTxt { border-right:1px #c1c1c1 solid; border-color:#e3e3e3 }
.right-panel .loginPanel span { padding:10px 0; display:inline-block; width:48%; cursor:pointer; text-align:center }
.right-panel .loginPanel img { padding-right:5px; width:15px; height:15px }
.right-panel .exitPanel { background:url(../images/login-bg.jpg); height:100px }
.right-panel .exitPanel img { padding:17px 10px; width:65px; border-radius:50%; vertical-align:middle }
.right-panel .exitPanel .message { display:inline-block; width:130px; vertical-align:middle }
.right-panel .exitPanel .message .name { font-size:14px; font-weight:600; color:#FF0000; height:24px; line-height:24px; overflow:hidden }
.right-panel .exitPanel .message .logOut { cursor:pointer }
.right-panel .txtPanel { border-top:1px #c1c1c1 solid; border-bottom:1px #c1c1c1 solid; padding:2px 0 }
.right-panel .txtPanel a { padding:3px 0; display:inline-block; width:31%; text-align:center; cursor:pointer }
.right-panel .txtPanel .line { border-right:1px #c1c1c1 solid }
.right-panel .securePanel { color:#000; padding:16px 0; }
.right-panel .securePanel h6 { margin:0; padding:0 0 10px 20px }
.right-panel .securePanel li { display:inline-block; width:32%; text-align:center }
.right-panel .securePanel li img { width:40px; margin-bottom:5px }
.panelimg-side li { display:inline-block; list-style-type:none; position:relative; padding:0; margin:0; font-size:0 }
/*banner右侧广告切换*/
.right-panel .panelimg-side { width: 230px; height: 165px; position: relative; z-index: 1; overflow: hidden; }
.right-panel .panelimg-side ul { height: 165px; position: absolute; z-index: 1; }
.right-panel .panelimg-side ul li { width: 230px; height: 165px; overflow: hidden; float: left; }
.right-panel .panelimg-side img { width: 230px; height:165px; }
.right-panel .panelimg-side .pagination { font-size: 0; *word-spacing:-1px/*IE6、7*/;
text-align: center; width: 210px; height: 6px; padding: 7px 10px; position: absolute; z-index: 3; right: 0; bottom: 15px; }
.right-panel .panelimg-side .pagination span { background: #fff; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
list-style:none; width:24px; height:6px; margin-left:4px; cursor: pointer; }
.right-panel .panelimg-side .pagination span.on { background: #fff; }
.right-panel .panelimg-side .arrow { background: transparent url("../images/home_bg.png") no-repeat scroll 0% 0%; width: 40px; height: 50px; position: absolute; z-index: 2; top: 183px; cursor: pointer; }
.right-panel .panelimg-side:hover .arrow { opacity: 0.5!important; }
.right-panel .panelimg-side .arrow:hover { opacity: 0.8!important; }
.right-panel .panelimg-side .pre { display:none }
.right-panel .panelimg-side .next { display:none }
.comment { margin: 0 auto; width: 1200px; }
.comment .tit { height: 46px; line-height: 46px; margin-top: 0px; overflow: hidden; }
.comment .tit .cmttite { float: left; }
.comment .tit .cmttite span { font-size: 20px; color: #666; }
.comment .tit .cmttite .more { margin-left: 14px; color: #797a7a; }
.comment .tit .cmttite .more:hover { color: #3c3c3c; text-decoration: none; }
.comment .tit .notice { float: right; width: 221px; display: inline; }
.comment .tit .notice h3 { font-size: 16px; color: #6d6d6d; height: 44px; }
.cmtcon { background: #fff; overflow: hidden; zoom: 1; height: 248px; border-bottom: 1px solid #d5d9dd; }
.cmtcon .cmtleft { float: left; height:248px; width: 978px; border-bottom: 1px solid #d5d9dd; border-top: 2px solid #d5d9dd; border-left: 1px solid #d5d9dd; border-right: 1px solid #d5d9dd; display: inline }
.cmtcon .cmtleft dl { width: 288px; overflow: hidden; zoom: 1; border-bottom: 1px dashed #d5d9dd; float: left; margin: 0 15px 0 23px; padding: 17px 0; display: inline; }
.cmtcon .cmtleft dl dt { float: left; width: 90px; height: 90px; display: inline; }
.cmtcon .cmtleft dl dd { float: right; width: 180px; display: inline; }
.cmtcon .cmtleft dl dd h3 { line-height: 18px; }
.cmtcon .cmtleft dl dd h3 .username { color: #333 }
.cmtcon .cmtleft dl .goods-name { color: #8c8c8c; line-height: 20px; margin-top: 10px; max-height: 40px; _height: 40px; overflow: hidden; }
.cmtcon .cmtleft dl .goods-name a { color: #8c8c8c; }
.noticecon { margin: 14px auto 0; width: 219px; }
.noticecon ul { margin-top: 12px; height: 118px; overflow: hidden }
.noticecon ul li { line-height: 24px; overflow: hidden; height: 24px }
.noticecon ul li a { color: #6d6d6d; font-size: 12px }
.noticecon ul li a:hover { text-decoration: none; color: #F4504E }
.cmtcon .cmtleft dl dt img { max-width: 90px; max-height: 90px; }
.cmtcon .cmtleft dl dd h3 .datetime { float: right; color: #ccc; }
.cmtcon .cmtleft dl dd p { color: #8c8c8c; line-height: 20px; margin-top: 10px; max-height: 40px; _height: 40px; overflow: hidden; }
.cmtcon .cmtrigt { float: right; width: 219px; display: inline; border-right: 1px solid #e8ebed; border-bottom: 1px solid #e8ebed; border-top: 2px solid #F87622; height: 248px; }
.grid_119011 .copyright_img a img { margin-left: 20px; }
.floor-head .ad-panel .ad-links ul { float: right; }
.floor-head .ad-panel .ad-links ul li a { text-align: right; }
.floor-head .ad-panel .ad-links ul li a { font-size: 12px; line-height: 12px; padding: 7px 10px; border: 1px solid #ccc; border-radius: 16px; display: inline-block; color: #666; margin-left: 6px; _margin-left: 3px; _vertical-align: sub; }
.floor-head .ad-panel .ad-links ul li a:hover { border: 1px solid #c9033b; background: #c9033b; text-decoration: none; color: #fff!important; }
/*品牌推荐*/
.index-brand { height: auto; overflow: hidden; position: relative; width: 1200px; }
.index-brand .brand-title h3 { color: #666; font-size: 20px; font-weight: normal; margin: 10px 0; }
.index-brand .brand-title h3 span { font-size:12px; color:#999; font-weight:normal; margin-left:10px }
.index-brand .brand-title a { float:right; font-size:12px; color:#D41D55 }
.index-brand .logo-list { border-left: 1px solid #eee; border-top: 1px solid #eee; height: 142px; width: 1204px; }
.index-brand .logo-list li { border-bottom: 1px solid #eee; border-right: 1px solid #eee; float: left; height: 70px; text-align: center; width: 148.8px; }
.index-brand .logo-list li a { display: block; position: relative; z-index: 1; }
.index-brand .logo-list li a img { background: #fff; bottom: 0; height: 40px; left: 0; padding: 14px; position: absolute; right: 0; top: 0; width: 120px; z-index: 2; }
.index-brand .logo-list li a span { background-color: #fff; color: #333; font-size: 18px; height: 70px; left: 0; line-height: 70px; overflow: hidden; position: absolute; text-align: center; top: 0; white-space: nowrap; width: 148px; z-index: 1; }
.index-brand .logo-list li a:hover span { background: rgba(124, 113, 113, 0.95) none repeat scroll 0 0; color: #fff; z-index: 3; }
#top-banner { display:block; }
.banner-thumb img { cursor: pointer; transition: transform 200ms linear 0s; }
.banner-thumb img:hover { transform: translateY(-5px); }
.goods-thumb img, .left-ads img:hover, .right-side-focus img { transition: all 0.5s ease 0s; }
.goods-thumb img:hover, .left-ads img:hover, .right-side-focus img:hover { margin-left: -8px; }
