

body { margin: 0; padding: 0;}
ul, li {
	padding: 0;
	margin: 0;
	list-style-image: none;
	list-style-type: none;
}

.product_main{
	width: 1200px;
	margin: 100px auto;
	border: solid 1px #CCC;
}
/* product_read */
.product_summary {
    float: right;
    width: 396px;
}
.product_main_inner {
	position: relative;
	min-height: 494px;
	_height: 494px;
}
/* product_img */
.product_img {
	background: #fff;
	height: 100%;
	width: 468px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.product_img .gallery_wrap, .product_img .gallery {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.product_img .place_gallery {
	margin-left: -180px;
	left: 50%;
	top: 4%;
}
.product_img img {
	display: block;
	-ms-interpolation-mode: bicubic;
}
.product_img .levelB, .product_img .levelC {
	cursor: url(zoom.png), -moz-zoom-in;
	cursor: url(http://www.fengbuy.com/skin/frontend/fengbuy/default/images/zoom.cur), pointer;
}
.product_img .levelD {
	cursor: url(hand.png), -moz-grab;
	cursor: url(http://www.fengbuy.com/skin/frontend/fengbuy/default/images/hand.cur), move\9;
}
.product_img .controller_wrap {
	background: #fafafa;
	background: rgba(255,255,255,.7);
	border: 1px solid #f0f0f0;
	padding: 10px 0;
	position: absolute;
	left: 0;
	bottom: 0;
}
.product_img .controller {
	margin: 0 10px;
	height: 66px;
	width: 446px;
	position: relative;
	overflow: hidden;
}
.product_img .controller ul {
	width: 300%;
	position: absolute;
	left: 0;
	top: 0;
}
.product_img .controller li {
	float: left;
	padding-right: 10px;
}
.product_img .controller a {
	display: block;
	border: 1px solid #fafafa;
}
.product_img .controller a:hover, .product_img .controller .current {
	border-color: #476db9;
}
.product_img .prev, .product_img .next {
	display: none;
	background: #fff;
	background: rgba(255,255,255,.4);
	border-radius: 0 56px 56px 0;
	height: 56px;
	width: 28px;
	position: absolute;
	left: 4px;
	top: -240px;
	filter: Alpha(opacity=40);
}
.product_img:hover .prev, .product_img:hover .next {
	display: block;
}
.product_img .prev:hover, .product_img .next:hover {
	background: rgba(255,255,255,.8);
	filter: Alpha(opacity=80);
}
.product_img .prev span, .product_img .next span {
	display: block;
	background: url(bg_hor.png) no-repeat 0 -14px;
	cursor: pointer;
	margin: 18px 0 0 4px;
	height: 20px;
	width: 15px;
	overflow: hidden;
	text-indent: -99px;
}
.product_img .hide, .product_img:hover .hide {
	display: none;
}
.product_img .next {
	border-radius: 56px 0 0 56px;
	left: auto;
	right: 4px;
}
.product_img .next span {
	background-position: -15px -14px;
	margin-left: 9px;
}
.product_img .close_wrap {
	position: absolute;
	right: 8px;
	top: 6px;
}
.product_img .close_wrap a {
	display: none;
	background: #fff url(bg_hor.png) no-repeat -80px -127px;
	height: 15px;
	width: 15px;
	overflow: hidden;
	text-indent: -99px;
}
.product_img .close_wrap a:hover {
	background-position: -95px -127px;
}
