@charset "utf-8";
/* ================================= */
/* 商城会员中心相关样式表单			*/


.nch-breadcrumb-layout { display: none !important;}
.nc-appbar-tabs .compare { display: none !important;}
.red { color: #DD5A43 !important;}
.blue { color: #27A9E3 !important;}
.green { color: #69AA46 !important;}
.orange { color: #FF892A !important;}
.grey { color: #777777 !important;}
.hint { color: #BBB; line-height: 20px; }
.rmb-price { font-weight: 600; color: #666; background:url(../images/rmb_s.gif) no-repeat 0 3px; padding-left: 10px;}
.font_bold { font-weight: 600; color: #333 !important;}
.goods-price { font-family: Tahoma; font-size: 12px; font-weight: 700; color: #555;}
.goods-time { font-family: Tahoma; color: #999;}
.goods-freight { color: #999;}
.goods-pay { color: #69C;}
.goods-favorite { width: 10px; height: 10px; padding: 3px;  border-radius: 2px; display: inline-block; vertical-align: middle;}
a.goods-favorite:hover {background-color:#F5F5F5; border: 1px #CCC solid; padding: 2px; text-decoration:none;}


.store-name a { color: #0579C6;}
.noborder { border: none;}
.num{ color: #390; }
.price { color:#F60; font-weight: 600;}


/* 弹出框体 */
#dialog_manage_screen_locker { }
#dialog_manage_screen_locker .div { _zoom: 179;}
.dialog_wrapper { box-shadow: none;}


/*表格操作按钮*/
.ncm-table-handle { font-size: 0; word-spacing:-1em;}
.ncm-table-handle span { vertical-align: middle; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; padding: 0 4px; border-left: solid 1px #E6E6E6;}
.ncm-table-handle span { *display: inline/*IE6,7*/;}
.ncm-table-handle span:first-child { border-left: none 0;}
.ncm-table-handle span a { color: #777; background-color: #FFF; display: block; padding: 3px 7px; margin: 1px;}
.ncm-table-handle span a i { font-size: 14px; line-height: 16px; height: 16px; display: block; clear: both; margin: 0; padding: 0;}
.ncm-table-handle span a p { font: 12px/16px arial; height: 16px; display: block; clear: both; margin: 0; padding: 0;}
.ncm-table-handle span a:hover { text-decoration: none; color: #FFF; margin: 0; border-style: solid; border-width: 1px;}

/*上传按钮*/
.ncm-upload-btn { vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin-right: 5px;  width: 80px; height: 30px; *zoom:1;}
.ncm-upload-btn a { display: block; position: relative; z-index: 1;}
.ncm-upload-btn span { width: 80px; height: 30px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer;}
.ncm-upload-btn .input-file { width: 80px; height: 30px; padding: 0; margin: 0; border: none 0; opacity:0; filter: alpha(opacity=0); cursor: pointer; }
.ncm-upload-btn p { font-size: 12px; line-height: 20px; background-color: #F5F5F5; color: #999; text-align: center; color: #666; width: 78px; height: 20px; padding: 4px 0; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; position: absolute; left: 0; top: 0; z-index: 1;}
.ncm-upload-btn p i { vertical-align: middle; margin-right: 4px;}
.ncm-upload-btn a:hover p { background-color: #E6E6E6; color: #333; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;} 

i[class*="icon-"] { font-size: 14px; margin-right: 4px;}

/* 商品缩略图
-------------------------------------------*/
.ncm-goods-thumb-mini { width: 40px; height: 40px; border: solid 1px #F5F5F5;}
.ncm-goods-thumb-mini a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height: 40px; overflow: hidden; }
.ncm-goods-thumb-mini a img { max-width: 40px; max-height: 40px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2)/*IE6,7*/;}

.ncm-goods-thumb { width: 60px; height: 60px;}
.ncm-goods-thumb a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden; }
.ncm-goods-thumb a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/;}

.ncm-goods-thumb-120 { width: 120px; height: 120px;}
.ncm-goods-thumb-120 a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height: 120px; overflow: hidden; }
.ncm-goods-thumb-120 a img { max-width: 120px; max-height: 120px; margin-top:expression(120-this.height/2); *margin-top:expression(60-this.height/2)/*IE6,7*/;}

.ncm-store-pic { width: 60px; height: 60px;}
.ncm-store-pic a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden; }
.ncm-store-pic a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/; border-radius: 30px;}

/* 商品介绍 
-------------------------------------------*/
.ncm-goods-info {}
.ncm-goods-info dt { font-weight: 600;}
.ncm-goods-info dt a { color: #333;}
.ncm-goods-info dt a:hover { text-decoration: none; color: #F30;}
.ncm-goods-info dd { color: #777;}
.ncm-goods-price em,
.ncm-order-price em { font-family: Verdana, Arial; color: #EC4F4A;}

/* 图片滚动 
-------------------------------------------*/
.jcarousel-list-horizontal { font-size: 0; *word-spacing:-1px/*IE6、7*/; }
.jcarousel-container-horizontal { padding: 0 18px;}
.jcarousel-clip { overflow: hidden;}
.jcarousel-clip-horizontal { z-index: 1;}
.jcarousel-item {}
.jcarousel-item-horizontal { font-size: 12px; vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.jcarousel-direction-rtl .jcarousel-item-horizontal { margin-right: 0;}
.jcarousel-item-placeholder { background: #fff; color: #000;}
.jcarousel-prev-horizontal,
.jcarousel-next-horizontal { background: transparent url(../images/member/member_pics.png) no-repeat; width: 9px; height: 16px; padding: 10px 13px; position: absolute; z-index: 9; top: 50%; cursor: pointer;}
.jcarousel-prev-horizontal { background-position: -240px -40px; left: 0; }
.jcarousel-prev-horizontal:hover, 
.jcarousel-prev-horizontal:focus,
.jcarousel-prev-horizontal:active { background-position: -276px -40px;}
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active { background-position: -240px -40px; cursor: default;}
.jcarousel-next-horizontal { background-position: -240px -76px; right: 0; }
.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus,
.jcarousel-next-horizontal:active { background-position: -276px -76px;}
.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active { background-position: -240px -76px; cursor: default;}


/* ============================
 * 买家中心及账户设置框架头部菜单样式
 * ============================ */
/*用户中心布局*/
.ncm-container { width: 1200px; margin: 0 auto; padding-bottom: 10px;}
.ncm-header { width: 100%; height: 220px;}
.ncm-header-top { background-color: #FFF; display: block; height: 150px; border-bottom: solid 1px #F0F0F0;}
.ncm-member-info { width: 280px; padding: 19px 20px 0 20px; float: left; overflow: hidden;}
.ncm-member-info .avatar { width: 100px; height: 100px; float: left; position: relative; z-index: 1;}
.ncm-member-info .avatar .frame { background: url(../images/member/member_pics.png) no-repeat 0 -480px; width: 100px; height: 100px; position: absolute; z-index: 2; top: 0; left: 0;}
.ncm-member-info .avatar img { width: 92px; height: 92px; position: absolute; z-index: 1; top: 4px; left: 4px;}
.ncm-member-info dl { float: left; margin: 0 0 0 10px;}
.ncm-member-info dt { font-size: 18px; font-weight: lighter; line-height: 24px; color: #333; margin-bottom: 5px;}
.ncm-member-info dd { line-height: 24px; color: #999; height: 24px; margin-bottom: 4px;}

.ncm-member-info .user-account { display: inline-block; vertical-align: top;}
.ncm-member-info .user-account ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-member-info .user-account li { font-size: 12px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 16px; height: 16px; margin-right: 5px; *zoom: 1/*IE7*/;}
.ncm-member-info .user-account li .icon { background: url(../images/member/member_pics.png) no-repeat; display: inline-block; *display: inline/*IE7*/; width: 16px; height:16px; margin: 0 auto; *zoom: 1/*IE7*/;}
.ncm-member-info .user-account #pre-deposit .icon { background-position: -100px -140px;}
.ncm-member-info .user-account #voucher .icon { background-position: -140px -140px;}
.ncm-member-info .user-account #points .icon { background-position: -120px -140px;}
.ncm-member-info .user-account #envelope .icon { background-position: -160px -140px;}

.ncm-member-info .SAM { display: inline-block;}
.ncm-member-info .SAM-info { height: 20px;}
.ncm-member-info .SAM-info strong { margin-left: 6px;}
.ncm-member-info #high strong { color: #393;}
.ncm-member-info #normal strong { color: #F60;}
.ncm-member-info #low strong { color: #FC3D09;}
.ncm-member-info .SAM-info span { font-size: 0; line-height: 12px; background-color: #EEE; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 80px; height: 12px; position: relative; z-index: 1; *zoom: 1/*IE7*/;}
.ncm-member-info .SAM-info em { font-size: 0; line-height: 12px; display: block; height: 12px; position: absolute; z-index: 1; *zoom: 1/*IE7*/;}
.ncm-member-info #high span em { background-color: #75BC30; width: 100%;}
.ncm-member-info #normal span em { background-color: #1193F3; width: 66.6666%; }
.ncm-member-info #low span em { background-color: #FC3D09; width: 33.3333%;}

.ncm-trade-menu { width: 879px; height: 100px; float: right; margin: 20px 0 19px 0; border-left: dashed 1px #E6E6E6; position: relative; z-index: 1;}
.ncm-trade-menu .line-bg { font-size: 0; line-height: 2px; background-color: #F5F5F5; display: block; width: 800px; height: 2px; position: absolute; z-index: 1; top: 59px; left: 40px;}
.ncm-trade-menu dl { position: absolute; z-index: 2; top: 0;}
.ncm-trade-menu dl dt { font-size: 12px; line-height: 20px; font-weight: 600; color: #999;}
.ncm-trade-menu dl dd { background: url(../images/member/member_pics.png) no-repeat -450px -480px; width: 10px; height: 10px; margin: 35px auto 0 auto;}
.ncm-trade-menu dl.trade-step-01 { left: 20px;}
.ncm-trade-menu dl.trade-step-02 { left: 285px;}
.ncm-trade-menu dl.trade-step-03 { left: 625px;}
.ncm-trade-menu ul { font-size: 0; word-spacing:-1em; position: absolute; z-index: 2; top: 35px;}
.ncm-trade-menu ul.trade-function-01 { left: 60px;}
.ncm-trade-menu ul.trade-function-02 { left: 330px;}
.ncm-trade-menu ul.trade-function-03 { left: 670px;}
.ncm-trade-menu ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; margin-left: 25px; position: relative; z-index: 1; *zoom: 1/*IE7*/;}
.ncm-trade-menu ul li a h5 { color: #999;}
.ncm-trade-menu ul li a:hover h5 { color: #FD6760;}
.ncm-trade-menu ul li a:hover { text-decoration: none;}
.ncm-trade-menu ul li sup { font-family: Arial; font-size: 12px; font-weight: 600; line-height: 14px; color: #D93600; background-color: #FFF; text-align: center; min-width: 12px; height: 14px; pdding: 0 1px; border: solid 1px #D93600; border-radius: 7px; position: absolute; z-index: 1; top: -6px; left: 30px;}
.ncm-trade-menu ul li span { background: url(../images/member/member_pics.png) no-repeat; display: block; width: 44px; height: 44px;}
.ncm-trade-menu ul li span.tf01 { background-position: -100px -480px;}
.ncm-trade-menu ul li span.tf02 { background-position: -150px -480px;}
.ncm-trade-menu ul li span.tf03 { background-position: -200px -480px;}
.ncm-trade-menu ul li span.tf04 { background-position: -250px -480px;}
.ncm-trade-menu ul li span.tf05 { background-position: -300px -480px;}
.ncm-trade-menu ul li span.tf06 { background-position: -350px -480px;}
.ncm-trade-menu ul li span.tf07 { background-position: -400px -480px;}
.ncm-trade-menu ul li span.tf08 { background-position: -100px -530px;}
.ncm-trade-menu ul li span.tf09 { background-position: -150px -530px;}
.ncm-trade-menu ul li span.tf10 { background-position: -200px -530px;}
.ncm-trade-menu ul li:hover span.tf01 { background-position: -100px -580px;}
.ncm-trade-menu ul li:hover span.tf02 { background-position: -150px -580px;}
.ncm-trade-menu ul li:hover span.tf03 { background-position: -200px -580px;}
.ncm-trade-menu ul li:hover span.tf04 { background-position: -250px -580px;}
.ncm-trade-menu ul li:hover span.tf05 { background-position: -300px -580px;}
.ncm-trade-menu ul li:hover span.tf06 { background-position: -350px -580px;}
.ncm-trade-menu ul li:hover span.tf07 { background-position: -400px -580px;}
.ncm-trade-menu ul li:hover span.tf08 { background-position: -100px -630px;}
.ncm-trade-menu ul li:hover span.tf09 { background-position: -150px -630px;}
.ncm-trade-menu ul li:hover span.tf10 { background-position: -200px -630px;}
.ncm-trade-menu ul li h5 { font-size: 12px; line-height: 20px; color: #777; margin-top: 5px;}

.ncm-header-nav { background-color: #F2EFE9; display: block; width: 100%; height: 49px;}
.ncm-header-nav ul.nav-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; width: 600px; height: 36px; margin: 7px 0 6px 20px; float: left;}
.ncm-header-nav li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin: 0 10px 0 0; position: relative; z-index: 9; *zoom: 1/*IE7*/;}
.ncm-header-nav li a { font-size: 16px; color: #6D6D6D; line-height: 20px; padding: 8px 14px; display: block; height: 20px; }
.ncm-header-nav li:hover a { background-color: #FFF; text-decoration: none; color: #000;}
.ncm-header-nav li a i { background: url(../images/member/member_pics.png) no-repeat -190px -3px; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 7px; height: 4px; margin-left: 6px;}
.ncm-header-nav li a.current { font-size: 18px; color: #D93600; background-color: #FFF; padding: 8px 14px 14px;}
.ncm-header-nav li .sub-menu { background-color: #FFF; display: none; padding: 10px 0 15px 20px; border: solid #F2EFE9; border-width: 0 1px 1px; position: absolute; overflow: hidden; z-index: 1; top: 34px; left: -1px; box-shadow: 5px 5px 0 rgba(0,0,0,0.05);}
.ncm-header-nav li:hover .sub-menu { display: block;}
.ncm-header-nav li.set .sub-menu { left: -130px; width: 480px;}
.ncm-header-nav li .sub-menu dl { display: block; width: 100px; float: left;}
.ncm-header-nav li .sub-menu dt a { font-size: 14px; line-height: 20px; padding: 5px 0;}
.ncm-header-nav li .sub-menu dd a { font-size: 12px; line-height: 20px; padding: 5px 0;}
.ncm-header-nav li .sub-menu dd a:hover { color: #E60012; text-decoration: underline; }
.ncm-header-nav li.set .sub-menu { left: -130px; width: 480px;}
.ncm-header-nav li.set .sub-menu dl { width: 120px;}

.ncm-header-nav li.set sub-menu dl { width: 120px;}
.ncm-header-nav .notice { font-size: 12px; width: 300px; height: 40px; margin-top: 5px; float: right; position: relative; z-index: 2; overflow: hidden;}
.ncm-header-nav .notice ul { height: 20px; margin: 10px 0; overflow: hidden;}
.ncm-header-nav .notice ul li { background: url("../images/member/member_pics.png") no-repeat scroll -498px 9px rgba(0, 0, 0, 0); display: block; padding: 0 0 0 12px; margin: 0;}
.ncm-header-nav .notice ul li a { font-size: 12px; padding: 0; margin: 0;}
.ncm-header-nav .notice ul li:hover a { color: #E60012; background-color: transparent;}
.ncm-header-nav .notice ul li time { font-size: 12px; margin-left: 10px; color: #999;}

.ncm-container .left-layout { width: 110px; float: left; padding-left: 30px; border-right: solid 1px #F5F5F5; position: relative; z-index: 1;}
.ncm-container .right-layout { background-color: #FFF; width: 1029px; float: right; padding-left: 30px; margin-left: -1px; border-left: solid 1px #F5F5F5; position: relative; z-index: 2;}
.ncm-container .right-layout .wrap { width: 100%; float: right;}

/*用户中心左侧内容*/
.ncm-sidebar { }
.ncm-sidebar li.side-menu { width: 100%; margin-bottom: 15px; overflow: hidden;}
.ncm-sidebar li.side-menu a { background: url(../images/member/member_pics.png) no-repeat -10px -180px; display: block; margin-bottom: 2px; cursor: pointer;}
.ncm-sidebar li.side-menu a:hover { text-decoration: none;}
.ncm-sidebar li.side-menu a.shrink { background-position: -10px -200px;}
.ncm-sidebar li.side-menu a h3 { font-size: 12px; font-weight: 600; color: #333; line-height: 20px; height: 20px; display: block;}
.ncm-sidebar .side-menu ul { margin-bottom: 10px;}
.ncm-sidebar .side-menu ul li { width: 100%; }
.ncm-sidebar .side-menu ul li a { background: none; line-height: 24px; color: #777; width: auto; margin: 0 ;}
.ncm-sidebar .side-menu ul li a:hover { color: #E60012; text-decoration: underline; }
.ncm-sidebar .side-menu ul li.selected a { color: #E60012; }

.ncm-index-container { font-size: 0; word-spacing:-1em;}
.ncm-index-container .normal,
.ncm-index-container .double { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; height: 250px; *zoom: 1; position: relative; z-index: 1;}
.ncm-index-container .normal { width: 33.3333%;}
.ncm-index-container .double {width: 66.6666%;}
.ncm-index-container .outline { background-color: #FFF; height: 100%; border: solid 1px #E7E7E7; margin: -1px;}

.ncm-index-container #transaction,
.ncm-index-container #shopping { height: 320px;}
.ncm-index-container #transaction .outline { background-color: #FEFBF8;}
.ncm-index-container .normal:hover,
.ncm-index-container .double:hover { z-index: 2;}
.ncm-index-container .normal:hover .outline,
.ncm-index-container .double:hover .outline { border-color: #FD6760; box-shadow: 0 0 5px rgba(204,204,204,0.5);}
.ncm-index-container .more { line-height: 40px; text-align: center; width: 95%; height: 40px; margin: 8px auto 0 auto; border-top: dotted 1px #E7E7E7;}
.ncm-index-container .more a { color: #777;}
.ncm-index-container .more a:hover { text-decoration: none; color: #FD6760;}


.ncm-index-container .title { margin: 15px;}
.ncm-index-container .title h3 { font-size: 14px; font-weight: 600; line-height: 16px; display: inline-block; height: 16px; padding-left: 5px; border-left: solid 3px #FD6760;}
.ncm-index-container .title ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: top; display: inline-block; *display: inline/*IE6、7*/; margin-left: 80px; overflow: hidden; *zoom: 1/*IE7*/;}
.ncm-index-container .title ul li { font-size: 12px; line-height: 14px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; height: 14px; padding: 0 20px; margin-left: -1px; border-left: solid 1px #E7E7E7; *zoom: 1;}
.ncm-index-container .title ul li em { font-family: Arial; color: #999; margin: 0 4px;}
.ncm-index-container .title ul li a { text-decoration: none; color: #333;}
.ncm-index-container .title ul li a:hover, .ncm-index-container .title ul li a em { color: #FD6760;}
.ncm-index-container .null-tip { text-align: center; margin: 40px auto auto;}
.ncm-index-container #transaction .null-tip,
.ncm-index-container #shopping .null-tip { margin: 70px auto auto;}
.ncm-index-container .null-tip dt { background: url(../images/member/member_pics.png) no-repeat; display: inline-block; *display: inline/*IE7*/; width: 50px; height: 50px; margin: 0 auto; *zoom: 1/*IE7*/;}
.ncm-index-container #transaction dt { background-position: -80px -30px;}
.ncm-index-container #shopping dt { background-position: -130px -30px;}
.ncm-index-container #favoritesGoods dt,
.ncm-index-container #favoritesStore dt { background-position: -180px -30px;}
.ncm-index-container #friendsShare dt { background-position: -80px -80px;}
.ncm-index-container #circle dt { background-position: -130px -80px;}
.ncm-index-container #browseMark dt { background-position: -180px -80px;}
.ncm-index-container .null-tip dd {}
.ncm-index-container .null-tip h4 { font: 16px/24px "microsoft yahei"; color: #777}
.ncm-index-container .null-tip h5 { font: 12px/20px "microsoft yahei"; color: #BBB; margin-bottom: 12px;}
.ncm-index-container #transaction .null-tip h4 { color: #DD997F;} 
.ncm-index-container #transaction .null-tip h5 { color: #E8BCAA;}
/*交易提醒*/
.ncm-index-container .order-list {}
.ncm-index-container .order-list ul { width: 95%; margin: 0 auto;}
.ncm-index-container .order-list li { background-color: #FAECE0; padding: 8px; margin-bottom: 12px;}
.ncm-index-container .order-list .ncm-goods-thumb,
.ncm-index-container .order-list .ncm-goods-info,
.ncm-index-container .order-list .ncbtn { vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-index-container .order-list .ncm-goods-thumb { position: relative; z-index: 1;}
.ncm-index-container .order-list .ncm-goods-thumb em { font-weight: 600; color: #FFF; background: #EC4F4A; padding: 0 4px; position: absolute; z-index: 1; top: 0; right: 2px;}
.ncm-index-container .order-list .ncm-goods-info { width: 460px; margin: 0 10px;}
.ncm-index-container .order-list .ncm-goods-info dt a { text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; max-width: 380px; *zoom:1/*IE7*/;overflow: hidden;}
.ncm-index-container .order-list .ncm-goods-info dt span { font-weight: normal; margin-left: 6px;}
.ncm-index-container .order-list .ncm-goods-info dt strong  { font-weight: 600; color: #EC4F4A; margin: 2px;}
.ncm-index-container .order-list .ncm-goods-info dd span { display: inline-block; *display: inline/*IE7*/; *zoom:1/*IE7*/;}
.ncm-index-container .order-list .ncm-goods-info .order-date { width: 200px;}
.ncm-index-container .order-list .ncm-goods-info .order-state a { margin-left: 8px; color: #099; text-decoration: none;}
.ncm-index-container .order-list .ncm-goods-info .order-state a i { font-size: 14px; margin-right: 4px;}
.ncm-index-container .order-list .ncbtn { margin-top: 15px;}
/*购物车*/
.ncm-index-container .cart-list {}
.ncm-index-container .cart-list ul { width: 95%; height: 216px; margin: 0 auto;}
.ncm-index-container .cart-list li { background-color: #FFF; padding: 0 8px; margin-bottom: 12px;}
.ncm-index-container .cart-list .ncm-goods-thumb,
.ncm-index-container .cart-list .ncm-goods-info { vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-index-container .cart-list .ncm-goods-info { width: 230px; margin: 0 0 0 10px;}
.ncm-index-container .cart-list .ncm-goods-info dt a {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 100%; *zoom:1/*IE7*/;}
.ncm-index-container .cart-list .ncm-goods-info dd span { display: inline-block; *display: inline/*IE7*/; *zoom:1/*IE7*/;}
.ncm-index-container .cart-list .ncm-goods-info dd .sale { line-height: 16px; color: #FFF; background-color: #EC4F4A; height: 16px; padding: 0 4px; margin-left: 8px;}
/*收藏商品*/
.ncm-index-container .ncm-favorites-goods .jcarousel-prev-horizontal,
.ncm-index-container .ncm-favorites-goods .jcarousel-next-horizontal { top: 25%;}
.ncm-index-container .ncm-favorites-goods li { text-align: center;}
.ncm-index-container .ncm-favorites-goods .ncm-goods-thumb-120 { margin: 0 auto; position: relative; z-index: 1;}
.ncm-index-container .ncm-favorites-goods .ncm-goods-price em { color: #FFF; background-color: #F33; padding: 0 4px; position: absolute; z-index: 1; bottom: 0; right: 0;}
.ncm-index-container .ncm-favorites-goods .ncm-goods-name { text-overflow: ellipsis; white-space: nowrap; display: block; height: 20px; padding: 0 6px; margin-top: 8px; overflow: hidden;}
/*收藏店铺\好友动态\我的圈子\我的足迹*/
.ncm-index-container .ncm-favorites-store,
.ncm-index-container .ncm-friends-share,
.ncm-index-container .ncm-circle,
.ncm-index-container .ncm-browse-mark { padding-top: 8px; height: 190px; overflow: hidden;}
.ncm-index-container .ncm-favorites-store li,
.ncm-index-container .ncm-friends-share li,
.ncm-index-container .ncm-circle li,
.ncm-index-container .ncm-browse-mark li { text-align: center;}
.ncm-index-container .ncm-favorites-store .ncm-store-pic,
.ncm-index-container .ncm-friends-share .ncm-friend-avatar,
.ncm-index-container .ncm-circle .ncm-circle-pic,
.ncm-index-container .ncm-browse-mark .ncm-goods-pic { width: 80px; height: 80px; margin: 0 auto;}
.ncm-index-container .ncm-favorites-store .ncm-store-pic a,
.ncm-index-container .ncm-friends-share .ncm-friend-avatar a,
.ncm-index-container .ncm-circle .ncm-circle-pic a,
.ncm-index-container .ncm-browse-mark .ncm-goods-pic a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 80px; height: 80px; overflow: hidden; }
.ncm-index-container .ncm-favorites-store .ncm-store-pic a img,
.ncm-index-container .ncm-friends-share .ncm-friend-avatar a img,
.ncm-index-container .ncm-circle .ncm-circle-pic a img,
.ncm-index-container .ncm-browse-mark .ncm-goods-pic a img { max-width: 80px; max-height: 80px; margin-top:expression(80-this.height/2); *margin-top:expression(40-this.height/2)/*IE6,7*/; border-radius: 40px;}
.ncm-index-container .ncm-favorites-store dl,
.ncm-index-container .ncm-friends-share dl,
.ncm-index-container .ncm-circle dl {}
.ncm-index-container .ncm-browse-mark {}
.ncm-index-container .ncm-favorites-store dt,
.ncm-index-container .ncm-friends-share dt,
.ncm-index-container .ncm-circle dt, 
.ncm-index-container .ncm-browse-mark dt { line-height: 16px; height: 32px; padding: 4px 8px 2px 8px; overflow: hidden;}
.ncm-index-container .ncm-favorites-store dd,
.ncm-index-container .ncm-friends-share dd,
.ncm-index-container .ncm-circle dd,
.ncm-index-container .ncm-browse-mark dd { color: #999; }
.ncm-index-container .jcarousel-skin-tango { height: 136px; overflow: hidden;}
.ncm-index-container .ncm-favorites-goods .jcarousel-skin-tango  { height: 144px;}
.ncm-index-container .normal .jcarousel-prev-horizontal, 
.ncm-index-container .normal .jcarousel-next-horizontal { top: 29px;}
.ncm-index-container .jcarousel-prev-horizontal, 
.ncm-index-container .jcarousel-next-horizontal { display: none !important;}
.ncm-index-container .jcarousel-skin-tango:hover .jcarousel-prev-horizontal, 
.ncm-index-container .jcarousel-skin-tango:hover .jcarousel-next-horizontal { display: block !important;}


/* ---------------------------------------- */
/* 用户中心右侧主体内容			   				*/
/* ---------------------------------------- */
.tabmenu { background-color: #FFF; width:100%; height: 38px; display: block; margin-bottom: 10px; position: relative; z-index: 1;}
.tabmenu .tab { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FFF; height: 36px; border-bottom: solid 1px #E7E7E7;}
.tabmenu .tab li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1; margin-right: -1px;}
.tabmenu .tab li a { font-family: "microsoft yahei"; font-size: 14px; line-height: 20px; color: #333; display: block; height: 20px; padding: 7px 19px 8px 19px; margin-right: 15px; }
.tabmenu .tab li a:hover {color: #E60012;}
.tabmenu .tab .active a,
.tabmenu .tab .active a:hover { font-weight: 600; text-decoration: none; color: #E60012; padding: 7px 19px 9px 19px; border-bottom: solid 2px #E60012; cursor: default;}

.tabmenu .text-intro { line-height: 20px; color: #999; position: absolute; z-index: 99; top: 5px; right: 5px;}
.tabmenu a.ncbtn { padding: 5px 13px; position: absolute; z-index: 1; top: -2px; right: 0px;}


/* 内容部分通用搜索样式 */
.ncm-search-table { color: #999; width: 100%; border-bottom: solid 1px #E6E6E6;}
.ncm-search-table th { font-size: 12px; line-height: 22px; text-align: right; width: 50px; padding: 8px 8px 8px 0;}
.ncm-search-table td { text-align: left; padding: 8px 0;}
.ncm-search-table input.text { vertical-align: middle; width: 148px;}
.ncm-search-table .add-on { vertical-align: top;}
.ncm-search-table .submit-border { vertical-align: middle; display: inline-block; *display: inline/*IE6,7*/; margin: 0 2px; border: solid 1px #E6E9EE;*zoom:1; }
.ncm-search-table input[type="submit"], 
.ncm-search-table input.submit, 
.ncm-search-table a.submit { font: 12px/28px "microsoft yahei"; color: #434A54; background-color: #F6F7FB; width: 64px; height: 28px; padding: 0; border: 0;border-radius: 0; cursor: pointer;}
.ncm-search-table input[type="submit"]:hover { background-color: #E6E9EE; color: #434A54;}


/* 内容部分通用表格样式 */
.ncm-default-table { line-height:20px; width: 100%; border-collapse: collapse; clear: both;}
.ncm-default-table thead th { color: #999; background-color: #FFF; text-align:center; height: 20px; padding: 8px 0; border-bottom: solid 1px #E7E7E7; }
.ncm-default-table thead td, 
.ncm-default-table tfoot th { background-color: #FFF; height: 20px; padding: 5px 0; border-bottom: solid 1px #E7E7E7;}
.ncm-default-table tfoot th { border-top: solid 1px #E6E6E6;}
.ncm-default-table thead td .checkall,
.ncm-default-table tfoot th .checkall { vertical-align: middle; display: inline-block; *display: inline/*IE7*/; margin: 0 4px 0 8px; *zoom: 1;}
.ncm-default-table thead td label, 
.ncm-default-table tfoot th label { color: #777; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; margin-right: 10px; cursor: pointer; *zoom:1;}
.ncm-default-table tbody th { background-color: #FAFAFA; border: solid #E6E6E6; border-width: 1px 0; padding: 4px 0;}
.ncm-default-table tbody th span { display: inline-block; vertical-align: middle; margin-right: 30px;}
.ncm-default-table tbody th span.goods-name { text-overflow: ellipsis; white-space: nowrap; width: 240px; height: 20px; overflow: hidden;}
.ncm-default-table tbody th a.share-goods { float: right; margin-right: 10px; color: #999;}
.ncm-default-table tbody th a:hover.share-goods { color: #333; text-decoration: none;}
.ncm-default-table tbody th a.share-goods i { vertical-align: middle;}
.ncm-default-table tbody th a.order-trash { float: right; margin-right: 10px; color: #999; padding-right: 10px; border-right: solid 1px #DDD; margin-right: 10px;}
.ncm-default-table tbody th a:hover.order-trash { color: #F33; text-decoration: none;}
.ncm-default-table tbody th a.order-trash i { font-size: 14px; vertical-align: middle;}

.ncm-default-table tbody td { color: #999; background-color: #FFF; text-align: center; padding: 10px 0;}
.ncm-default-table tbody tr.bd-line td { border-bottom: solid 1px #E7E7E7;}
.ncm-default-table tbody td strong { color: #666;}
.ncm-default-table td .pic-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 32px; height: 32px; padding: 2px; border: solid 1px #F5F5F5; overflow: hidden;}
.ncm-default-table td .pic-thumb img { max-width: 32px; max-height: 32px; margin-top:expression(32-this.height/2); *margin-top:expression(16-this.height/2)/*IE6,7*/;}
.ncm-default-table td .goods-name { border: none; overflow: hidden;}
.ncm-default-table td .goods-name dt { font-size: 12px; line-height: 16px; color: #333; display: block; text-align: left; width: 100%; min-height: 16px; max-height: 32px; padding-bottom: 4px; overflow: hidden;}
.ncm-default-table td .goods-name dt a { color: #333;}
.ncm-default-table td .goods-name dt .rec { margin-left: 5px;}
.ncm-default-table td .goods-name dt .rec a { color: #0279b9; }
.ncm-default-table td .goods-name dd { line-height: 20px; display: block; max-width: 280px; height: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.ncm-default-table td .goods-cti { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-default-table td .goods-cti span { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 16px; height: 16px; margin-right: 4px; *zoom: 1; }
.ncm-default-table td .goods-cti span img { max-width: 16px; max-height: 16px;}
.ncm-default-table td .goods-price { font-weight: 600; color: #666; background:url(../images/rmb_s.gif) no-repeat 0 3px; padding-left: 10px;}
.ncm-default-table td .goods-type { color: #FFF; background-color: #ff875a; display: inline-block; padding: 2px 5px;}

/*订单赠品*/
.ncm-goods-gift {}
.ncm-goods-gift strong {}
.ncm-goods-gift ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: inline-block; vertical-align: middle;}
.ncm-goods-gift li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin-right: 4px; *zoom: 1; }
.ncm-goods-gift li a {line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 30px; height: 30px; overflow: hidden;}
.ncm-goods-gift li a img { max-width: 30px; max-height: 30px; margin-top:expression(30-this.height/2);}


.order tbody.pay { box-shadow: 0 3px 0 rgba(204,204,204,0.15); }
.order tbody tr td.sep-row { height:12px; padding:0; border:0;}
.order tbody.pay tr td.sep-row { background-color: #FFF; padding:0; border:0;}
.order tbody tr:hover td.sep-row { background-color: #FFF; border:0; }
.order tbody tr th { border: solid 1px #E7E7E7; }
.order tbody.pay tr th { background-color: #FFF; border: solid 1px #F9DBCC; }
.order tbody tr td { border-bottom: 1px solid #E7E7E7; vertical-align: top; }
.order tbody.pay tr td { background-color: #FFF;  border-bottom: 1px solid #F9DBCC; vertical-align: top; }
.order tbody.pay tr td.pay-td { background-color: #FAECE0; padding: 9px 0;border: solid 1px #F9DBCC; text-align: left;}
.order tbody.pay tr td.pay-td span { font-weight: 600; color: #53514F;}
.order tbody.pay tr td.pay-td span em { font-size: 16px; color: #EC4F4A; font-weight: 600; vertical-align: middle;}
.order tbody tr td.bdl { border-left: 1px solid #E7E7E7; }
.order tbody tr td.bdr { border-right: 1px solid #E7E7E7; }
.order tbody.pay tr td.bdl { border-left: 1px solid #F9DBCC; }
.order tbody.pay tr td.bdr { border-right: 1px solid #F9DBCC; }

.order .norecord {border-bottom:0 !important;}


/* 警示信息文字 */
.warning-option { text-align: center; margin: 100px auto;}
.warning-option i { background: url(../images/nodata.png) no-repeat 0 0; display: inline-block; width: 72px; height: 72px; margin: 0 auto;}
.warning-option span { font: normal 14px/24px "microsoft yahei"; color: #AAA; display: block; margin: 10px auto 0 auto;}

/* 验证错误提示 */
#warning { display: none; background: url(../images/member/warning_bg.png) no-repeat scroll 0px 0px; padding: 6px 12px 12px 100px; min-height: 60px;}
#warning label { display: block; margin: 4px 0 0 0;}
#warning label.error { font-family: "microsoft yahei"; font-size: 1.4em; line-height: 20px; color: #D50000; padding-left: 12px;}

.alert { color: #C09853; background-color: #FCF8E3; padding: 9px 14px; margin: 10px auto; border: 1px solid #FBEED5; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.alert a { color: #927036; text-decoration: underline;}
.alert h4 { font-size: 16px; font-weight: bold; line-height: 1.5em; margin-bottom: 2px;}
.alert-success { color: #468847; background-color: #DFF0D8; border-color: #D6E9C6;}
.alert-info { color: #3A87AD; background-color: #D9EDF7; border-color: #BCE8F1;}
.alert-error { color: #B94A48; background-color: #F2DEDE; border-color: #EED3D7;}
.alert-block { padding-top: 14px; padding-bottom: 14px;}
.alert ul { font-size: 12px;}
.alert li { margin-bottom: 6px;}
.alert li em { font-weight: 600; color: #F30; margin: 0 2px;}
.alert i { font-size: 14px; margin-right: 4px; vertical-align: middle;}


/* 通用页内表单提交类型样式 */
.ncm-default-form {}
.ncm-default-form h3 { font-weight: 600; line-height: 22px; color: #555; clear: both; background-color: #F5F5F5; padding: 5px 0 5px 12px; border-bottom: solid 1px #E7E7E7;}
.ncm-default-form dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; line-height: 20px; clear: both; padding: 0; margin: 0; border-bottom: dotted 1px #E6E6E6; overflow: hidden;}
.ncm-default-form dl:hover { background-color: #FCFCFC;}
.ncm-default-form dl:hover .hint { color: #666;}
.ncm-default-form dl.bottom { border-bottom-width: 0px;}
.ncm-default-form dl dt,
.ncm-default-form dl dd { font-size: 12px; line-height: 32px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; width: 14%; padding: 10px 1% 10px 0; margin: 0; *display: inline/*IE6,7*/; *zoom: 1;}
.ncm-default-form dl dt i.required { font: 12px/16px Tahoma; color: #F30; vertical-align: middle; margin-right: 4px;}
.ncm-default-form dl dd { text-align: left; width: 85%; padding: 10px 0 10px 0; }
.ncm-default-form dl dd span { display: inline-block; *line-height: 20px; *display: inline; *height: 20px; *margin-top: 6px; *zoom:1;}
.ncm-default-form dl dd p { clear: both;}
.ncm-default-form dl dd .hint { color: #AAA;}
.ncm-default-form div.bottom { text-align: center;}

.ncm-default-form .ncsc-upload-thumb { background-color: #FFF; display: block; border: dashed 1px #E6E6E6; position: relative; z-index: 1;}
.ncm-default-form .ncsc-upload-thumb:hover { border-style: solid; border-color: #27A9E3;}
.ncm-default-form .ncsc-upload-thumb p { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block/*IE6,7*/; width: 100px; height: 100px; overflow: hidden;}
.ncm-default-form .ncsc-upload-thumb i { font-size: 48px; color: #CCC;}
.ncm-default-form .ncsc-upload-thumb a { font: 10px/14px Tahoma; background-color: #FFF; text-align: center; vertical-align: middle; display: none; width: 14px; height: 14px; border: 1px solid; border-radius: 8px 8px 8px 8px; position: absolute; z-index: 2; top: -8px; right: -8px;}
.ncm-default-form .ncsc-upload-thumb:hover a { color: #27A9E3; display: block; border-color: #27A9E3;}
.ncm-default-form .ncsc-upload-thumb:hover a:hover { text-decoration: none;}
.ncm-default-form .upload-appeal-pic { border: dotted 1px #D8D8D8; padding: 5px; width: 250px; margin-left: 32px;}
.ncm-default-form .upload-appeal-pic p { padding: 5px;}
.ncm-default-form .handle { height: 30px; margin: 10px 0;}

.bottom .submit-border { margin: 10px auto;}
.bottom .submit { font: 14px/36px "microsoft yahei"; text-align: center; min-width: 100px; *min-width: auto; height: 36px;}
.bottom a.submit { width: 100px; margin: 0 auto;}
.bottom .submit[disabled="disabled"] { color: #999; text-shadow: none; background-color: #F5F5F5; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: default;}
.bottom .ncbtn { font-size: 14px; vertical-align: top; padding: 8px 19px; margin: 10px auto;}

/* 通用弹出式窗口样式 */
.eject_con { background-color: #FFF; overflow: hidden;}
.eject_con h3 { font: 14px/36px "microsoft yahei"; text-align: center; height: 36px; margin-top: 10px;}
.eject_con dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; line-height: 20px; clear: both; padding: 0; margin: 0; overflow: hidden;}
.eject_con dl dt,
.eject_con dl dd { font-size: 12px; line-height: 32px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; width: 19%; padding: 10px 1% 0 0; margin: 0; *display: inline/*IE6,7*/; *zoom: 1;}
.eject_con dl dt i.required { font: 12px/16px Tahoma; color: #F30; vertical-align: middle; margin-right: 4px;}
.eject_con dl dd { text-align: left; width: 80%; padding: 10px 0 0 0; }
.eject_con-list { margin-top: 4px;}
.eject_con-list li { line-height: 24px;}
.eject_con-list li .radio { vertical-align: middle; margin-right: 4px;}
.eject_con .bottom { background-color:#F9F9F9; text-align: center; border-top: 1px solid #EAEAEA; margin-top:12px; }
.eject_con .alert { margin: 5px;}
.ncmc-delivery { background-color: #F5F5F5; min-height: 250px; padding: 10px 5px 10px 20px; margin: 10px; position: relative; z-index: 1;}
.ncmc-delivery ul { width: 570px; height: 200px;}
.ncmc-delivery ul li { height: 20px; padding: 9px; margin: 1px;}
.ncmc-delivery ul li.select { background:#FFF; border: solid 1px #ff966e; margin: 0;}
.ncmc-delivery .delivery-map { background-color: #FFF; width: 250px; height: 250px; position: absolute; z-index: 1; top: 10px; right: 10px;}
.ncmc-delivery .pagination { clear: both;}
.ncmc-delivery .pagination ul { width: auto; height: auto;}
.ncmc-delivery .pagination ul li { height: auto; padding: 0;}
.ncmc-delivery .pagination ul li span { font-size: 12px; padding: 2px;}

 
 /* 评价评分样式 */
.raty { font-size: 0; line-height: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: middle; display: inline-block;}
.raty img { letter-spacing: normal; word-spacing: normal; display: inline-block; width: 16px; height: 16px; margin: 2px 0;}

/*订单详情相关
-------------------------------------------*/
.ncm-oredr-show { width: 99%; margin-left: 1%;}
.ncm-order-info { font-size: 0; *word-spacing:-1px/*IE6、7*/; border: solid 1px #D8D8D8; position: relative; z-index: 2;}
.ncm-order-details { background-color: #FBFBFB; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/; width: 359px; border-right: solid 1px #D8D8D8;}
.ncm-order-details .title { font-size: 12px; font-weight: 600; line-height: 20px; background-color: #F3F3F3; height: 20px; padding: 9px; border-bottom: solid 1px #D8D8D8;}
.ncm-order-details .content { display: block; width: auto; padding: 17px 17px 7px 17px;}
.ncm-order-details .content dl,
.ncm-order-contnet .daddress-info { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-bottom: 10px;}
.ncm-order-details .content dl.line { padding-top: 10px; border-top: dotted 1px #D8D8D8;}
.ncm-order-details .content dl dt,
.ncm-order-details .content dl dd,
.ncm-order-contnet .daddress-info dt,
.ncm-order-contnet .daddress-info dd { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-order-details .content dl dt { color: #888; width: 20%; }
.ncm-order-details .content dl dd { color: #666; width: 80%; }
.ncm-order-details .content dl dd span { margin-right: 6px;}
.ncm-order-details .content dl dd a,
.ncm-order-contnet .daddress-info dd a { color: #666; float: right; padding: 0 5px 0 10px; position: relative; z-index: 1;}
.ncm-order-details .content dl dd a:hover,
.ncm-order-contnet .daddress-info dd a:hover { text-decoration: none; color: #F33; z-index: 2;}
.ncm-order-details .content dl dd a i,
.ncm-order-contnet .daddress-info dd a i { font-size: 10px; margin-left: 4px;}
.ncm-order-details .content dl dd a .more,
.ncm-order-contnet .daddress-info dd a .more { background-color: #FBFBFB; display: none; width: 323px; padding: 10px; border: solid 1px #CCC; position: absolute; z-index: 1; right: -10px; top: 25px; box-shadow: 2px 2px 0 rgba(153,153,153,0.15)}
.ncm-order-details .content dl dd a:hover .more,
.ncm-order-contnet .daddress-info dd a:hover .more { display: block;}
.ncm-order-details .content dl dd a .more .arrow,
.ncm-order-contnet .daddress-info dd a .more .arrow { background: url(../images/member/member_pics.png) no-repeat -140px 0; width: 11px; height: 6px; position: absolute; z-index: 2px; top: -6px; right: 30px;}
.ncm-order-details .content dl dd a .more ul {}
.ncm-order-details .content dl dd a .more li,
.ncm-order-contnet .daddress-info dd a .more li { line-height: 24px; color: #888;}
.ncm-container #container { width: 320px; height: 320px;}

.ncm-order-details .content dl dd a .more li span,
.ncm-order-contnet .daddress-info dd a .more li span { color: #666; display: inline;}
.ncm-order-details .content dl dd .msg { text-align: left; margin-top: 5px;}
.ncm-order-details .content dl dd .msg a { float: none; padding: 0; margin-right: 5px;}
.ncm-order-condition { font-size: 12px; background-color: #FFF; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 556px; *zoom: 1/*IE7*/; padding: 20px 30px; }
.ncm-order-condition dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; padding-bottom: 15px; margin-bottom: 20px; border-bottom: dotted 1px #E7E7E7;}
.ncm-order-condition dl dt, 
.ncm-order-condition dl dd { font: normal 16px/32px "microsoft yahei", Arial ; color: #333; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-order-condition dl dt { margin-left: 30px;}
.ncm-order-condition dl dt i { font-size: 30px; font-weight: normal; vertical-align: middle; margin-right: 10px;}
.ncm-order-condition ul { margin-left: 40px;}
.ncm-order-condition li { display: block; margin-bottom: 10px;}
.ncm-order-condition li .ncbtn-mini { margin: 0 5px;}
.ncm-order-condition li time { font-family: Tahoma; color: #C63; margin: 0 5px;}

.ncm-order-info .mall-msg { font-size: 12px; font-weight: 600; color: #999; position: absolute; z-index: 1; bottom: 5px; right: 10px;}
.ncm-order-info .mall-msg a { font-weight: normal; color: #06C; margin-left: 4px;}
.ncm-order-info .mall-msg a:hover { text-decoration: none;}
.ncm-order-step { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-top: 30px; position: relative; z-index: 1;}
.ncm-order-step dl { font-size: 12px; line-height: 20px; background: url(../images/member/member_pics.png) no-repeat -285px -130px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 215px; height: 36px; margin: 50px 0 60px -1px; position: relative; z-index: auto; *zoom: 1/*IE7*/;}
.ncm-order-step dl.step-first { background-position: -240px -130px; width: 36px; margin-left: 50px;}
.ncm-order-step dl.long { background-position: -115px -370px; width: 385px;}
.ncm-order-step dl dt { font-weight: 600; text-align: center; width: 70px; position: absolute; z-index: 1; top: -30px; right: -12px;}
.ncm-order-step dl.current dt { color: #FD6760;}
.ncm-order-step dl dd.bg { background: url(../images/member/member_pics.png) no-repeat -280px -170px; display: none; width: 220px; height: 36px; position: absolute; z-index: 1; top: 0; right: 0;}
.ncm-order-step dl.step-first dd.bg { background-position: -240px -170px; width: 36px;}
.ncm-order-step dl.long dd.bg { background-position: -110px -410px; width: 390px;}
.ncm-order-step dl dd.date { font: 12px/20px Tahoma, Arial; color: #999; text-align: center; display: none; width: 120px; position: absolute; z-index: 2; bottom: -40px; right: -42px;}
.ncm-order-step dl.current dd { display: block;}

/*线下团订单详情页面的特殊性*/
/*虚拟商品实体店地址地图*/
.ncs-store-map-content { margin: 20px; overflow: hidden;}
.ncs-store-map-baidu { float: left;}
.ncs-store-map-info { width: 280px; height: 400px; float: right; padding: 0 0 0 20px; border-left: solid 1px #E6E6E6;}
.ncs-store-map-info .store-district { font-size: 16px; margin-bottom: 20px;}
.ncs-store-map-info .address-box { width: 100%; height: 360px; position: relative; z-index: 1; overflow: hidden;}
.ncs-store-map-info .address-list {}
.ncs-store-map-info .address-list dl { border: solid 1px #E6E6E6; padding-bottom: 5px; margin-bottom: 10px; }
.ncs-store-map-info .address-list dt { font-size: 12px; line-height: 20px; font-weight: 600; background-color: #FAFAFA; padding: 2px 10px; border-bottom: solid 1px #E6E6E6;}
.ncs-store-map-info .address-list dd { font-size: 12px; line-height: 20px; margin: 5px 10px 0 10px}


.ncm-order-step .code-list { font-size: 12px; background-color: #F9F9F9; width: 398px; padding: 9px; margin: -50px 0 0 400px; border: solid 1px #CCC; position: relative; z-index: 1; box-shadow: 3px 3px 0 rgba(153,153,153,0.05);}
.ncm-order-step .code-list .arrow { background: url(../images/member/member_pics.png) no-repeat -140px 0; width: 11px; height: 6px; position: absolute; z-index: 1; top: -6px; left: 90px;}
.ncm-order-step .code-list h5 { font-size: 14px; line-height: 16px; font-weight: 600; display: inline-block; height: 16px; padding-left: 5px; border-left: 3px solid #FD6760;}
.ncm-order-step .code-list h5 em { font-size: 12px; color: #09C;}
.ncm-order-step .code-list #codeList { max-height: 135px; position: relative; z-index: auto; overflow: hidden;}
.ncm-order-step .code-list ul { }
.ncm-order-step .code-list li { color: #999; background-color: #FCFCFC; padding: 4px; margin-top: 5px;}
.ncm-order-step .code-list li:hover { background-color: #FFF; box-shadow: 0 0 5px rgba(204,204,204,0.75);} 
.ncm-order-step .code-list li strong { font-family: Tahoma; font-size: 14px; font-weight: 600; color: #090; margin: 0 20px 0 5px;}
.ncm-order-step .code-list li.used { color: #F90; background-color: transparent; box-shadow: none;}
.ncm-order-step .code-list li.used strong { color: #999;}
.ncm-order-contnet { margin-top: 30px;}
.ncm-order-contnet .ncm-default-table { border: solid 1px #D8D8D8;}
.ncm-order-contnet tbody th,
.ncm-order-contnet tfoot th { background-color: #F3FAFE;}
.ncm-order-contnet tbody td.refund span { background-color: #69AA46; color: #FFF; margin-left: 4px; padding: 1px 2px;}
.ncm-order-contnet .order-deliver,
.ncm-order-contnet .daddress-info { margin: 5px 10px;}
.ncm-order-contnet .order-deliver span { margin-right: 30px;}
.ncm-order-contnet .order-deliver a { color: #0279B9; position: relative; z-index: 1;}
.ncm-order-contnet .order-deliver a:hover { color: #F33; text-decoration: none;}
.ncm-order-contnet .order-deliver a i { font-size: 10px; margin-left: 4px;}
.ncm-order-contnet .order-deliver a .more { line-height: 28px; background-color: #FBFBFB; display: none; width: 480px; padding: 10px; border: 1px solid #CCCCCC; position: absolute; z-index: 1; top: 20px; left: -200px; box-shadow: 2px 2px 0 rgba(153, 153, 153, 0.15);}
.ncm-order-contnet .order-deliver a .more .arrow { background: url("../images/member/member_pics.png") no-repeat scroll -140px 0 rgba(0, 0, 0, 0); width: 11px; height: 6px; position: absolute; z-index: 1; top: -6px; left: 220px;}
.ncm-order-contnet .order-deliver a:hover .more { color: #555; display: block;}

.ncm-order-contnet .daddress-info dt { color: #888; text-align: right; width: 28%; }
.ncm-order-contnet .daddress-info dd { color: #666; width: 72%; }
.ncm-order-contnet .daddress-info dd a .more { width: 280px; right: 0px; top: 25px;}
.ncm-order-contnet .daddress-info dd a .more .arrow { top: -6px; right: -5px;}
.nc-store-sales { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; clear: both; width: 360px; height: 24px; margin: 4px; }
.nc-store-sales dt,
.nc-store-sales dd { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.nc-store-sales dt { line-height: 20px; font-weight: 600; color: #FFF; background-color: #FF875A; text-align: right; width: 60px!important; padding: 2px 6px; }
.nc-store-sales dd { line-height: 20px;  background-color: #FFF; width: 274px; height: 20px; padding: 1px 5px; border: dotted #FF875A; border-width: 1px 1px 1px 0; }
.nc-store-sales dd img { width: 20px; height: 20px; display: inline-block; vertical-align: top;}
.ncm-order-contnet tfoot td { background-color: #F5F5F5;}
.ncm-order-contnet tfoot td dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; float: right; clear: both; padding: 2px;}
.ncm-order-contnet tfoot td dl dt,
.ncm-order-contnet tfoot td dl dd { font-size: 12px; line-height: 20px; vertical-align: bottom; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-order-contnet tfoot td dl dt { width: 100px; text-align: right;}
.ncm-order-contnet tfoot td dl dd { min-width: 120px; text-align: left;}
.ncm-order-contnet tfoot td .sum {font-weight: 600; color: #666; }
.ncm-order-contnet tfoot td .sum em { font: 20px/24px Verdana, Arial; color: #C00; vertical-align: bottom; margin: 0 4px;}


/* 订单物流跟踪 */
.express-log { border: solid 1px #E7E7E7; background: #FAFAFA; margin: 10px 0; padding:10px;line-height: 28px;}
.express-log .loading { background: url(../images/loading.gif) no-repeat scroll left center; padding-left: 24px;}

/* 收藏夹*/
.favorite-goods-list { width: 100%;}
.favorite-goods-list ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 1050px; margin: -20px 0 0 -20px}
.favorite-goods-list ul li { font-size: 12px; background-color: #FFF; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 154px; margin: 20px 0 0 21px; position: relative; z-index: 1; *zoom: 1;}
.favorite-goods-list ul li:hover { z-index: 2;}
.favorite-goods-thumb { background-color: #FFF; width: 154px; height: 154px;}
.favorite-goods-thumb a { display: block; width: 150px; height: 150px; border: solid 1px #F5F5F5; margin: 1px; overflow: hidden; }
.favorite-goods-list ul li:hover .favorite-goods-thumb a  { border-color: #ff3238;}
.favorite-goods-list li.disable .favorite-goods-thumb a { filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;} 
.favorite-goods-list .handle { display: none; width: 150px; position: absolute; z-index: 1; top: 2px; left: 2px;}
.favorite-goods-list li:hover .handle { display: block;}
.favorite-goods-list .handle a { line-height: 16px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);color: #FFF; text-align: center; min-width: 16px; height: 16px; padding: 4px; text-shadow: 1px 1px 0 rgba(0,0,0,0.15);}
.favorite-goods-list .handle a i { font-size: 16px; margin: 0;}
.favorite-goods-list .handle a:hover { text-decoration: none; background-color: #F32613;}
.favorite-goods-info { width: 100%; margin: 5px 0;}
.favorite-goods-info dt { line-height: 20px; height: 20px; margin-bottom: 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.favorite-goods-info dt a { color: #333;}
.favorite-goods-info dd { text-align: center;}
.favorite-goods-info dd.lose em { background: url(../images/member/member_pics.png) no-repeat -20px -700px; vertical-align: middle; display: inline-block; *display: inline;  width: 17px; height: 17px; margin-right: 4px; *zoom: 1;}
.favorite-goods-info dd.goods-price { font-family: Verdana; color: #F32613; white-space: nowrap; overflow: hidden;}
.favorite-goods-info dd.goods-price em { background: url(../images/member/member_pics.png) no-repeat 0 -700px; vertical-align: middle; display: inline-block; *display: inline; width: 17px; height: 17px; margin-right: 4px; *zoom: 1; }
.favorite-goods-info dd.goods-price span { color: #AAA; font-weight: normal; text-decoration: line-through; margin-left: 4px; }
.favorite-goods-info dd.voucher,
.ncm-favorite-goods-store dd.voucher { height: 18px; padding: 2px 0 4px 0; position: relative; z-index: 2;}
.favorite-goods-info dd.voucher .pic,
.ncm-favorite-goods-store dd.voucher .pic { background: url(../images/member/member_pics.png) no-repeat -50px -700px; display: inline-block; *display: inline; width: 80px; height: 18px; *zoom: 1; cursor: pointer;}
.favorite-goods-info dd .voucher-box,
.ncm-favorite-goods-store dd .voucher-box { background-color: #FFF; display: none; padding: 9px; border: solid 1px #D7D7D7; position: absolute; z-index: 1; top: 22px; left: 34px; box-shadow: 3px 3px 0 rgba(0,0,0,0.1);}
.ncm-favorite-goods-store dd .voucher-box { left: 0;}
.favorite-goods-info dd.r .voucher-box { left: auto; right: 34px;}
.favorite-goods-info dd.voucher:hover .voucher-box,
.ncm-favorite-goods-store dd.voucher:hover .voucher-box  { display: block;}
.favorite-goods-info dd .voucher-box i,
.ncm-favorite-goods-store dd .voucher-box i { background: url(../images/member/member_pics.png) no-repeat -200px -700px; display: block; width: 9px; height: 5px; position: absolute; z-index: 2; top: -5px; left: 30px;}
.favorite-goods-info dd.r .voucher-box i { left: auto; right: 34px;}
.favorite-goods-info dd .voucher-list,
.ncm-favorite-goods-store dd .voucher-list { text-align: left; white-space: nowrap; padding-bottom: 5px; border-bottom: solid 1px #E6E6E6; margin-bottom: 5px; overflow: hidden;}
.favorite-goods-info dd .voucher-list .par,
.ncm-favorite-goods-store dd .voucher-list .par { font-size: 14px; font-weight: 600; color: #FFF; background: url(../images/member/member_pics.png) no-repeat -140px -700px; text-align: center; vertical-align: middle; display: inline-block; *display: inline; width: 40px; height: 20px; padding: 4px 4px 4px 10px; margin-right: 5px; *zoom: 1;}
.favorite-goods-info dd .voucher-list .rule,
.ncm-favorite-goods-store dd .voucher-list .rule { line-height: 18px; vertical-align: middle; display: inline-block; min-width: 200px; height: 36px; text-align: left;}
.favorite-goods-info dd .voucher-list .rule p,
.ncm-favorite-goods-store dd .voucher-list .rule p { color: #333;}
.favorite-goods-info dd .voucher-list .rule time,
.ncm-favorite-goods-store dd .voucher-list .rule time { color: #AAA; display: block;}
.favorite-goods-info dd .voucher-list a,
.ncm-favorite-goods-store dd .voucher-list a { color: #555; line-height: 20px; background-color: #F5F5F5; vertical-align: middle; height: 20px; padding: 4px 10px; margin-left: 6px; border: solid 1px #E6E6E6;}
.favorite-goods-info dd .voucher-list a:hover,
.ncm-favorite-goods-store dd .voucher-list a:hover { color: #000; background-color: #FFF; text-decoration: none;}
.ncm-favorite-goods-store { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; padding: 20px 0; border-bottom: solid 1px #E6E6E6;}
.ncm-favorite-goods-store .store-info,
.ncm-favorite-goods-store .favorite-goods-list { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncm-favorite-goods-store .store-info { width: 200px;}
.ncm-favorite-goods-store .store-pic { width: 40px; height: 40px; border-radius: 100%; float: left;}
.ncm-favorite-goods-store .store-pic img { max-width: 40px; max-height: 40px; border-radius: 100%;}
.ncm-favorite-goods-store .store-info dl { float: left; width: 135px; margin: 0 13px 0 12px;}
.ncm-favorite-goods-store .store-info dt { font-size: 14px; line-height: 20px; margin-bottom: 5px;}
.ncm-favorite-goods-store .store-info dt a { color: #333;}
.ncm-favorite-goods-store .store-info dd { line-height: 20px; height: 20px; margin-bottom: 5px;}
.ncm-favorite-goods-store .store-info dd a { color: #777; text-decoration: none;}
.ncm-favorite-goods-store .favorite-goods-list { width: 829px;}
.ncm-favorite-goods-store .favorite-goods-list ul { width: 850px;}
.ncm-favorite-goods-store .favorite-goods-list ul li { margin: 15px 0 0 16px;}
/*收藏店铺*/
.ncm-favorite-store { font-size: 0; letter-spacing: -2px; word-spacing: -2px; display: block; padding: 15px 0; border-bottom: solid 1px #E6E6E6;}
.ncm-favorite-store .store-info,
.ncm-favorite-store .store-goods { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncm-favorite-store .store-info { width: 260px; position: relative; z-index: 1;}
.ncm-favorite-store .store-pic { width: 48px; height: 48px; border-radius: 100%; float: left;}
.ncm-favorite-store .store-pic img { max-width: 48px; max-height: 48px; border-radius: 100%;}
.ncm-favorite-store .store-info dl { float: left; width: 180px; margin: 0 0 0 12px;}
.ncm-favorite-store .store-info dt { font-size: 14px; line-height: 20px; margin-bottom: 5px;}
.ncm-favorite-store .store-info dt a { color: #333;}
.ncm-favorite-store .store-info dd { line-height: 20px; height: 20px; margin-bottom: 5px;}
.ncm-favorite-store .store-info dd a { color: #777; text-decoration: none;}
.ncm-favorite-store .store-info .handle { width: 50px; height: 20px; position: absolute; z-index: 1; tpo: 0; right: 0;}
.ncm-favorite-store .store-info .handle a { color: #CCC; text-decoration: none; line-height: 20px; text-align: center; width: 20px; height: 20px;}
.ncm-favorite-store .store-info .handle a:hover { color: #F32613;}
.ncm-favorite-store .store-info .handle a i { font-size: 18px; margin: 0;}
.ncm-favorite-store .store-goods { width: 750px; margin-left: 15px;}
.ncm-favorite-store .show-tab,
.ncm-favorite-store .show-list ul { font-size: 0; letter-spacing: -3px; word-spacing: -3px;}
.ncm-favorite-store .show-tab a,
.ncm-favorite-store .show-list li {font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncm-favorite-store .show-tab a { color: #333; line-height: 20px; padding: 2px 10px; margin-right: -1px; border: solid 1px #E6E6E6; position: relative; z-index: 1;}
.ncm-favorite-store .show-tab a:hover,
.ncm-favorite-store .show-tab a.current { color: #F32613; text-decoration: none; background-color: #F5F5F5; border-color: #CCC; position: relative; z-index: 2;}
.ncm-favorite-store .show-tab a.disabled,
.ncm-favorite-store .show-tab a.disabled:hover { background-color: #FFF; color: #AAA; cursor: no-drop; border-color: #E6E6E6;}
.ncm-favorite-store .more { line-height: 26px; color: #555; float: right;}
.ncm-favorite-store .show-list { display: block; clear: both; width: 750px; overflow: hidden;}
.ncm-favorite-store .show-list ul { width: 780px; margin: 0 0 0 -30px;}
.ncm-favorite-store .show-list li { width: 126px; margin: 20px 0 0 30px;}
.ncm-favorite-store .show-list .goods-thumb { width: 124px; height: 124px; border: solid 1px #F5F5F5; overflow: hidden;}
.ncm-favorite-store .show-list p { font-family: Verdana; font-weight: 600; color: #F32613; text-align: center; white-space: nowrap; overflow: hidden;}
.ncm-favorite-store .show-list a.hide { color: #333; float: right; clear: both; padding: 1px 6px; margin: 10px 0 0 0; border: solid 1px #E6E6E6;}
.ncm-favorite-store-more { overflow: hidden;}
.ncm-favorite-store-more .item-list { width: 770px; float: left;}
.ncm-favorite-store-more .item-list .store-info { display: block; overflow: hidden; margin: 20px 0 30px 20px;}
.ncm-favorite-store-more .item-list .store-pic { width: 96px; height: 96px; border-radius: 100%; float: left;}
.ncm-favorite-store-more .item-list .store-pic img { max-width: 96px; max-height: 96px; border-radius: 100%;}
.ncm-favorite-store-more .item-list .store-info dl { float: left; margin: 15px 0 0 15px;}
.ncm-favorite-store-more .item-list .store-info dt { font-size: 14px; line-height: 20px; margin-bottom: 5px;}
.ncm-favorite-store-more .item-list .store-info dt a { color: #333;}
.ncm-favorite-store-more .item-list .store-info dd { line-height: 20px; height: 20px; margin-bottom: 5px;}
.ncm-favorite-store-more .item-list .store-info dd a { color: #777; text-decoration: none;}
.ncm-favorite-store-more .item-list .show-tab { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-left: 20px;}
.ncm-favorite-store-more .item-list .show-tab a {font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncm-favorite-store-more .item-list .show-tab a {color: #999; line-height: 20px; padding: 2px 10px; margin-right: -1px; border: solid 1px #E6E6E6; position: relative; z-index: 1;}
.ncm-favorite-store-more .item-list .show-tab a:hover,
.ncm-favorite-store-more .item-list .show-tab a.current { color: #F32613; text-decoration: none; background-color: #F5F5F5; border-color: #CCC; position: relative; z-index: 2;}
.ncm-favorite-store-more .item-list .show-tab a.disabled,
.ncm-favorite-store-more .item-list .show-tab a.disabled:hover { background-color: #FFF; color: #AAA; cursor: no-drop; border-color: #E6E6E6;}
.ncm-favorite-store-more .item-list ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-left: 20px; padding-left: 20px; border-left: solid 1px #DEDEDE;}
.ncm-favorite-store-more .item-list ul.hot { border: none; padding-left: 0; padding-top: 20px;}
.ncm-favorite-store-more .gallery-album-title { font-size: 12px; display: block; margin-top: 30px; height: 20px; position: relative; z-index: 1;}
.ncm-favorite-store-more .gallery-album-title i { background: url(../images/member/member_pics.png) no-repeat -220px -700px; display: block; width: 9px; height: 9px; position: absolute; z-index: 1; top: 0; left: -25px;}
.ncm-favorite-store-more .gallery-album-title h4 { font-size: 14px; line-height: 20px; position: absolute; z-index: 1; top: -5px; left: 0; }
.ncm-favorite-store-more li.fav-item { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 152px; padding-bottom: 10px; margin-right: 30px; *zoom: 1;}
.ncm-favorite-store-more .item-list .hot .gallery-album-title { display: none;}
.ncm-favorite-store-more .fav-item .goods-thumb { width: 152px; height: 152px; margin: 10px 0; }
.ncm-favorite-store-more .fav-item .goods-thumb a { display: block; width: 150px; height: 150px; border: solid 1px #F5F5F5; overflow: hidden;}
.ncm-favorite-store-more .fav-item p { font-family: Verdana; font-weight: 600; color: #F32613; text-align: center; white-space: nowrap; overflow: hidden;}
.ncm-favorite-store-more .store-list { background-color: #FAFAFA; width: 250px; min-height: 400px; float: right;}
.ncm-favorite-store-more .store-list .store-info { padding: 12px 0 12px 19px; overflow: hidden;}
.ncm-favorite-store-more .store-list .store-info a { color: #777; display: block;}
.ncm-favorite-store-more .store-list .store-info a:hover { color: #777; text-decoration: none;}
.ncm-favorite-store-more .store-list .store-pic { width: 48px; height: 48px; border-radius: 100%; float: left;}
.ncm-favorite-store-more .store-list .store-pic img { max-width: 48px; max-height: 48px; border-radius: 100%;}
.ncm-favorite-store-more .store-list .store-name { font-size: 12px; line-height: 20px; float: left; width: 160px; height: 20px; padding: 14px 0 14px 14px;}
.ncm-favorite-store-more .store-list .current { background-color: #FFF; border-right: solid 3px #F32613;}


/*评价晒图*/
/* ====================== */
/* 店铺简介边栏 -> info.php */
/* ====================== */
.ncm-evaluation-store {}
.ncm-evaluation-store .store-name { font: 600 14px/20px arial,"microsoft yahei"; color: #555; background-color: #F5F5F5; height: 20px; padding: 6px 10px; border-bottom: solid 1px #EEE;}
.ncm-evaluation-store .store-info { margin: 0 }
.ncm-evaluation-store .store-info dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; border-bottom: dotted 1px #E6E6E6; padding: 8px 10px;}
.ncm-evaluation-store .store-info dl dt,
.ncm-evaluation-store .store-info dl dd { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-evaluation-store .store-info dl dt { color: #666; text-align: right; width: 30%; }
.ncm-evaluation-store .store-info dl dd { color: #333; white-space: nowrap; text-overflow: ellipsis; width: 70%; overflow: hidden;}

.ncm-evaluation-store .store-info .all-rate .rating { background: url(../images/2014grate.png) no-repeat 0 -18px ; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 79px; height: 17px; margin-right: 5px; *zoom: 1/*IE7*/;}
.ncm-evaluation-store .store-info .all-rate span { background: url(../images/2014grate.png) no-repeat 100% 0; display: block; height: 18px;}
.ncm-evaluation-store .store-info .all-rate em { color: #DA542E; font-weight: 600; vertical-align: middle; margin-right: 2px;}

.ncm-evaluation-store .store-info .detail-rate { color: #999; padding: 5px; margin: 0 auto; border-bottom: dotted 1px #CCC;}
.ncm-evaluation-store .store-info .detail-rate ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 5px 0;}
.ncm-evaluation-store .store-info .detail-rate li { font-size: 12px; color: #333; vertical-align: top; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 33.333%; height: 32px; *zoom: 1;}
.ncm-evaluation-store .store-info .detail-rate li h5 { color: #777; line-height: 16px; height: 16px;}
.ncm-evaluation-store .store-info .detail-rate li div { line-height: 16px; height: 16px; }
.ncm-evaluation-store .store-info .detail-rate .credit { color: #555; display: inline-block; width: 35px; margin-left: 4px;}
.ncm-evaluation-store .store-info .detail-rate li div i { background: url(../images/2014grate.png) no-repeat; vertical-align: middle; display: inline-block; width: 16px; height: 16px;}
.ncm-evaluation-store .store-info .detail-rate .high { color: #DA542E; }
.ncm-evaluation-store .store-info .detail-rate .high i { background-position: 0 -40px;}
.ncm-evaluation-store .store-info .detail-rate .equal { color: #DA542E; }
.ncm-evaluation-store .store-info .detail-rate .equal i { background-position: -32px -40px;}
.ncm-evaluation-store .store-info .detail-rate .low { color: #28B779; }
.ncm-evaluation-store .store-info .detail-rate .low i { background-position: -16px -40px;}

.ncm-evaluation-store .store-info .no-border { border: 0!important; padding-bottom: 0!important;}
.ncu-evaluation-store .ncu-form-style { float: right; width: 700px;}
/*评价商品晒图*/
.ncm-default-table td.pic-mode .pic-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 160px; height: 160px; padding: 0; border: none 0; overflow: hidden;}
.ncm-default-table td.pic-mode .pic-thumb img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2); *margin-top:expression(80-this.height/2)/*IE6,7*/;}
.ncm-default-table td.pic-mode .goods-name { width: 160px; border: none; overflow: hidden;}
.ncm-default-table td.pic-mode .goods-name dt { font-size: 12px; line-height: 20px; color: #333; display: block; white-space: nowrap; text-overflow: ellipsis; width: 160px; height: 20px; padding: 0; overflow: hidden;}
.ncm-default-table td.pic-mode .goods-name dt a { color: #333;}
.ncm-default-table td.pic-mode .goods-name dd { line-height: 20px; display: block; max-width: 160px; height: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.ncm-default-table .show-pic { display: block;}
.first-time { color: #999; line-height: 20px;}
.evaluation-image { clear: both; overflow: hidden;}
.evaluation-image ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 400px; margin-top: 10px;}
.evaluation-image ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; text-align: center; width: 62px; height: 62px; margin-right: 16px; border: solid 1px #E6E6E6; position: relative; z-index: 1; *zoom: 1;}
.evaluation-image ul li .upload-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; padding: 1px; position: relative; z-index: 1;}
.evaluation-image ul li .upload-thumb img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/;}
.evaluation-image ul li .upload-thumb .del { font-size: 11px; line-height: 16px; color: #C8C8C8; background-color: #FFF; text-align: center; width: 16px; height: 16px; border: solid 1px #D7D7D7; border-radius: 9px; position: absolute; z-index: 1; top: -9px; right: -9px; -webkit-text-size-adjust:none;}
.evaluation-image ul li .upload-thumb .del:hover { color: #FFF; text-decoration: none; background-color:#F30; border-color: #F30;}
.evaluation-image .help { background-color: #FEFEFE; vertical-align: top; width: 280px; display: inline-block; border: dashed 1px #F2F2F2; padding: 9px; margin: 10px 0 0 20px;}
.evaluation-image .help dt { font: bold 12px/20px "microsoft yahei"; width: auto; display: block; padding: 0; margin-bottom: 8px;}
.evaluation-image .help dd { width: auto; display: block; padding: 0;}


.ncm-evaluation-list {}
.ncm-evaluation-timeline { text-align: left; display: block; padding: 5px 0 15px 0; margin: 30px 0 0 100px; border-left: solid 3px #F5F5F5; position: relative; z-index: 1;}
.ncm-evaluation-timeline .date { font: normal 11px/20px Verdana, Arial; color: #AAA; text-align: center; width: 200px; height: 20px; position: absolute; z-index: 2; top: -25px; left: -55px;}
.ncm-evaluation-timeline .goods-thumb { background-color: #F2F2F2; width: 60px; height: 60px; position: absolute; z-index: 1; top: 5px; left: -80px; }
.ncm-evaluation-timeline .goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height:60px; overflow: hidden;}
.ncm-evaluation-timeline .goods-thumb a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2);}
.ncm-evaluation-timeline .detail { margin: 0 0 0 20px;}
.ncm-evaluation-timeline .detail dt { display: block; margin-bottom: 10px; overflow: hidden;}
.ncm-evaluation-timeline .detail dt .user-name { font: bold 12px/20px "Microsoft Yahei"; color: #AAA; float: left;}
.ncm-evaluation-timeline .detail dt time { color: #CCC; float: right;}
.ncm-evaluation-timeline .detail dd { font-size: 14px; color: #555; margin-bottom: 10px;}
.ncm-evaluation-timeline .detail .pubdate { font-size: 12px; color: #AAA;}
.ncm-evaluation-timeline .detail dd.explain { color: #960; font-size: 12px;}
.ncm-evaluation-timeline .detail hr { font-size: 0; line-height: 0; padding: 0; margin: 10px 0; height: 0; width: 100%; border: none 0; border-top: dashed 1px #E6E6E6;}
.ncm-evaluation-timeline .detail .photos-thumb { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: middle; display: inline-block;}
.ncm-evaluation-timeline .detail .photos-thumb li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; text-align: center; width: 34px; margin-right: 6px; *zoom: 1;}
.ncm-evaluation-timeline .detail .photos-thumb a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 30px; height: 30px; padding: 1px; border: solid 1px #E6E6E6; overflow: hidden;}
.ncm-evaluation-timeline .detail .photos-thumb a:hover { border-color: #D93600;}
.ncm-evaluation-timeline .detail .photos-thumb a img { max-width: 30px; max-height: 30px; margin-top:expression(30-this.height/2); *margin-top:expression(15-this.height/2)/*IE6,7*/;}


/* 退款详情相关
-------------------------------------------*/
.ncm-flow-layout,
.ncm-flow-item dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; }
.ncm-flow-container,
.ncm-flow-item,
.ncm-flow-item dt,
.ncm-flow-item dd { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-flow-layout { width: 100%;}
.ncm-flow-container { width: 687px; padding: 0 30px 0 0; border-right: solid 1px #F5F5F5;}
/* 右侧商品订单 */
.ncm-flow-item { width: 280px; padding: 0 0 0 30px;}
.ncm-flow-item a { color: #09C;}
.ncm-flow-item .title { font-size: 14px; font-weight: 600; padding: 10px 0; border-bottom: solid 1px #EEE;}
.ncm-flow-item .item-goods dl { margin: 10px 0; padding-bottom: 10px; border-bottom: solid 1px #EEE;}
.ncm-flow-item .item-goods dt { width: 42px; padding: 0 10px;}
.ncm-flow-item .item-goods dd { width: 212px;}
.ncm-flow-item .item-goods dd a { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.ncm-flow-item .item-order dl { margin-bottom: 8px;}
.ncm-flow-item .item-order dl.line { padding-top: 10px; border-top: dotted 1px #D8D8D8;}
.ncm-flow-item .item-order dt { color: #888; text-align: right; width: 22%; margin-right: 1%;}
.ncm-flow-item .item-order dd { color: #666; width: 75%; }
.ncm-flow-item .item-order dl dd span { margin-right: 6px;}
.ncm-flow-item .item-order dl dd .a { color: #666; float: right; padding: 0 5px 0 10px; position: relative; z-index: 1;}
.ncm-flow-item .item-order dd a:hover { text-decoration: none; color: #F33; z-index: 2;}
.ncm-flow-item .item-order dl dd .a i { font-size: 10px; margin-left: 4px;}
.ncm-flow-item .item-order dl dd .a .more { background-color: #FBFBFB; display: none; width: 268px; padding: 10px; border: solid 1px #CCC; position: absolute; z-index: 1; right: -5px; top: 25px; box-shadow: 2px 2px 0 rgba(153,153,153,0.15)}
.ncm-flow-item .item-order dl dd .a:hover .more { display: block;}
.ncm-flow-item .item-order dl dd .a .more .arrow { background: url(../images/member/member_pics.png) no-repeat -140px 0; width: 11px; height: 6px; position: absolute; z-index: 2px; top: -6px; right: 25px;}
.ncm-flow-item .item-order dl dd .a .more ul {}
.ncm-flow-item .item-order dl dd .a .more li { line-height: 24px; color: #888;}
.ncm-flow-item .item-order dl dd .a .more li span { color: #666; display: inline;}
/* 左侧内容详情 */
.ncm-flow-container .title { height: 20px; padding: 10px 0; border-bottom: solid 1px #EEE;}
.ncm-flow-container .title h3 { font-size: 14px; font-weight: 600; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-flow-container .refund-type-box { vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 100px; height: 20px; position: relative; z-index: 2; *zoom: 1/*IE*/;}
.ncm-flow-container .refund-type-box i { background: url(../images/member/member_pics.png) no-repeat -370px -90px; width: 17px; height: 17px; position: absolute; z-index: 1; top: 2px; right: 0;}
.ncm-flow-container .refund-type-box:hover i { background-position: -370px -107px;}
.ncm-flow-container .refund-type-text { font-size: 14px; font-weight: 600; color: #EC4F4A; width: 100%; height: 20px; user-select: none; -webkit-user-select: none; -moz-user-select: none; position: absolute; z-index: 2; top: 0; left: 0; cursor: pointer;}
.ncm-flow-container .refund-type-option { display: none; background: #fff; width: 100%; position: absolute; z-index: 1; top: 22px; left: -1px; border: 1px solid #CCC;}
.ncm-flow-container .refund-type-option li { height: 20px; padding: 4px; color: #555; cursor: pointer;}
.ncm-flow-container .refund-type-option li.seleced { background: #39F; color: #fff;}
/* 流程步骤 */
.ncm-flow-step { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-top: 30px;}
.ncm-flow-step dl { font-size: 12px; line-height: 20px; background: url(../images/member/member_pics.png) no-repeat; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; height: 36px; margin: 50px 0 60px -1px; position: relative; z-index: 1; *zoom: 1/*IE7*/;}
.ncm-flow-step dl.step-first { background-position: -240px -170px !important; width: 36px !important;}
.ncm-flow-step dl dt { font-weight: 600; color: #999; text-align: center; width: 120px; position: absolute; z-index: 1; top: -30px; right: -42px;}
.ncm-flow-step dl.current dt { color: #FD6760;}
.ncm-flow-step dl dd.bg { background: url(../images/member/member_pics.png) no-repeat; display: none; height: 36px; position: absolute; z-index: 1; top: 0; right: 0;}
.ncm-flow-step dl.step-first dd.bg { background-position: -240px -210px !important; width: 36px !important;}
.ncm-flow-step dl.current dd { display: block;}
/* 退款 */
#saleRefund .ncm-flow-step dl { background-position: -285px -130px; width: 215px; }
#saleRefund .ncm-flow-step dl.step-first { margin-left: 100px;}
#saleRefund .ncm-flow-step dl dd.bg {  background-position: -280px -170px; width: 220px;}
/* 退货 */
#saleRefundReturn .ncm-flow-step dl { background-position: -325px -130px; width: 175px;}
#saleRefundReturn .ncm-flow-step dl.step-first { margin-left: 50px;}
#saleRefundReturn .ncm-flow-step dl dd.bg {  background-position: -320px -210px; width: 180px;}
/* 投诉 */
#ncmComplainFlow .ncm-flow-step dl { background-position: -360px -130px; width: 140px;}
#ncmComplainFlow .ncm-flow-step dl.step-first { margin-left: 40px;}
#ncmComplainFlow .ncm-flow-step dl dd.bg {  background-position: -355px -250px; width: 145px;}
/* 举报 */
#ncmInformFlow .ncm-flow-step dl { background-position: -285px -130px; width: 215px;}
#ncmInformFlow .ncm-flow-step dl.step-first { margin-left: 100px;}
#ncmInformFlow .ncm-flow-step dl dd.bg {  background-position: -280px -170px; width: 220px;}
.ncm-inform-item {}
/* 提交表单 */
.ncm-flow-container .ncm-default-form dl dt { width: 19%;}
.ncm-flow-container .ncm-default-form dl dd { width: 79%;}
/* 举证图片列表 */
.ncm-evidence-pic { font-size: 0; *word-spacing:-1px/*IE6、7*/; }
.ncm-evidence-pic li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 60px; height: 60px; padding: 4px; margin-right: 10px; border: solid 1px #F5F5F5; *zoom: 1/*IE7*/;}
.ncm-evidence-pic li a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 100px; height:60px; overflow: hidden;}
.ncm-evidence-pic li a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2);}

/*交易投诉
-------------------------------------------*/

.ncm-complain-container .title { height: 20px; padding: 10px 0; border-bottom: solid 1px #EEE;}
.ncm-complain-container .title h3 { font-size: 14px; font-weight: 600; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-complain-talk { background-color: #FFF; border:1px dashed #EEE; max-height: 200px; word-break: normal; word-wrap: break-word; padding: 8px; overflow-y: scroll;}
.ncm-complain-talk .admin { color: black;}
.ncm-complain-talk .accuser { color: red;}
.ncm-complain-talk .accused { color: green;} 
 

#footer { width: 100%; margin: 0 auto; text-align: center; color: #aaa; line-height: 18px; padding: 15px 0; }
.clear { font-size: 0px; line-height: 0px; height: 0; margin: 0; padding: 0; float: none; clear: both; border: 0;}

/*浏览历史记录*/
.ncm-browse { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-browse-left,
.ncm-browse-class { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-browse-left { text-align: center; width: 720px; margin: 20px 20px 0 0;}
.ncm-browse-list { text-align: left; margin-bottom: 20px;}
.ncm-browse-list li { font-size: 12px; display: block; position: relative; z-index: 1;}
.ncm-browse-list .browse-timeline { background-color: #EEE; width: 12px; height: 12px; border-radius: 6px; position: absolute; z-index: 2; top: 9px; left: 114px;}
.ncm-browse-list .browse-time { color: #999; text-align: right; width: 100px; position: absolute; z-index: 1; top: 5px; left: 0;}
.ncm-browse-list .browse-goods { border-left: solid 1px #EEE; height: 100px; padding: 10px 10px 0 20px; margin-left: 120px;}
.ncm-browse-list .browse-goods .goods-thumb { width: 60px; height: 60px; border: solid 1px #F5F5F5; float: left;}
.ncm-browse-list .browse-goods .goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden;}
.ncm-browse-list .browse-goods .goods-thumb a img { max-width: 60px; max-height: 60px; margin-top: expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/; }
.ncm-browse-list .browse-goods .goods-info { line-height: 18px; width: 350px; float: left; margin-left: 10px;}
.ncm-browse-list .browse-goods .goods-info dt { font-weight: 600; height: 36px; overflow: hidden;}
.ncm-browse-list .browse-goods .goods-info dd { margin-top: 4px; color: #999;}
.ncm-browse-list .browse-goods .goods-info dd .sale-price { color: #C00; font-size: 14px; font-weight: 600; margin-right: 20px;}
.ncm-browse-list .ncbtn { float: right; visibility: hidden;}
.ncm-browse-list .browse-goods .goods-info dd .market-price { text-decoration: line-through;}
.ncm-browse-list li:hover { background-color: #FFE; border: dashed 1px #FFCC99; margin: -1px; z-index: 2;}
.ncm-browse-list li:hover .browse-goods { border-color: #FFCC99;}
.ncm-browse-list li:hover .browse-timeline { background-color: #FD6760;}
.ncm-browse-list li:hover .ncbtn { visibility: visible;}

.ncm-browse-class { font-size: 12px; width: 238px; border: solid 1px #E7E7E7; margin-top: 20px;}
.ncm-browse-class .title { font-size: 14px; font-weight: 600; background-color: #F5F5F5; padding: 9px 19px; border-bottom: solid 1px #E7E7E7;}
.ncm-browse-class .title a { color: #333;}
.ncm-browse-class ul { margin-bottom: -1px;}
.ncm-browse-class li { font-size: 14px; border-bottom: solid 1px #E7E7E7;}
.ncm-browse-class li a { color: #777; display: block; padding: 9px 19px;}
.ncm-browse-class li a.selected { font-weight: 600; color: #333;}
.ncm-browse-class li.selected a { background-color: #F5F5F5; color: #333;}
.ncm-browse-class li a:hover { background-color: #FBFBFB; color: #555;}
.ncm-browse-class li a i { font-size: 0px; line-height: 0; vertical-align: middle; display: inline-block; width: 0px; height: 0px; margin-right: 6px; border-width: 4px; border-color: transparent transparent transparent #CCC; border-style: dashed dashed dashed solid;}
.ncm-browse-class li a.selected i { border-color: #777 transparent transparent transparent; border-style: solid dashed dashed dashed;}
.ncm-browse-class li ul { margin-bottom: 0;}
.ncm-browse-class li ul li { font-size: 12px; border: none;}
.ncm-browse-class li ul li a { font-size: 12px; display: block; padding: 6px 19px 6px 39px;}

#weibocharcount .counter { color:#999;}
#weibocharcount label.error { position: absolute; z-index: 1; bottom:20px; left:110px;}
#weibocharcount .warning { color: orange; margin:0; padding:0; border:none; background:none; width:auto; clear:none;}
#weibocharcount .exceeded { color: red;}

/* 分享绑定设置 */
.bind-account-list { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 95%; margin: 30px auto auto; overflow: hidden;}
.bind-account-list li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin-bottom: 30px; width: 33.3333%; *zoom: 1/*IE7*/;}
.account-item { height: 80px; padding-left: 90px; position: relative;}
.account-item .website-icon { display: block; width: 80px; height: 80px; position: absolute; top: 0; left: 0;}
.account-item dl dt { color: #333; font-size: 14px; font-weight: 700;}
.account-item dl dd { color: #999;}
.account-item dl dd.operate { margin-top: 6px;}
.account-item dl dd em { color: #000; font-style: normal; margin-right: 10px;}