@charset "utf-8";
/*页面整体宽度控制*/
.ncs-nav { width:100%; margin:0 auto; }
.public-head-layout wrapper { width: 100% }
.wrapper { width: 1200px; margin: 0 auto; }
/* 公用头部区域 
-------------------------------------- */
.header-wrap { background-color: #FFF; width: 100%; margin: 0 auto; }
.public-head-layout { height: 90px; }
/* 站点logo */
.public-head-layout .site-logo { width: 195px; height: 60px; float: left; margin: 15px 0px auto 0; }
.public-head-layout .site-logo img { max-width: 195px; max-height: 60px; }
.heade_store_info .store-logo { width: 200px; height: 60px; overflow: hidden; }
.heade_store_info .store-logo a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block;
width: 200px; height: 60px; overflow: hidden; }
.heade_store_info .store-logo a img { max-width: 200px; max-height: 60px; margin-top:expression(40-this.height/2);
*margin-top:expression(20-this.height/2)/*IE6,7*/;
}
/*店铺信息*/
.heade_store_info { height: 50px; float: left; position: relative; padding: 30px 0 0; }
.heade_store_info .slogo { height: 38px; float: left; padding: 0 10px; border-left: 1px solid #f0f0f0; text-align: center; }
.heade_store_info .slogo .store_name { font-weight:bold; color:#333; }
.heade_store_info .slogo .all-rate { clear:both; }
.heade_store_info .slogo .all-rate .rating { background: url(../images/2014grate.png) no-repeat 0 -18px; vertical-align: middle; display: inline-block; *display: inline/*IE7*/;
width: 79px; height: 17px; *zoom:1;
}
.heade_store_info .slogo .all-rate .rating span { background: url(../images/2014grate.png) no-repeat 100% 0; display: block; height: 18px; }
.heade_store_info .slogo .all-rate em { font-weight: 600; vertical-align: middle; margin-right: 2px; }
.heade_store_info .slogo .detail-rate { clear: both; }
.heade_store_info .pj_info { height: 38px; font-weight: 400; padding: 0px 10px; border-left: 1px dotted #f0f0f0; border-right: 1px solid #f0f0f0; position: relative; float: left; }
.heade_store_info .pj_info .shopdsr_item { width: 30px; height: 36px; color: #999; float: left; position: relative; overflow:hidden; }
.heade_store_info .pj_info .shopdsr_item .shopdsr_title { height:18px; text-align: center; font-family: "\5b8b\4f53"; overflow:hidden; }
.heade_store_info .pj_info .shopdsr_item .shopdsr_score { width: 30px; height: 18px; text-align:center; color: #c40000; position: relative; overflow: hidden; }
.heade_store_info .sub { background: #FFF; display:none; padding: 9px 9px 0 9px; border: solid 1px #eee; position: absolute; z-index: 999; top: 75px; left: 10px; }
.heade_store_info:hover .sub { display: block; }
.heade_service_info { height: 50px; float: left; position: relative; padding: 30px 0 0; }
.heade_service_info .displayed { padding:5px 20px; color: #999; position:relative; }
.heade_service_info .displayed h5 { color:#666; }
.heade_service_info .displayed i { width: 16px; height: 16px; background: url(../images/shop/ncs_store_top.png) no-repeat 0 -50px; vertical-align: middle; margin-right: 4px; display: inline-block; }
.heade_service_info .displayed .sub { width:88px; background: #FFF; display:none; padding: 9px 9px 0 9px; border: solid 1px #666; position: absolute; z-index: 999; top: 28px; left:0px; }
.heade_service_info .displayed:hover { color:#fff; background-color:#666; }
.heade_service_info .displayed:hover .sub { display:block; }
.heade_service_info .ncs-message-bar dt { font-weight: 600; color: #F87622; display: block; padding-bottom: 5px; margin-bottom: 5px; border-bottom: solid 1px #F5F5F5; }
.heade_service_info .ncs-message-bar dd { display: block; color: #777; padding: 1px 0 1px 10px; }
.heade_service_info .ncs-message-bar dd span { line-height: 22px; margin: 0 6px 0 0; }
.heade_service_info .ncs-message-bar dd img { vertical-align: middle; }
.heade_service_info .ncs-message-bar dd p { line-height: 20px; }
.heade_service_info .ncs-message-bar .workingtime { display: none; }
.hao-ownshop { color: #f30; display: block; font: 700 12px/36px "微软雅黑"; height: 36px; margin: 5px auto; text-align: center; }
/* 头部搜索 */
#search { width: 400px; float:right; }
#search ul.tab { float: left; width: 200px; height: 23px; position: absolute; z-index: 99; top: 10px; left: 0px; overflow: hidden; }
#search ul.tab li { font-weight: bold; line-height: 20px; color: #555; white-space: nowrap; float: left; height: 20px; float: left; padding: 0 14px 3px 14px; margin-right: 8px; cursor: pointer; }
#search ul.tab li.current:hover { background: #D90909; }
#search ul.tab li.current { line-height: 22px; color: #FFF; background: #D90909; height: 20px; float: left; padding: 0 14px 3px 14px; margin: 0; }
.head-search-bar { position: relative; margin:0; }
.head-search-bar { margin-left:20px; float: left; overflow: hidden; }
.head-search-bar .search-form { margin-top: 22px; background-color: #D90909; height: 38px; padding: 3px; }
.head-search-bar .input-text { line-height: 25px; color: #555; width: 82%; height: 25px; float: left; padding: 6px 1%; border: none 0; }
.head-search-bar .input-submit, .head-search-bar .input-submit:hover { font-size: 14px; color: #FFF; font-weight: 600; background-color: transparent; width: 15%; height: 38px; float: right; border: none; cursor: pointer; }
.head-search-bar .keyword { line-height: 20px; color: #999; width: 500px; height: 20px; margin-top: 4px; overflow: hidden; }
.head-search-bar .keyword ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;
vertical-align: top; display: inline-block; *display:inline/*IE6、7*/;
}
.head-search-bar .keyword ul li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;
margin-right: 12px; }
.head-search-bar .keyword ul li a { color: #777; }
.topbanner { overflow:hidden; }
