/*
Theme Name: SKT Strong
Theme URI: https://www.sktthemes.net/shop/free-corporate-wordpress-theme/
Author: SKT Themes
Author URI: https://www.sktthemes.net
Description: SKT Strong is a responsive crossfit WordPress theme which can be used for gym, fitness, personal trainer, studio, yoga, boxing, aerobics, spa, health, workout, portfolio and other multipurpose local business use. Compatible with gallery plugins, contact form plugins, SEO plugins and is translation ready and multilingual ready. Check demo at: http://sktthemesdemo.net/strong/

Version: 1.4
License: GNU General Public License
License URI: license.txt
Text Domain: skt-strong
Tags: two-columns,right-sidebar,custom-background,custom-colors,custom-logo,custom-header,custom-menu,sticky-post,theme-options,threaded-comments

SKT Strong is based on Underscores theme(Underscores is distributed under the terms of the GNU GPL v2 or later).

SKT Strong WordPress Theme has been created by SKT Themes(sktthemes.net), 2016.
SKT Strong WordPress Theme is released under the terms of GNU GPL
*/

body{ background-color:#f7f7f7; margin:0; padding:0;line-height:20px; font-size:13px; color:#5c5c5c; font-family:Arial, Helvetica, sans-serif;  -ms-word-wrap:break-word; word-wrap:break-word; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

*{ margin:0; padding:0; outline:none;}
img{ border:none; margin:0; padding:0; height:auto}
.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .aligncenter{ margin:0; padding:0;}
p{ margin:0; padding:0;}
a{ color:#00c0ff; text-decoration:none; }
a:hover{ color:#ba7101;}
ol,ul{ margin:0; padding:0;}
.entry-content ol li, .entry-content ul li{ margin-left:15px;}
ul li ul, ul li ul li ul, ol li ol, ol li ol li ol{ margin-left:10px;}
h1,h2,h3,h4,h5,h6{ color:#484f5e; font-family:'Roboto', sans-serif; margin:0 0 20px; padding:0; line-height:1.1; font-weight:400; }
h1{ font-size:36px;}
h2{ font-size:30px;}
h3{ font-size:24px;}
h4{ font-size:20px;}
h5{ font-size:18px;}
h6{ font-size:14px;}
.clear{ clear:both;}
.alignnone{ width:100% !important;}
img.alignleft, .alignleft{ float:left; margin:0 15px 0 0; padding:5px; border:1px solid #f6f4f4;}
img.alignright, .alignright{ float:right; margin:0 0 0 15px; padding:5px; border:1px solid #f6f4f4;}
.tag-sticky-2{ background-color:#f6f4f4; padding:20px;}
.left{ float:left;}
.right{ float:right;}
.space50{ clear:both; height:50px;}
.space100{ clear:both; height:100px;}
/*default pagination*/
.pagination{display:table; clear:both;}
.pagination .nav-links{ margin:20px 0;}
.pagination .nav-links a{ margin-right:0; background:#646262; color:#fff; padding:5px 10px;}
.pagination .nav-links span.current, .pagination .nav-links a:hover { padding:5px 10px; background:#00c0ff; color:#fff;}

.postmeta{padding:5px 0; color:#999;}
.postmeta a{color:#999;}
.postmeta a:hover{color:#00c0ff;}

#comment-nav-above .nav-previous, #comment-nav-below .nav-previous{ float:none !important; margin:10px 0;}
ol.comment-list li{ list-style:none; margin-bottom:5px;}

.logo{float:left; width:25%; z-index:999; color:#333; padding:28px 0;}
.logo img{ height:51px; width:auto;}
.logo h1{font-weight:600; margin:0; line-height:30px; color:#323131; font-size:37px; text-transform:uppercase;}
.logo h1 span{ color:#00c0ff;}
.logo a{ color:#323131;}
body.wp-custom-logo .logo h1{ display:none;}
.hdrinfo{ float:left; margin:0 50px 0 0;}

.widget-right{ float:right; font:400 20px/22px 'Roboto'; padding-top:28px;}
.hdrinfo-left{ float:left; margin:6px 5px 0 0;}
.hdrinfo-right{ float:right;}
.hdrinfo-right a{ display:block; font-size:13px; color:#333;}

.header{width:100%; z-index:999; position:relative; }
.container{ width:1170px; margin:0 auto; position:relative;}
#home_slider{ position:relative; top:-56px; }
/*header menu css*/
#menubar{border-bottom:1px solid #00c0ff; background-color: rgba(0, 0, 0,0.5 )}
.toggle a{width:100%; color:#ffffff; background:url(images/mobile_nav_right.png) no-repeat right center #3e3e3e; padding:10px 10px; font-size:16px; text-align:left; display: none;}
.toggle a:hover{color:#ffffff !important;}
.sitenav{display:none;}

.sitenav{ padding:0;}
.sitenav ul { margin:0; padding:0; font-family:'Roboto', sans-serif; font-weight:400; font-size:15px; }
.sitenav ul li{ display:inline-block; float:left; margin:0; position:relative; text-align:center;}
.sitenav ul li a{ padding:18px 30px; display:block; color:#fff; }
.sitenav ul li:last-child a{ border-right:none; }
.sitenav ul li ul li{display:block; position:relative; float:none; border-bottom:1px solid #0590c8;}
.sitenav ul li ul li a{display:block; padding-top:10px; padding-bottom:10px; position:relative; text-align:left;  border-right:none; }
.sitenav ul li a:hover, .sitenav ul li.current_page_item a, .sitenav ul li.menu-item-has-children.hover, .sitenav ul li.current-menu-parent a.parent{ background-color:#0590c8; color:#fff;  }
.sitenav ul li ul{display:none; z-index:9999999; position:relative;}
.sitenav ul li:hover > ul{display:block; width:200px; position:absolute; left:0; text-align:left; background-color:#00c0ff; }
.sitenav ul li:hover ul li ul{display:none; position:relative;}
.sitenav ul li:hover ul li:hover > ul{display:block; position:absolute; left:200px; top:1px;}
.sitenav ul li:hover > ul li a{ border-radius: 0px;}

/* = header top bar css
-------------------------------------------------------------- */
section#home_slider{ padding:0;}
#FrontBlogPost{ padding:60px 0;}
#wrapfirst{ padding:0 0 60px;}

h2.section-title{font-weight:400; font-family:'Roboto'; font-size:28px; color:#3a3a3a; margin:0 0 30px 0; padding:0 40px 20px 0; text-transform:uppercase; border-bottom: solid 1px #f58e2a; display:inline-block; position:relative;}
h2.section-title::after{ width:10px; height:10px; background:#f9f8f8; border:solid 1px #f58e2a; content:""; padding:0; position:absolute; bottom:-6px; right:0; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; -o-border-radius:100%; -ms-border-radius:100%;}

.getaquote a{font:16px 'Roboto'; background:#0083b6; color:#ffffff; border:none; padding:10px 20px; display:inline-block; 
-webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px;-moz-border-radius-bottomright: 3px;-moz-border-radius-bottomleft: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;}
.getaquote a:hover{color:#ffffff;}

/* = social icons css
-------------------------------------------------------------- */
.header-social-icons{ display:inline-block;}
.header-social-icons a{ background-color:#666666 !important; width:32px; height:32px; line-height:32px; text-align:center;  vertical-align:middle; display:inline-block; float:left; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s;  margin:0 1px 0 0; padding:0; }
.header-social-icons a:hover{ background-color:#00c0ff !important;}
.header-social-icons br{ display:none;}
.header-social-icons .fb{ background:url(images/icon-fb.png) no-repeat center center; }
.header-social-icons .tw{ background:url(images/icon-tw.png) no-repeat center center; }
.header-social-icons .gp{ background:url(images/icon-gp.png) no-repeat center center;}
.header-social-icons .in{ background:url(images/icon-in.png) no-repeat center center;}

.phoneno{ margin-right:20px;}

/* = Services section css
-------------------------------------------------------------- */
.last_column{clear:right; margin-right:0 !important; }

/* = section first css
-------------------------------------------------------------- */
#pagearea{ padding:0 0 40px; margin-top:-110px; position:relative; z-index:999;}
.threebox{ color:#fff; width:33.3%; float:left; margin:0; padding:35px; position:relative; box-sizing:border-box; min-height:230px;}
.threebox p{ margin-bottom:20px; line-height:20px; }
.threebox h3{ font-size:22px; font-weight:600; color:#fff; margin:0 0 20px; text-transform:uppercase;}
.threebox h3 a{ color:#fff;}
.threebox .thumbbx { width:214px; height:214px; margin:0 auto 30px; overflow:hidden; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; }
.threebox .thumbbx img{ width: 100%; height:auto; min-height:214px;  }
.threebox.box1{ background-color:#fff; color:#000;}
.threebox.box1 h3 a{ color:#000;}
.threebox.box2{ background-color:#11bcf4;}
.threebox.box3{ background-color:#4fd2fd;}

.threebox a.ReadMore{ background-color:#fff; color:#333;}
.threebox a.ReadMore:hover{ background-color:#333 !important; color:#fff !important;}

.threebox.box1 a.ReadMore{background-color:#333 !important; color:#fff !important; }
.threebox.box1 a.ReadMore:hover{background-color:#00c0ff !important; color:#fff !important; }

a.ReadMore{ font:400 12px/22px 'Roboto', sans-serif; background-color:#424242; padding:6px 15px; color: #fff; display:inline-block; }
a.ReadMore:hover{background-color:#00c0ff; color:#fff; }

/* = social icons css
-------------------------------------------------------------- */
.social-icons a{ width:35px; height:35px; line-height:35px; text-align:center;  vertical-align:middle; display:inline-block; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s;  margin:0; padding:0; background-color:#000 !important; }
.social-icons br{ display:none;}
.social-icons a:hover{ background-color:#00c0ff; color:#00c0ff;}
.social-icons .fb{ background:url(images/icon-fb.png) no-repeat center center; }
.social-icons .tw{ background:url(images/icon-tw.png) no-repeat center center; }
.social-icons .gp{ background:url(images/icon-gp.png) no-repeat center center;}
.social-icons .in{ background:url(images/icon-in.png) no-repeat center center;}

/* = Page lay out css
-------------------------------------------------------------- */
.site-main{ width:790px; margin:0; padding:0; float:left;}
#sitefull{ width:100%; float:none;}
#sitefull p{ margin-bottom:15px;}
.page_content{ padding:25px 0;}
.page_content p{ margin-bottom:20px; line-height:20px;}

.blog_lists{ margin:0 0 25px 0; background-color:#fff; padding:25px; border-bottom:1px solid #f7f7f7;  }
.blog_lists h4{ margin-bottom:6px;}
.blog_lists h4 a{ color:#484f5e;}
.blog_lists h4 a:hover{ color:#00c0ff;}
.blog_lists p{ margin-bottom:15px;}
.blog-meta{ font-style:italic; margin-bottom:8px;}
.post-date, .post-comment, .post-categories{ display:inline; color:#000000;} 
.single_title{ margin-bottom:5px;}
.BlogPosts{ width:31.2%; float:left; margin:0 3% 0 0;}
.BlogPosts img{ width:100%;}
.BlogPosts h2{ margin:10px 0; font-size:22px; }
.post-thumb{ width:35%; float:left; margin:5px 25px 5px 0; height:185px; overflow:hidden;}
.post-thumb img{ width:100%;}

/* = sidebar
-------------------------------------------------------------- */
#sidebar{ width:330px; float:right;}
aside.widget{margin-bottom:30px; background-color:#f6f4f4; padding:20px; border:1px solid #edecec;}
aside.widget ul{ list-style:disc; }
h3.widget-title{ background-color:#00c0ff; padding:12px 15px; margin-bottom:1px; color:#fff;}
#sidebar ul li{ list-style:inside none disc; border-bottom:1px dashed #d0cfcf; padding:8px 0;}
#sidebar ul li a{ padding:0 0 0 10px; color:#3b3b3b;  display:inline-block; }
#sidebar ul li a:hover{ color:#34c6f6;}
#sidebar ul li:last-child{ border:none;}

.fullwidth{ width:100%; float:none;}

/* = Footer Social css
-------------------------------------------------------------- */
.footerinfo { font:400 16px/18px 'Roboto'; display:inline-block; }
.footerinfo .fa{ margin-right:8px;}
.footerinfo span{ margin-left:35px;}
.footerinfo a{ color:#777777;}

#footersocial .left a{ color:#9a9a9a;  background:url(images/footer-icon-email.png) no-repeat 15px 4px; }
#footersocial .left a:hover{ color:#ffffff; }
#footersocial .left span{ line-height:22px; background:url(images/footer-icon-phone.png) no-repeat 0 6px; }


/* = Footer css
-------------------------------------------------------------- */
#footer-wrapper{background-color:#000; position:relative; color:#ffffff;}
.footer{ padding:50px 0 20px;}
.cols-3{width:28%; float:left; margin:0 8% 2% 0; box-sizing:border-box; }
.widget-column-3 { margin-right:0px !important;}
.cols-3 h5{ font-weight:600; font-size:26px; color:#fff; margin-bottom:30px; text-transform:uppercase; }
.cols-3 h5 span{ font-weight:300;}
.cols-3 ul{ margin:0; padding:0; list-style:inside disc;}
.cols-3 ul li { display:block; padding:0;}
.cols-3 ul li a { color:#b8b6b6; background:url(images/list-arrow.png) no-repeat 0 8px; padding:3px 0 3px 20px; display:block;}
.cols-3 ul li a:hover, .cols-3 ul li.current_page_item a { color:#dd5145; }

.cols-3 p{ margin-bottom:15px;}
.phone-no{ margin:0 0 20px; line-height:22px;}
.phone-no a{color:#d6d6d6;}
.phone-no a:hover{color:#d6d6d6;}
.phone-no strong { display:inline-block; color:#00c0ff;}
.phone-no img{ margin:5px 15px 0 0; float:left;}
.cols-3 .phone-no p{ margin-bottom:5px;}
.cols-3 .phone-no p span{ color:#0cb4e5; width:70px; display:inline-block;}


.copyright-wrapper {  background-color:#101010; color:#fff; position:relative; padding:15px 0;}
.copyright-txt { float:left;}
.copyright-txt span{color:#00c0ff;}
.design-by { float:right;}
.design-by a:hover { color:#fff;}
.recent-post{ min-height:70px; margin:0 0 25px 0; padding-bottom:25px; border-bottom:1px dashed #3b3b3b; }
.recent-post h6{ font-size:13px; margin-bottom:6px; display:block; text-transform:uppercase;}
.recent-post h6 a{ color:#b8b6b6;}
.recent-post h6 a:hover{ color:#00c0ff;}
.recent-post .footerthumb{ width:65px; height:55px; overflow:hidden;float:left;margin:4px 15px 5px 0; }
.recent-post .footerthumb img{  width:100%; height:auto; min-height:55px; border:3px solid #4c4b4b; -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
.recent-post p{ margin-bottom:5px;}
.recent-post .morebtn{ color:#0cb4e5; font-size:11px;}
.recent-post .morebtn:hover{ color:#fff;}
.recent-post:last-child{ border-bottom:none; margin-bottom:0; padding-bottom:0;}

/* Buttons */
.button{ background-color:#ff6565; border-bottom:4px solid #e44545; color:#fff; padding:8px 20px; display:inline-block; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; -ms-border-radius:2px; }
.button:hover{background-color:#34c6f6; border-color:#1898c2; color:#fff;}

.siteaddress{ margin-bottom:50px;}

/* woocommerce CSS
================================================*/
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Roboto',san-serif; color:#ff8a00;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Roboto',san-serif; color:#ff6d84;}
.woocommerce ul.products li, #payment ul.payment_methods li{ list-style:none !important;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{ border-bottom:0px !important}
#wp-calendar{ width:100%;}

input.search-field, .post-password-form input[type=password]{border:1px #eee solid; padding:8px 15px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
input.search-submit, .post-password-form input[type=submit], .wpcf7-form input[type=submit]{border:none; color:#ffffff; padding:8px 15px; cursor:pointer; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background-color:#00c0ff;}

/* Text meant only for screen readers. */
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px);position: absolute !important;	height: 1px;width: 1px;	overflow: hidden;}
.screen-reader-text:focus {	background-color: #f1f1f1;	border-radius: 3px;	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);	clip: auto !important;	color: #21759b;	display: block;
	font-size: 14px;font-size: 0.875rem;font-weight: bold;	height: auto;left: 5px;	line-height: normal;padding: 15px 23px 14px;text-decoration: none;	top: 5px;	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/* ============= Contact Page =========== */
.wpcf7{ margin:30px 0 0; padding:0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"]{ width:40%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:35px; padding:0 15px; color:#797979; margin-bottom:0;}
.wpcf7 textarea{width:60%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:150px; color:#797979; margin-bottom:25px; font:12px arial; padding:10px; padding-right:0;}
.wpcf7 input[type="submit"]{background-color:#00c0ff; width:auto; border:none; cursor:pointer; font:18px 'Roboto',san-serif; color:#ffffff; padding:10px 40px; border-radius:3px;}	

/* ============= Comment Form ============ */
h1.screen-reader-text{font:22px 'Roboto',san-serif;}
.site-nav-previous, .nav-previous{ float:left;}
.site-nav-next, .nav-next{ float:right;}
h3#reply-title{font:300 18px 'Roboto',san-serif;}
#comments{ margin:30px 0 0; padding:0;}
nav#nav-below{ margin-top:15px;}
.slider-wrapper{ background:url(images/loading.gif) no-repeat center center #fff; min-height:500px;}

.wp-caption{margin-bottom: 1.75em; max-width: 100%;}
.wp-caption-text{font-style:italic;}

aside select{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
aside select option{width:268px; text-overflow:ellipsis; overflow:hidden;}