/*
Theme Name: Idoneita
Author: Stefan C.
Theme URI: https://www.pwtthemes.com/theme/idoneita-free-responsive-wordpress-theme
Author URI: http://www.stefanciobanu.com
Description: Idoneita is a great looking modern free responsive WordPress theme that is perfect for a fitness club, as well as other various business. Idoneita designed theme comes with easy to manage theme options in customizer.
Version: 1.0.6
Tags: entertainment, one-column, two-columns, right-sidebar, grid-layout, footer-widgets, custom-menu, custom-background, editor-style, featured-images, full-width-template, theme-options, threaded-comments, translation-ready
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain:  idoneita 
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
html {
width: 100%;
font-size: 100%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}
body {
font: normal 400 13px/1 'OpenSansRegular', Arial, sans-serif;
word-wrap: break-word;
}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { 
display: block;
}
ol {
list-style: inside none decimal;
}
ul {
list-style: inside none disc;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
content: '';
content: none;
}
blockquote {
background: none repeat scroll 0 0 #EEEEEE;
border-left: 5px solid #13bae2;
font-style: italic;
margin: 10px 0;
padding: 10px 15px 5px;
quotes: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
border-bottom: 1px solid #13bae2;
margin: 15px 0;	
width:100%;
}
td {
border: 1px solid #13bae2;
padding: 10px;
}
th {
background: none repeat scroll 0 0 #13bae2;
border: 1px solid #13bae2;
color: #FFFFFF;
font-weight: bold;
padding: 10px;
text-transform: uppercase;
}
th a {
color: #FFFFFF;
}
cite, em, i {
font-style: italic;
}
pre, code, kbd {
background-color: #EEEEEE;
font-family: monospace;
font-size: 13px;
line-height: 20px;
}
pre {
padding: 18px;
overflow: auto;	
white-space:pre-wrap;
margin: 10px 0;	
}
ins {
background: none repeat scroll 0 0 #EEEEEE;
}
dt {
font-weight: bold;
line-height: 1.4;
}

dd {
margin-bottom: 20px;
line-height: 1.4;
}
address {
margin: 0 0 15px;
display: block;	
line-height: 20px;	
}
abbr, acronym, dfn {
border-bottom: 1px dotted #13bae2;
cursor: help;
}
sup, sub {
font-size: 10px;
height: 0;
line-height: 1;
position: relative;
vertical-align: baseline;
}
sub {
top: 2px;
}
embed, iframe, object {
max-width: 100%;
}
figure {
display: inline-block;
padding: 10px;
text-align: center;
width: 22%;
}
a {
margin: 0;
padding: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
max-width: 100%;
text-decoration: none;
}
/* change colours to suit your needs */
ins {
background-color: #ff9;
color: #000;
text-decoration: none;
}
/* change colours to suit your needs */
mark {
background-color: #ff9;
color: #000; 
font-style: italic;
font-weight: bold;
}
del {
text-decoration: line-through;
}
abbr[title], dfn[title] {
border-bottom: 1px dotted;
cursor: help;
}
table {
border-collapse: collapse;
border-spacing: 0;
width: 100%;
}
/* change border colour to suit your needs */
hr {
display: block;
height: 6px;
border: 0 none;   
margin: 0;
padding: 0;
background: url('assets/images/separe.png') repeat-x 0 50% transparent;
}
input, select {
vertical-align: middle;
}
a:focus, input:focus, select:focus, textarea:focus {
outline: 0;
}
img{
max-width: 100%;
border: 0;
height:auto;
height:auto;
-ms-interpolation-mode: bicubic;
}
input, textarea {
-webkit-appearance: none;
-moz-border-radius: 0px;							/* Mozila Firefox border radius */
-webkit-border-radius: 0px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 0px;	   						/* KHTML border radius */
-icab-border-radius: 0px;	   						/* icab border radius */
border-radius: 0px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 0px;
-o-border-radius: 0px;
-border-radius: 0px;
}
audio {
max-width: 100%;
}
@-ms-viewport{
width: device-width;
}

/**  grid system  **/
.clear {
display: block;
width: 100%;
height: 0px;
clear: both;
overflow: hidden;
visibility: hidden;
font: 400 0px/0px Arial;
}
.clear, .wrapper, .clearfix, .column-container, .gutter, .meta, .button-container, p.form-submit, .comment-body {
*zoom: 1;
}
.clearfix:before, .clearfix:after, .column-container:before, .column-container:after, .meta:before, .meta:after, .button-container:before, .button-container:after, p.form-submit:before, p.form-submit:after, .comment-body:before, .comment-body:after {
content: '';
display: block;
width: 100%;
height: 0px;
overflow: hidden;
visibility: hidden;
text-indent: -99999px;
}
.clearfix:after, .column-container:after, .meta:after, .button-container:after, p.form-submit:after, .comment-body:after {
clear: both;
}
.wrapper {
overflow: hidden;
}
.container {
margin: 0 auto;
width: 980px;
}
.gutter {
margin-left: 10px;
margin-right: 10px;
}
.fullwidth {
display: block;
width: 100%;
}
.column-container .column-1-12,
.column-container .column-2-12,
.column-container .column-1-5,
.column-container .column-3-12,
.column-container .column-4-12,
.column-container .column-5-12,
.column-container .column-6-12,
.column-container .column-7-12,
.column-container .column-8-12,
.column-container .column-9-12,
.column-container .column-10-12,
.column-container .column-11-12,
.column-container .column-12-12 {
float: left;
}
.column-1-12 {
width: 8.333333333333333%;
}
.column-2-12 {
width: 16.66666666666667%;
}
.column-1-5 {
width: 20%;
}
.column-3-12 {
width: 25%;
}
.column-4-12 {
width: 33.33333333333333%;
*width: 33.319%;
}
.column-5-12 {
width: 41.66666666666667%;
}
.column-6-12 {
width: 50%;
}
.column-7-12 {
width: 58.33333333333333%;
}
.column-8-12 {
width: 66.66666666666667%;
}
.column-9-12 {
width: 75%;
}
.column-10-12 {
width: 83.33333333333333%;
}
.column-11-12 {
width: 91.66666666666667%;
}
.column-12-12 {
width: 100%;
}
.left, .column-container .left {
float: left;
}
.right, .column-container .right {
float: right;
}

/**  theme colors  **/
	/**  white  **/
.color-white, .social a, .menu-top .current-menu-item a, .menu-top .current_page_item a, .menu-top .current-menu-item a:hover, .menu-top .current_page_item a:hover, .menu-top .current-menu-item a.hover, .menu-top .current_page_item a.hover, .menu-top .sub-menu a:hover, .menu-top .children a:hover, .menu-top .sub-menu a.hover, .menu-top .children a.hover, .menu-top-mob a, .menu-top-mob a:hover, .button:hover, .button-large:hover, .events-carousel .button, .events-carousel .button-large, .wpcf7-submit, #submit, #searchsubmit, .section-themedescr .section-title, .section-themedescr .section-title h4, .section-page-title, .section-page-title h4, .section-themedescr .section-title h4 span, .article-icon .fa:hover, .events-carousel, .posted-rounded, .posted-rounded:hover, .copyright-block {
color: #ffffff;
}
.border-white {
border-color: #ffffff;
}
.bg-white, html, body, .social a:hover, .icon-menu, .icon-menu:hover, .menu-top .sub-menu a, .menu-top .children a, .menu-top .current-menu-item .sub-menu a, .menu-top .current-menu-item .children a, .menu-top .current_page_item .sub-menu a, .menu-top .current_page_item .children a, .owl-theme .owl-controls .owl-buttons div, .article-image .fa:before, .article-icon .fa, .upcoming-event, .footer h3, .button, .button-large, .events-carousel .button:hover, .events-carousel .button-large:hover, .article-news, .trainer-skills, .wpcf7-text, .wpcf7-textarea, input#author, input#email, input#url, textarea#comment, .searchform {
background-color: #ffffff;
}
	/**  gray  **/
.color-gray, body, html, .article-themedescr p a {
color: #8e8a8a;
}
h1, h1 a, h1 a:hover, .menu-top a {
color: #5f5c5c;
}
h4, h2, h2 a, .comments h3, .info-block-label, .comment-body .fn {
color: #5b5a5a;
}
.previewtheme h4, .wpcf7-text, .wpcf7-textarea, input#author, input#email, input#url, textarea#comment, input#s, .reply, .reply a {
color: #2a2a2a;
}
.wpcf7-form-control-wrap {
display: block;
margin: 10px 0 20px;
}
.wpcf7-submit {
display: inline-block !important;
}
.wpcf7-response-output {
border: medium none !important;
margin: 20px 0 !important;
padding: 0 !important;
text-align:center;
}
a:hover {
color: #313131;
}
.menu-top .sub-menu a, .menu-top .children a {
color: #b6b1b1;
}
.footer, .footer a, .footer .copyright-block a:hover, .copyright-block a:hover {
color: #9c9b9b;
}
.meta, .meta a {
color: #6e6e6e;
}
.sidebar-container, .sidebar-container a {
color: #9e9d9d;
}
.border-gray {
border-color: #8e8a8a;
}
.upcoming-event {
border-color: #d0cfcf;
}
.bg-gray {
background-color: #8e8a8a;
}
.previewtheme-carousel, .section-themedescr .section-title {
background-color: #2c2c2c;
}
.section-recent-news, .section-whats-new, .section-contact-info, .meta {
background-color: #eaeaea;
}
.section-page-title {
background-color: #5f5c5c;
}
.footer {
background-color: #e5e5e5;
}
.copyright-block {
background-color: #313131;
}
.owl-theme .owl-controls .owl-page span {
background-color: #909090;
}
.owl-theme .owl-controls .owl-page span:hover, .owl-theme .owl-controls.clickable .owl-page:hover span {
background-color: #7e7e7e;
}
.button:hover, .button-large:hover, .events-carousel .button, .events-carousel .button-large, .events-container .left {
background-color: #2b2b2b;
}
	/**  main blue  **/
.color-main, a, .button, .button-large, .icon-menu, .icon-menu:hover, .events-carousel .button:hover, .events-carousel .button-large:hover, h1 span, h1 a span, h1 a:hover span, h2 a:hover, .footer h3, h4 span, .social a:hover, .menu-top a:hover, .menu-top a.hover, .owl-theme .owl-controls .owl-buttons div, .section-title:after, .article-image .fa, .article-image .fa:hover, .article-icon .fa, .meta a:hover, .article-info-block .fa, .trainer-exp, .trainer-skills li:before, .sidebar-container a:hover, .sidebar-container ul li a:before, .sidebar-container ol li a:before, .menu-sidebar li a:before, .article-themedescr p a:hover, .reply a:hover, .footer a:hover, .copyright-block a {
color: #13bae2;
}
.border-main, .button, .button-large, .icon-menu, .icon-menu:hover, .icons-theme, .article-icon .fa, .article-blog .article-image, .single-post .article-image, .article-service .article-image, .footer h3, .footer h3:before {
border-color: #13bae2;
}
.article-icon .fa:hover, .menu-top-mob li {
border-color: #18a1c2;
}
.bg-main, .social-bar, .header .social-bar:after, .menu-top .current-menu-item a, .menu-top .current_page_item a, .menu-top .sub-menu a:hover, .menu-top .children a:hover, .menu-top .sub-menu a.hover, .menu-top .children a.hover, .menu-top .current-menu-item .sub-menu a:hover, .menu-top .current-menu-item .children a:hover, .menu-top .current_page_item .sub-menu a:hover, .menu-top .current_page_item .children a:hover, .menu-top .current_page_item .children a:hover, .menu-top .current-menu-item .sub-menu a.hover, .menu-top .current-menu-item .children a.hover, .menu-top .current_page_item .sub-menu a.hover, .menu-top .current_page_item .children a.hover, .menu-top-mob a, .menu-top-mob a:hover, .owl-theme .owl-controls .owl-page.active span, .icons-theme a, .article-icon .fa:hover, .posted-rounded, .wpcf7-submit, #submit, #searchsubmit {
background-color: #13bae2;
}
.bg-main-dark, .social a, .menu-top .current-menu-item a:hover, .menu-top .current_page_item a:hover, .menu-top .current-menu-item a.hover, .menu-top .current_page_item a.hover, .owl-theme .owl-controls .owl-page.active span:hover, .icons-theme a:before, .events-carousel, .posted-rounded:hover, .wpcf7-submit:hover, #submit:hover, #searchsubmit:hover {
background-color: #18a1c2;
}

/**  fonts  **/
@font-face {
    font-family: 'OpenSansRegular';
    src: url('assets/css/fonts/OpenSans-Regular-webfont.eot');
    src: url('assets/css/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/css/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('assets/css/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('assets/css/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('assets/css/fonts/OpenSans-Bold-webfont.eot');
    src: url('assets/css/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/css/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('assets/css/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('assets/css/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**  typography  **/
p, .sidebar-container, .footer {
line-height: 1.5;
}
.bold, b {
font-weight: bold;
}
.italic, i {
font-style: italic;
}
.text-left {
text-align: left;
}
.text-center {
text-align: center;
}
.text-right {
text-align: right;
}
	/**  h1-h6  **/
h1, .article-whats-new h2, .article-trainer h2, h3, h4, h5, h6 {
font-weight: normal;
}
h1 {
font-family: 'OpenSansBold';
font-size: 25px;
line-height: 30px;
text-transform: uppercase;
}
h2 {
font-family: Arial, sans-serif;
font-size: 20px;
line-height: 1;
font-weight: 700;
margin-bottom: 13px;
}
.article-news h2 {
font-size: 15px;
}
.article-whats-new h2 {
font-size: 30px;
}
.article-trainer h2 {
font-size: 13px;
font-weight: bold;
margin: 20px 0 12px;
text-transform: uppercase;
}
h3 {
font-family: Arial, sans-serif;
font-size: 20px;
line-height: 1;
text-transform: uppercase;
margin-bottom: 15px;
}
.comments h3 {
font-size: 13px;
font-weight: 700;
margin-bottom: 25px;
}
.sidebar-container h3 {
padding-bottom: 20px;
background: url('assets/images/separe.png') repeat-x 0 100%;
font-size:18px;
}
.footer h3 {
font-size: 15px;
font-weight: 700;
line-height: 20px;
padding: 8px 8px 8px 10px;
border-width: 1px;
border-left-width: 4px;
border-style: solid;
position: relative;
margin-bottom: 40px;
}
.footer h3:before {
content: '';
display: block;
width: 0px;
height: 0px;
border-width: 0px;
border-right: 0 none;
border-style: solid;
border-top-color: transparent;
border-bottom-color: transparent;
position: absolute;
left: 0;
top: 50%;
margin-top: -8px;
}
h4 {
font-family: Arial, sans-serif;
font-size: 30px;
line-height: 1;
}
.section-page-title h4 {
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
}
.previewtheme h4 {
font-family: 'OpenSansRegular';
font-size: 38px;
text-transform: uppercase;
margin-bottom: 10px;
}
.previewtheme h4 span {
font-family: Arial, sans-serfi;
font-size: 40px;
font-weight: 700;
display: block;
}
.section-themedescr .section-title h4 {
font-family: 'OpenSansRegular';
font-size: 25px;
}
.section-themedescr .section-title h4 span {
font-family: 'OpenSansBold';
}
h5 {}
h6 {}

/**  general  **/
nav ol, nav ul, .header ol, .header ul, .social, .footer ol, .footer ul, .footer .widget ul, .menu-sidebar, .icons-theme, .trainer-skills, .sidebar-container ul, .sidebar-container ol, .commentlist  {
list-style: outside none;
}
h2 a, .menu-top a, .social a, .menu-sidebar a, .footer .widget ul a, .copyright-block a, .button, .button-large, .article-icon .fa, .meta a, .article-text a, .learn-more, .pagination-container a, .icon-prev, .icon-next, .meta-table a, .posted-rounded, .article-themedescr p a, .wpcf7-submit, #submit, #searchsubmit, .comment-body a {
-webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-ms-transition: all .1s linear;
-o-transition: all .1s linear;
transition: all .1s linear;
}

/**  forms  **/
.wpcf7-form, .comment-form , .comment-form p {
line-height: 1.2;
}
.wpcf7-form .outerwrapp{
padding:0 11px;
overflow:hidden;
*zoom:1;
_padding:0;
}
.wpcf7-form .innerwrapp{
position:relative;
left:-11px;
_left:0
}
.wpcf7-form .label, .comment-form p {
margin-bottom: 15px;
}
.wpcf7-form .label label, .comment-form p label {
display: block;
margin-bottom: 5px;
}
.wpcf7-text, .wpcf7-textarea, input#author, input#email, input#url, textarea#comment {
_padding:6px 0;
_width:99%
}
.wpcf7-form, .wpcf7-text, .wpcf7-textarea, input#author, input#email, input#url, textarea#comment {
font-family: 'OpenSansRegular';
}
.wpcf7-text, .wpcf7-textarea, input#author, input#email, input#url, textarea#comment {
font-size:14px;
line-height:18px;
display:block;
border: 1px solid #c8c4c4;
width:100%;
padding: 9px 10px;
}
.wpcf7-text, input#author, input#email, input#url {
height:18px;
}
.wpcf7-textarea, textarea#comment {
height:198px;
resize: none;
overflow:auto;
}
.wpcf7-form .button-container .wpcf7-submit {
float: right;
}
	/**  comment-form  **/
.comment-form p {
margin-right: 22px;
}
.comment-form p.comment-form-author,
.comment-form p.comment-form-email,
.comment-form p.comment-form-url {
width: 50%;
}
.comment-form p.form-submit {
margin: 0;
}
	/**  searchform  **/
.searchform {
text-align: left;
position: relative;
overflow: hidden;
border: 1px solid #d4d4d4;
padding: 4px 65px 4px 10px;
}
.searchform div {
position: absolute;
top: 4px;
bottom: 4px;
left: 10px;
right: 65px;
}
.searchform, .searchform label, .searchform #s, .searchform #searchsubmit {
font-family: 'OpenSansRegular';
font-size: 13px;
}
.searchform, .searchform label, .searchform #s {
line-height: 17px;
height: 17px;
}
.searchform div label, .searchform div #s {
display: block;
margin: 0;
padding: 0;
border: 0 none;
background: transparent;
position: absolute;
top: 0px;
left: 0px;
bottom: 0px;
width: 100%;
}
.searchform #searchsubmit {
position: absolute;
top: -4px;
right: -65px;
bottom: -4px;
height: 25px;
}

/**  buttons  **/
.button, .button-large {
font-family: Arial, sans-serif;
font-size: 14px;
text-align: center;
overflow: hidden;
display: block;
border-width: 1px;
border-style: solid;
margin: 0;
padding: 0;
cursor: pointer;
}
.button {
width: 120px;
height: 32px;
-moz-border-radius: 17px;							/* Mozila Firefox border radius */
-webkit-border-radius: 17px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 17px;	   						/* KHTML border radius */
-icab-border-radius: 17px;	   						/* icab border radius */
border-radius: 17px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 17px;
-o-border-radius: 17px;
-border-radius: 17px;
}
.button-large {
width: 200px;
height: 44px;
-moz-border-radius: 23px;							/* Mozila Firefox border radius */
-webkit-border-radius: 23px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 23px;	   						/* KHTML border radius */
-icab-border-radius: 23px;	   						/* icab border radius */
border-radius: 23px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 23px;
-o-border-radius: 23px;
-border-radius: 23px;
}
a.button {
line-height: 32px;
}
input.button, button.button {
height: 34px;
width: 122px;
}
a.button-large {
line-height: 44px;
}
input.button-large, button.button-large {
height: 46px;
width: 202px;
}
.wpcf7-submit, #submit {
font-family: 'OpenSansBold';
font-size: 13px;
text-transform: uppercase;
text-align: center;
border: 0 none;
display: block;
width: 150px;
cursor: pointer;
}
a.wpcf7-submit, a#submit {
line-height: 47px;
}
input.wpcf7-submit, button.wpcf7-submit, input#submit, button#submit {
height: 47px;
}
#searchsubmit {
font-family: 'OpenSansRegular';
font-size: 13px;
display: block;
margin: 0;
padding: 0;
border: 0 none;
text-align: center;
width: 55px;
height: 25px;
cursor: pointer;
}
.learn-more:after {
font-family: 'FontAwesome';
content: "\f101";
margin-left: 5px;
}

/**  comments  **/
.commentlist {
margin-bottom: 40px;
}
.commentlist .comment {
list-style:none;	
}
.commentlist .comment article {	
margin-bottom: 40px;
}
.comment-body {
position: relative;
}
.comment-body, .comment-body {
line-height: 1.4;
}
.comment-body, .comment-body .comment-meta, .comment-body .comment-meta a, .comment-body .comment-meta a:hover {
color: #b9b9b9;
}
.comment-body .comment-author img, .comment-body img.avatar {
float: left;
}
.comment-respond {
margin-top:20px;	
}
.comment-author img, img.avatar {
display: block;
width: 48px;
margin-right:17px;
height: 48px;
-moz-border-radius: 24px;							/* Mozila Firefox border radius */
-webkit-border-radius: 24px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 24px;	   						/* KHTML border radius */
-icab-border-radius: 24px;	   						/* icab border radius */
border-radius: 24px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 24px;
-o-border-radius: 24px;
-border-radius: 24px;
overflow: hidden;
}
.comment-body .says {
display: none;
}
.comment-body .fn,
.comment-body .comment-meta,
.comment-body p {
font-family: 'OpenSansRegular';
font-weight: normal;
font-style: normal;
display: block;
padding-left: 0px;
}
.comment-body .fn,
.comment-body .comment-meta {
padding-right: 65px;
}
.comment-body .comment-meta {
margin-bottom: 7px;
}
.comment-body .reply {
position: absolute;
top: 0;
right: 0;
}

/**  widgets  **/
.sidebar-container .widget {
margin-bottom: 40px;
}
.sidebar-container .widget:last-child {
margin-bottom: 0;
}
.sidebar-container .widget.last-child {
margin-bottom: 0;
}
.sidebar-container ul, .sidebar-container ol, .menu-sidebar {
line-height: 1.2;
}
.sidebar-container ul li, .sidebar-container ol li, .menu-sidebar li {
position: relative;
padding-left: 20px;
}
.sidebar-container ul li a, .sidebar-container ol li a, .menu-sidebar li a {
display: inline-block;
padding: 0 0 10px;
}
.sidebar-container ul li a:before, .sidebar-container ol li a:before, .menu-sidebar li a:before {
font-family: 'FontAwesome';
content: "\f178";
line-height: 14px;
position: absolute;
left: 0;
top: 2px;
}
	/**  text-box  **/
.text-box p {
margin-bottom: 10px;
}
.textwidget p {
margin-bottom: 10px;
}
	/**  menu-footer  **/
.footer .widget li {
position: relative;
padding-left: 15px;
border-top-width: 1px;
border-top-style: solid;
}
.footer .widget li a {
display: inline-block;
padding-bottom: 4px;
padding-top: 4px;
}
.footer .widget li:first-child {
border-top: 0 none;
}
.footer .widget li.first-child {
border-top:  none;
}
.footer .widget li ul li:first-child {
border-top: 1px solid;
}
.footer .widget li ul li.first-child {
border-top: 1px solid;
}
.footer .widget li a:before {
font-family: 'FontAwesome';
font-size: 14px;
line-height: 14px;
content: "\f105";
position: absolute;
left: 3px;
top: 6px;
}
	/**  upcoming-events  **/
.upcoming-event {
text-align: left;
border-width: 1px;
border-style: solid;
margin-bottom: 10px;
padding: 7px;
}
.upcoming-event .article-image {
width: 58px;
float: left;
}
.upcoming-event .article-text {
padding-left: 65px;
}

/**  carousel  **/
.previewtheme-carousel .owl-controls .owl-pagination {
margin-top: 0;
position: absolute;
left: 0;
right: 0;
bottom: 50px;
}
	/**  previewtheme-carousel  **/
.previewtheme-carousel .item {
padding-top: 150px;
padding-bottom: 125px;
background-position: 50% 0;
background-repeat: no-repeat;
background-size: cover;
}
.icons-theme {
border-top-width: 1px;
border-bottom-width: 1px;
border-style: solid;
padding-top: 7px;
padding-bottom: 7px;
display: table;
}
.icons-theme li {
display: table-cell;
width: 80px;
}
.icons-theme a, .icons-theme img {
display: block;
width: 38px;
height: 38px;
}
.icons-theme a, .icons-theme a:before {
-moz-border-radius: 34px;							/* Mozila Firefox border radius */
-webkit-border-radius: 34px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 34px;	   						/* KHTML border radius */
-icab-border-radius: 34px;	   						/* icab border radius */
border-radius: 34px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 34px;
-o-border-radius: 34px;
-border-radius: 34px;
}
.icons-theme a {
margin: 0 auto;
padding: 12px;
border: 3px solid #e3e8e8;
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
position: relative;
overflow: hidden;
-webkit-transition-property: color;
transition-property: color;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
}
.icons-theme a:before {
display: block;
content: "";
position: absolute;
z-index: -1;
top: 0;
left: 0;
right: 0;
bottom: 0;
-webkit-transform: scale(0);
transform: scale(0);
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.icons-theme a:hover:before, .icons-theme a:focus:before, .icons-theme a:active:before {
-webkit-transform: scale(2);
transform: scale(2);
}
.previewtheme .button-container {
clear: both;
padding-top: 17px;
}
.previewtheme.text-left .icons-theme,
.previewtheme.text-left .button,
.previewtheme.text-left .button-large {
float: left;
}
.previewtheme.text-center .icons-theme,
.previewtheme.text-center .button,
.previewtheme.text-center .button-large {
float: none;
margin-left: auto;
margin-right: auto;
}
.previewtheme.text-right .icons-theme,
.previewtheme.text-right .button,
.previewtheme.text-right .button-large {
float: right;
}

.previewtheme-carousel h4,
.previewtheme-carousel .icons-theme,
.previewtheme-carousel .button-large {
position: relative;
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
-webkit-transition: all .7s ease .5s;
-moz-transition: all .7s ease .5s;
-ms-transition: all .7s ease .5s;
-o-transition: all .7s ease .5s;
transition: all .7s ease .5s;
}
.previewtheme-carousel h4 {
-webkit-transition-delay: .6s;
-moz-transition-delay: .6s;
-ms-transition-delay: .6s;
-o-transition-delay: .6s;
transition-delay: .6s;
}
.previewtheme-carousel .icons-theme {
-webkit-transition-delay: 1s;
-moz-transition-delay: 1s;
-ms-transition-delay: 1s;
-o-transition-delay: 1s;
transition-delay: 1s;
}
.previewtheme-carousel .button-large {
-webkit-transition-delay: 1.5s;
-moz-transition-delay: 1.5s;
-ms-transition-delay: 1.5s;
-o-transition-delay: 1.5s;
transition-delay: 1.5s;
}
.previewtheme-carousel .animate-top-down h4,
.previewtheme-carousel .animate-top-down .icons-theme,
.previewtheme-carousel .animate-top-down .button-large {
top: -65px;
top: 0\9;
}
.previewtheme-carousel .animate-top-down h4 {
-webkit-transition-delay: 1.5s;
-moz-transition-delay: 1.5s;
-ms-transition-delay: 1.5s;
-o-transition-delay: 1.5s;
transition-delay: 1.5s;
}
.previewtheme-carousel .animate-top-down .button-large {
-webkit-transition-delay: .6s;
-moz-transition-delay: .6s;
-ms-transition-delay: .6s;
-o-transition-delay: .6s;
transition-delay: .6s;
}
.previewtheme-carousel .animate-down-top h4,
.previewtheme-carousel .animate-down-top .icons-theme,
.previewtheme-carousel .animate-down-top .button-large {
bottom: -65px;
bottom: 0\9;
}
.previewtheme-carousel .animate-left-right h4,
.previewtheme-carousel .animate-left-right .icons-theme,
.previewtheme-carousel .animate-left-right .button-large {
left: -65px;
left: 0\9;
}
.previewtheme-carousel .animate-right-left h4,
.previewtheme-carousel .animate-right-left .icons-theme,
.previewtheme-carousel .animate-right-left .button-large {
right: -65px;
right: 0\9;
}
.previewtheme-carousel .active h4,
.previewtheme-carousel .active .icons-theme,
.previewtheme-carousel .active .button-large {
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
}
.previewtheme-carousel .active .animate-top-down h4,
.previewtheme-carousel .active .animate-top-down .icons-theme,
.previewtheme-carousel .active .animate-top-down .button-large {
top: 0;
}
.previewtheme-carousel .active .animate-down-top h4,
.previewtheme-carousel .active .animate-down-top .icons-theme,
.previewtheme-carousel .active .animate-down-top .button-large {
bottom: 0;
}
.previewtheme-carousel .active .animate-left-right h4,
.previewtheme-carousel .active .animate-left-right .icons-theme,
.previewtheme-carousel .active .animate-left-right .button-large {
left: 0;
}
.previewtheme-carousel .active .animate-right-left h4,
.previewtheme-carousel .active .animate-right-left .icons-theme,
.previewtheme-carousel .active .animate-right-left .button-large {
right: 0;
}
	/**  testimonials-carousel  **/
.testimonials-carousel {}
.testimonial .author-avatar {
float: left;
}
.testimonial .testimonial-text {
padding-left: 100px;
}
.testimonial .testimonial-text, .testimonial p {
line-height: 20px;
}
.author-avatar {
position: relative;
}
.author-avatar, .author-avatar img, .author-avatar .fa, .author-avatar .fa:before {
display: block;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
overflow: hidden;
-moz-border-radius: 40px;							/* Mozila Firefox border radius */
-webkit-border-radius: 40px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 40px;	   						/* KHTML border radius */
-icab-border-radius: 40px;	   						/* icab border radius */
border-radius: 40px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 40px;
-o-border-radius: 40px;
-border-radius: 40px;
}
.author-avatar .fa {
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
-webkit-transition-property: color;
transition-property: color;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
}
.author-avatar .fa, .author-avatar .fa:before {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
.author-avatar .fa:before {
content: '';
background: url('assets/images/overlay-blue.png') repeat 50% 50% transparent;
-webkit-transform: scale(0);
transform: scale(0);
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.author-avatar .fa:hover:before, .author-avatar .fa:focus:before, .author-avatar .fa:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
	/**  events-carousel  **/
.events-carousel, .events-container .left {
background-image: url('assets/images/texture.png');
background-repeat: repeat;
background-position: 0 0;
}
.events-container {
display: table;
height: 120px;
width: 100%;
text-align: center;
}
.events-container .button, .events-container .button-large {
margin-left: auto;
margin-right: auto;
}
.events-container .left, .events-container .right {
display: table-cell;
vertical-align: middle;
float: none;
}
.event-date {
font-size: 14px;
text-transform: uppercase;
line-height: 1.2;
}
.event-date span {
display: block
}
.event-date .large {
font-family: Arial, sans-serif;
font-size: 30px;
}
.event-title {
font-size: 20px;
margin-bottom: 10px;
}

/**  pagination-container  **/
.pagination-container {
margin-top: 50px;
}
.pagination-container, .pagination-container p {
font-size: 14px;
line-height: 1.1;
}
.icon-prev:before, .icon-next:after {
font-family: 'FontAwesome';
}
.icon-prev:before {
content: "\f190";
margin-right: 7px;
}
.icon-next:after {
content: "\f18e";
margin-left: 7px;
}
.pagination-container .left {
text-align: left;
}
.pagination-container .right {
text-align: right;
}

/**  header  **/
.header {
position: relative;
z-index: 13;
padding: 7px 0;
}
	/**  custom-logo-link  **/
.header .custom-logo-link {
float: left;
margin: 11px 20px 11px 0;
}
.custom-logo-link {
white-space: nowrap;
word-wrap: normal;
}
	/**  social  **/
.header .social-bar {
white-space: nowrap;
word-wrap: normal;
float: right;
padding-right: 0;
margin-left: 20px;
position: relative;
-moz-border-radius: 26px 0px 0px 26px;							/* Mozila Firefox border radius */
-webkit-border-radius: 26px 0px 0px 26px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 26px 0px 0px 26px;	   						/* KHTML border radius */
-icab-border-radius: 26px 0px 0px 26px;	   						/* icab border radius */
border-radius: 26px 0px 0px 26px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 26px 0px 0px 26px;
-o-border-radius: 26px 0px 0px 26px;
-border-radius: 26px 0px 0px 26px;
}
.header .social-bar:after {
content: '';
display: block;
width: 2000px;
height: 100%;
position: absolute;
top: 0;
bottom: 0;
left: 100%;
}
.social-bar {
padding: 11px 13px;
-moz-border-radius: 26px;							/* Mozila Firefox border radius */
-webkit-border-radius: 26px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 26px;	   						/* KHTML border radius */
-icab-border-radius: 26px;	   						/* icab border radius */
border-radius: 26px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 26px;
-o-border-radius: 26px;
-border-radius: 26px;
}
.social {
font-family: 'FontAwesome';
font-size: 18px;
}
.social li, .social a {
height: 30px;
width: 30px;
display: inline-block;
vertical-align: middle;
*float: left;
}
.social a {
line-height: 30px;
text-align: center;
-moz-border-radius: 15px;							/* Mozila Firefox border radius */
-webkit-border-radius: 15px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 15px;	   						/* KHTML border radius */
-icab-border-radius: 15px;	   						/* icab border radius */
border-radius: 15px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 15px;
-o-border-radius: 15px;
-border-radius: 15px;
}
	/**  menu  **/
		/**  menu-top  **/
.header .menu-top {
float: right;
padding: 11px 0
}
.menu-top {
font-size: 13px;
line-height: 20px;
text-transform: uppercase;
white-space: nowrap;
word-wrap: normal;
}
.menu-top li, .menu-top a {
-moz-border-radius: 15px;							/* Mozila Firefox border radius */
-webkit-border-radius: 15px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 15px;	   						/* KHTML border radius */
-icab-border-radius: 15px;	   						/* icab border radius */
border-radius: 15px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 15px;
-o-border-radius: 15px;
-border-radius: 15px;
}
.menu-top li {
float: left;
position: relative;
*zoom: 1;
}
.menu-top a {
display: block;
padding: 5px 19px;
}
.menu-top .sub-menu, .menu-top .children  {
white-space: normal;
word-wrap: break-word;
position: absolute;
top: 100%;
left: 0;
padding-top: 18px;
width: 160px;
display: none;
}
.menu-top .sub-menu .sub-menu, .menu-top .children .children {
left: 100%;
top: 0;
padding-top: 0;
}
.menu-top .sub-menu li, .menu-top .sub-menu a, .menu-top .sub-menu li:last-child .sub-menu li, .menu-top .sub-menu li:last-child .sub-menu li a,
.menu-top .children li, .menu-top .children a, .menu-top .children li:last-child .children li, .menu-top .children li:last-child .children li a
 {
-moz-border-radius: 0px;							/* Mozila Firefox border radius */
-webkit-border-radius: 0px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 0px;	   						/* KHTML border radius */
-icab-border-radius: 0px;	   						/* icab border radius */
border-radius: 0px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 0px;
-o-border-radius: 0px;
-border-radius: 0px;
}
.menu-top .sub-menu li, .menu-top .sub-menu a, .menu-top .sub-menu li.last-child .sub-menu li, .menu-top .sub-menu li.last-child .sub-menu li a,
.menu-top .children li, .menu-top .children a, .menu-top .children li.last-child .children li, .menu-top .children li.last-child .children li a
 {
-moz-border-radius: 0px;							/* Mozila Firefox border radius */
-webkit-border-radius: 0px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 0px;	   						/* KHTML border radius */
-icab-border-radius: 0px;	   						/* icab border radius */
border-radius: 0px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 0px;
-o-border-radius: 0px;
-border-radius: 0px;
}
.menu-top .sub-menu li:last-child, .menu-top .sub-menu li:last-child a, .menu-top .sub-menu li:last-child .sub-menu li:last-child, .menu-top .sub-menu li:last-child .sub-menu li:last-child a,
.menu-top .children li:last-child, .menu-top .children li:last-child a, .menu-top .children li:last-child .children li:last-child, .menu-top .children li:last-child .children li:last-child a
 {
-moz-border-radius: 0px 0px 5px 5px;							/* Mozila Firefox border radius */
-webkit-border-radius: 0px 0px 5px 5px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 0px 0px 5px 5px;	   						/* KHTML border radius */
-icab-border-radius: 0px 0px 5px 5px;	   						/* icab border radius */
border-radius: 0px 0px 5px 5px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 0px 0px 5px 5px;
-o-border-radius: 0px 0px 5px 5px;
-border-radius: 0px 0px 5px 5px;
}
.menu-top .sub-menu li.last-child, .menu-top .sub-menu li.last-child a, .menu-top .sub-menu li.last-child .sub-menu li.last-child, .menu-top .sub-menu li.last-child .sub-menu li.last-child a,
.menu-top .children li.last-child, .menu-top .children li.last-child a, .menu-top .children li.last-child .children li.last-child, .menu-top .children li.last-child .children li.last-child a 
 {
-moz-border-radius: 0px 0px 5px 5px;							/* Mozila Firefox border radius */
-webkit-border-radius: 0px 0px 5px 5px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 0px 0px 5px 5px;	   						/* KHTML border radius */
-icab-border-radius: 0px 0px 5px 5px;	   						/* icab border radius */
border-radius: 0px 0px 5px 5px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 0px 0px 5px 5px;
-o-border-radius: 0px 0px 5px 5px;
-border-radius: 0px 0px 5px 5px;
}
.menu-top .sub-menu li, .menu-top .children li  {
float: none;
}
.menu-top .sub-menu a, .menu-top .children a {
padding-top: 9px;
padding-bottom: 9px;
}
		/**  menu-top-mob  **/
.menu-top-mob-container, .menu-top-mob {
text-align: left;
display: none;
}
.menu-top-mob-container {
clear: both;
padding-top: 7px;
position: relative;
}
.icon-menu, .menu-top-mob a {
padding-left: 10px;
padding-right: 10px;
}
.icon-menu {
font-size: 14px;
line-height: 1;
text-transform: uppercase;
text-align: left;
display: block;
padding-top: 7px;
padding-bottom: 7px;
padding-right: 25px;
position: relative;
border-width: 1px;
border-style: solid;
}
.icon-menu:after {
font-family: 'FontAwesome';
font-size: 14px;
line-height: 1;
content: "\f0c9";
position: absolute;
right: 10px;
top: 50%;
margin-top: -7px;
}
.menu-top-mob-container .menu-top-mob {
position: absolute;
top: 100%;
left: 0;
right: 0;
width: 100%;
padding-top: 3px;
}
.menu-top-mob {
font-size: 12px;
line-height: 1.1;
text-transform: uppercase;
}
.menu-top-mob li {
border-top-width: 1px;
border-top-style: solid;
}
.menu-top-mob > li:first-child {
border-top: 0 none;
}
.menu-top-mob > li.first-child {
border-top: 0 none;
}
.menu-top-mob a {
display: block;
padding-top: 7px;
padding-bottom: 7px;
}
.menu-top-mob .sub-menu, .menu-top-mob .children {
text-transform: none;
}
.menu-top-mob .sub-menu a,.menu-top-mob .children a {
padding-left: 20px;
}
.menu-top-mob .sub-menu .sub-menu a, .menu-top-mob .children .children a {
padding-left: 30px;
}


/**  content  **/
.content {}
	/**  sections  **/
.section {
padding-top: 50px;
}
.section, .article-whats-new .article-text {
padding-bottom: 50px;
}
.section-themedescr {
padding-top: 0;
}
.section-whats-new, .section-map, .section-services {
padding-bottom: 0;
}
.section-title, .section-description, .article-blog, .inner-page-container .single-post, .article-service, .section-services hr {
margin-bottom: 50px;
}
.section-title {
text-align: center;
position: relative;
padding-bottom: 50px;
border-bottom: 1px solid #c2c1c1;
}
.section-title:after {
content: '';
display: block;
width: 0px;
height: 0px;
position: absolute;
bottom: -10px;
left: 50%;
margin-left: -15px;
border-width: 15px;
border-style: solid;
border-bottom: 0 none;
border-left-color: transparent;
border-right-color: transparent;
}
		/**  section-page-title  **/
.section-page-title {
padding-top: 25px;
padding-bottom: 25px;
}
		/**  section-themedescr  **/
.section-themedescr .section-title {
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 0 none;
}
.section-themedescr .section-title:after {
display: none;
}
		/**  section-trainers  **/
.section-trainers {
padding-bottom: 25px;
}
		/**  section-map  **/
.map-container {
overflow: hidden;
}
.map-container img, .map-container object, .map-container iframe {
display: block;
width: 100%;
}
.map-container img {
height: auto;
margin: 0 auto;
}
.map-container object, .map-container iframe {
height: 470px;
margin: 0;
}
		/**  section-contact-info  **/
.section-contact-info {}
		/**  section-blog  **/
.blog-container {
background-image: url('assets/images/gray-pixel.png');
background-repeat: repeat-y;
background-position: 75% 50%;
}
.blog-container-left {
background-position: 25% 50%;
}
.section-contact .blog-container {
background-image: none;
}
.blog-container .left .inner-page-container, .blog-container .left .sidebar-container {
margin-right: 40px;
}
.blog-container .right .inner-page-container, .blog-container .right .sidebar-container {
margin-left: 40px;
}
	/**  articles  **/
.article-image {
position: relative;
overflow: hidden;
}
.article-image img {
display: block;
max-width: 100%;
height: auto;
margin: 0;
}
.article-image .fa {
display: none;
position: absolute;
z-index: 1;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
-webkit-transition-property: color;
transition-property: color;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
}
.article-image .fa:before, .article-image .fa:after {
display: block;
-webkit-transform: scale(0);
transform: scale(0);
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.article-image .fa:before {
width: 30px;
height: 30px;
line-height: 30px;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
margin: -15px 0 0 -15px;
-moz-border-radius: 15px;							/* Mozila Firefox border radius */
-webkit-border-radius: 15px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 15px;	   						/* KHTML border radius */
-icab-border-radius: 15px;	   						/* icab border radius */
border-radius: 15px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 15px;
-o-border-radius: 15px;
-border-radius: 15px;
}
.article-image .fa:after {
content: '';
position: absolute;
z-index: -1;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
background: #18a1c2;
opacity:0.3;
}
.article-image .fa:hover:before, .article-image .fa:focus:before, .article-image .fa:active:before,
.article-image .fa:hover:after, .article-image .fa:focus:after, .article-image .fa:active:after {
-webkit-transform: scale(1);
transform: scale(1);
}
.article-icon .fa {
text-align: center;
font-size: 54px;
line-height: 120px;
height: 120px;
width: 120px;
padding: 10px;
display: block;
border-width: 5px;
border-style: solid;
-moz-border-radius: 75px;							/* Mozila Firefox border radius */
-webkit-border-radius: 75px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 75px;	   						/* KHTML border radius */
-icab-border-radius: 75px;	   						/* icab border radius */
border-radius: 75px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 75px;
-o-border-radius: 75px;
-border-radius: 75px;
}
.article-icon .fa:hover {
border-width: 15px;
padding: 0;
}
.meta {
font-family: 'OpenSansRegular';
font-size: 13px;
line-height: 1.2;
display: table;
width: 100%;
}
.meta span.left, .meta span.right {
display: table-cell;
float: none;
padding: 5px 7px;
}
.meta span.left {
text-align: left;
}
.meta span.right {
text-align: right;
}
.tags {
margin:20px 0;	
}
.icon-comment:before {
font-family: 'FontAwesome';
content: "\f075";
margin-right: 5px;
}
		/**  article-blog, single-post  **/
.article-blog .article-info {
width: 80px;
float: left;
text-align: center;
}
a.posted-rounded, a.posted-rounded span {
cursor: pointer;
}
.posted-rounded {
display: block;
width: 80px;
text-align: center;
font-size: 13px;
line-height: 15px;
padding: 15px 0;
-moz-border-radius: 40px;							/* Mozila Firefox border radius */
-webkit-border-radius: 40px;	   						/* Safari, Chrome border radius */
-khtml-border-radius: 40px;	   						/* KHTML border radius */
-icab-border-radius: 40px;	   						/* icab border radius */
border-radius: 40px;		   							/* CSS3 Opera border radius */
-opera-border-radius: 40px;
-o-border-radius: 40px;
-border-radius: 40px;
}
.posted-rounded span {
display: block;
}
.posted-rounded span.large {
font-size: 30px;
line-height: 35px;
}
.article-blog .article-details, .pagination-container {
margin-left: 110px;
}
.article-blog .article-image, .single-post .article-image, .article-service .article-image {
border-bottom-width: 7px;
border-bottom-style: solid;
margin-bottom: 15px;
}
.article-blog .article-text p, .single-post .article-text p, .single-post .meta-table {
margin-bottom: 15px;
}
.meta-table p, .article-blog .article-text .meta-table p, .single-post .article-text .meta-table p {
margin: 0;
}
.meta-table {
display: table;
width: 100%;
border-collapse: collapse;
border-spacing: 0;
}
.meta-table, .meta-table .table-cell {
border: 1px solid #dcdcdc;
}
.meta-table, .meta-table .table-cell.left {
border-left: 0 none;
}
.meta-table, .meta-table .table-cell.right {
border-right: 0 none;
}
.meta-table .table-cell {
display: table-cell;
float: none;
vertical-align: middle;
padding: 10px;
}
.meta-table .table-cell.left {
text-align: left;
padding-left: 0;
}
.meta-table .table-cell.center {
text-align: center;
}
.meta-table .table-cell.right {
text-align: right;
padding-right: 0;
}
		/**  article-themedescr  **/
.article-themedescr {
text-align: center;
}
.article-themedescr .article-icon {
margin-bottom: 25px;
height:150px;
}
.article-themedescr .article-icon .fa {
margin: 0 auto;
}
.article-themedescr .button {
display: inline-block;
margin: 20px 0 0;
}
		/**  article-news  **/
.article-news {
padding: 13px 13px 15px 13px;
}
.article-news .article-image {
margin-bottom: 10px;
}
.article-news h2, .article-news p {
margin-bottom: 5px;
}
.article-news .meta {
margin-bottom: 0;
}
		/**  article-whats-new  **/
.article-whats-new p {
margin-bottom: 5px;
}
.article-whats-new .article-info-block, .article-whats-new .button-container {
margin-top: 25px;
}
.article-info-block p {
margin-bottom: 0;
}
.article-info-block p.info-block-label, .info-block-label {
font-size: 15px;
font-weight: 700;
margin-bottom: 15px;
}
.article-info-block .fa:before {
margin-right: 7px;
}
.article-whats-new .button-container .button, .article-whats-new .button-container .button-large {
float: left;
margin-right: 7px;
}
.article-whats-new .button-container .button:last-child, .article-whats-new .button-container .button-large:last-child {
margin-right: 0px;
}
.article-whats-new .button-container .button.last-child, .article-whats-new .button-container .button-large.last-child {
margin-right: 0px;
}
		/**  article-trainer  **/
.article-trainer {
padding: 10px;
background-color: #eeeef0;
margin-bottom: 25px;
}
.article-trainer .article-image {
margin-bottom: 10px;
}
.article-trainer p, .trainer-exp {
margin-bottom: 10px;
}
.trainer-exp {
line-height: 1.1;
}
.trainer-skills {
padding: 10px;
line-height: 1.2;
}
.trainer-skills li {
margin: 5px;
padding-left: 15px;
position: relative;
}
.trainer-skills li:before {
font-family: 'FontAwesome';
content: "\f138";
font-size: 13px;
line-height: 14px;
height: 16px;
position: absolute;
left: 0;
top: 50%;
margin-top: -7px;
}
.trainer-skills p {
margin-bottom: 0;
}
		/**  article-service  **/
.article-service {
text-align: center;
}

/**  footer  **/
.footer {
clear: both;
*zoom: 1;
}
	/**  footer-block  **/
.footer-block {
padding-top: 40px;
padding-bottom: 10px;
}
.footer-block .widget {
margin-bottom: 40px;
}
	/**  copyright-block  **/
.copyright-block {
padding-top: 15px;
padding-bottom: 15px;
}
.copyright-block .left {
text-align: left;
}
.copyright-block .right {
text-align: right;
}
.menu-top .sub-menu .current-menu-item a , .menu-top .children .current-menu-item a {
color:#ffffff;	
}
.search-form  span {
display:none;	
}
.search-form .search-field {
border: 1px solid #9e9d9d;
float: left;
padding: 5px;
width: 60%;
}
.search-form .search-submit {
background: #999999 none repeat scroll 0 0;
border: 1px solid #9e9d9d;
color: #ffffff;
padding: 4px 10px;
}
.wp-pagenavi {
text-align: right;
}
.wp-pagenavi a, .wp-pagenavi span {
border: 1px solid #bfbfbf;
margin: 2px;
padding: 5px 11px;
text-decoration: none;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: #b7b7b7;
}
.inner-page-container .single-post h1, .inner-page-container .single-post h2, .inner-page-container .single-post h3, .inner-page-container .single-post h4, .inner-page-container .single-post h5, .inner-page-container .single-post h6 {
    color: #505050;
    margin: 15px 0 !important;
	clear: both;
}
.inner-page-container .single-post h1 {
    font-size: 30px;
}
.inner-page-container .single-post h2 {
    font-size: 26px;
}
.inner-page-container .single-post h3 {
    font-size: 22px;
}
.inner-page-container .single-post h4 {
    font-size: 18px;
}
.inner-page-container .single-post h5 {
    font-size: 16px;
}
.inner-page-container .single-post h6 {
    font-size: 14px;
}
.inner-page-container .single-post ul, .inner-page-container .single-post ol {
    margin-bottom: 35px;
}
.su-list {
    float: left;
    margin-right: 100px;
}
.inner-page-container .single-post ul {
    margin-bottom: 0;
    margin-left: 20px;
}
.inner-page-container .single-post ul li {
    line-height: 1.5;
    padding-left: 0px;
}
.inner-page-container .single-post ol {
    margin-bottom: 0;
    margin-left: 20px;
}
.inner-page-container .single-post ol li {
    line-height: 1.6;
    padding-left: 10px;
}
.inner-page-container .single-post img {
    height: auto;
    margin-bottom: 10px;
}
.wp-caption {
    max-width: 100%;
}
.wp-caption .wp-caption-text {
    font-style: italic;
    font-weight: 300;
}
.sticky {
    background-color: #f3f3f3;
    padding: 18px;
}
.gallery-caption {
    font-style: italic;
    font-weight: 300;
}
.bypostauthor {
    display: inline-block;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignleft {
    margin: 5px 20px 5px 0;
}
.wp-caption.alignleft {
    margin: 5px 10px 5px 0;
}
img.alignright {
    margin: 5px 0 5px 20px;
}
.wp-caption.alignright {
    margin: 5px 0 5px 10px;
}
img.aligncenter {
    margin: 5px auto;
}
img.alignnone {
    margin: 5px 0;
}

.screen-reader-text {
clip: rect(1px, 1px, 1px, 1px);
position: absolute !important;
height: 1px;
width: 1px;
overflow: hidden;
}
.screen-reader-text:focus {
background-color: #f1f1f1;
border-radius: 3px;
box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
clip: auto !important;
color: #21759b;
display: block;
font-size: 14px;
font-size: 0.875rem;
font-weight: bold;
height: auto;
left: 5px;
line-height: normal;
padding: 15px 23px 14px;
text-decoration: none;
top: 5px;
width: auto;
z-index: 100000;
}
.pagination .left a {
float:left;	
padding: 5px 23px;
text-transform: uppercase;
width: auto;
}
.pagination .right a {
float:right;
padding: 5px 23px;
text-transform: uppercase;
width: auto;	
}
.footer .widget select, .sidebar-container .widget select {
margin:10px 0;	
width:100%;
padding:5px;
}
.footer .widget table caption, .sidebar-container .widget table caption  {
margin-bottom:10px;
}
.footer .widget table thead, .sidebar-container .widget table thead {
background:#13bae2;
color:#ffffff;
}
.footer .widget table td, .footer .widget table th, .sidebar-container .widget table td, .sidebar-container .widget table th {
padding: 5px;
text-align: center;
}
.footer .widget table #today, .sidebar-container .widget table #today {
color:#13bae2;	
font-weight: bold;
}
.footer .widget .textwidget img, .sidebar-container .widget .textwidget img {
height: auto;
margin: 10px 0;
}


/**  css queries  **/

/**  desktop  **/
@media only screen and (min-width:769px) and (max-width:1024px) {
.container {
width: auto;
margin-left: 15px;
margin-right: 15px;
}
.header .social-bar {
display: none;
}
.menu-top a {
padding-left: 15px;
padding-right: 15px;
}
.article-blog .article-details, .pagination-container {
margin-left: 95px;
}
.blog-container .left .inner-page-container, .blog-container .left .sidebar-container {
margin-right: 15px;
}
.blog-container .right .inner-page-container, .blog-container .right .sidebar-container {
margin-left: 15px;
}
}
/**  tablet  **/
@media only screen and (min-width:481px) and (max-width:768px) {
.container {
width: auto;
margin-left: 10px;
margin-right: 10px;
}
.menu-top-container, .owl-theme .owl-controls .owl-buttons {
display: none;
}
.menu-top-mob-container {
display: block;
}
.footer-block .column-container .column-3-12, .copyright-block .column-container .column-6-12, .previewtheme, .themedescr-container .column-3-12, .news-container .column-4-12, .article-whats-new .column-6-12, .blog-container .column-9-12, .blog-container .column-3-12 {
width: auto;
float: none;
}
.section-page-title, .section-description, .previewtheme {
text-align: center;
}
.sidebar-container, .footer, .copyright-block, .copyright-block .left, .copyright-block .right {
text-align: left;
}
.section-themedescr, .section-recent-news {
padding-bottom: 25px;
}
.article-themedescr, .article-news, .article-whats-new .article-image {
margin-bottom: 25px;
}
.footer h3 {
margin-bottom: 20px;
}
.trainers-container .column-3-12 {
width: 50%;
}
.blog-container .left .inner-page-container, .blog-container .left .sidebar-container,
.blog-container .right .inner-page-container, .blog-container .right .sidebar-container {
margin-left: 0;
margin-right: 0;
}
.sidebar-container {
padding-top: 50px;
}
.previewtheme.text-left .icons-theme, .previewtheme.text-left .button, .previewtheme.text-left .button-large, 
.previewtheme.text-center .icons-theme, .previewtheme.text-center .button, .previewtheme.text-center .button-large, 
.previewtheme.text-right .icons-theme, .previewtheme.text-right .button, .previewtheme.text-right .button-large {
margin-left: auto;
margin-right: auto;
float: none;
}
.article-themedescr .article-icon {
margin-bottom: 15px;
}
.events-container .column-2-12 {
width: 30%;
}
.events-container .column-10-12 {
width: 70%;
}
.blog-container {
background-image: none;
}
.article-blog .article-details, .pagination-container {
margin-left: 90px;
}
.wpcf7-form .button-container .wpcf7-submit {
float: none;
}
.wpcf7-text, .wpcf7-textarea, input#author, input#email, input#url, textarea#comment {
padding: 2% 10px;
width: 95%;
}
}
/**  mobile  **/
@media only screen and (max-width:480px) {
.container {
width: auto;
margin-left: 10px;
margin-right: 10px;
}
.header .social-bar, .menu-top-container, .owl-theme .owl-controls .owl-buttons, .services-container .column-12-12, .article-blog .article-info, .meta-table {
display: none;
}
.menu-top-mob-container {
display: block;
}
.header, .section-page-title, .section-description, .previewtheme, .article-blog, .single-post {
text-align: center;
}
.sidebar-container, .footer, .copyright-block, .copyright-block .left, .copyright-block .right {
text-align: left;
}
.footer-block .column-container .column-3-12, .copyright-block .column-container .column-6-12, .previewtheme, .themedescr-container .column-3-12, .news-container .column-4-12, .article-whats-new .column-6-12, .blog-container .column-9-12, .blog-container .column-3-12, .events-container .left, .events-container .right, .trainers-container .column-3-12, .services-container .column-4-12, .services-container .column-12-12 {
width: auto;
float: none;
}
.header .custom-logo-link {
float: none;
}
.header .custom-logo-link,
.article-blog .article-details, .pagination-container,
.blog-container .left .inner-page-container, .blog-container .left .sidebar-container,
.blog-container .right .inner-page-container, .blog-container .right .sidebar-container {
margin-left: 0;
margin-right: 0;
}
.blog-container {
background-image: none;
}
.sidebar-container {
padding-top: 50px;
}
.section-themedescr, .section-recent-news {
padding-bottom: 25px;
}
.article-themedescr, .article-news, .article-whats-new .article-image {
margin-bottom: 25px;
}
.events-container, .icons-theme {
display: block;
width: auto;
height: auto;
}
.icons-theme li {
display: inline-block;
width: auto;
}
.events-container .left, .events-container .right {
display: block;
padding: 15px 10px;
}
.previewtheme.text-left .icons-theme, .previewtheme.text-left .button, .previewtheme.text-left .button-large, 
.previewtheme.text-center .icons-theme, .previewtheme.text-center .button, .previewtheme.text-center .button-large, 
.previewtheme.text-right .icons-theme, .previewtheme.text-right .button, .previewtheme.text-right .button-large {
margin-left: auto;
margin-right: auto;
float: none;
}
.comment-form p.comment-form-author, .comment-form p.comment-form-email, .comment-form p.comment-form-url {
width: auto;
}
.wpcf7-form .button-container .wpcf7-submit, .form-submit #submit {
float: none;
margin-left: auto;
margin-right: auto;
}
.footer h3 {
margin-bottom: 20px;
}
.wpcf7-text, .wpcf7-textarea, input#author, input#email, input#url, textarea#comment {
padding: 2% 10px;
width: 92%;
}
}
/**  retina display  **/
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (     -o-min-device-pixel-ratio: 3/2),
only screen and (        min-device-pixel-ratio: 1.5),
only screen and (             min-resolution: 144dpi),
only screen and (            min-resolution: 1.5dppx) { 
  
  /* Retina-specific stuff here */

}